{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}


{% set foreignPower %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-5']}}{% else %}{{data['fp-6-name']}}{% endif %}{% else %}{{data['fp-7-name']}}{% endif %}{% endset %}
{% set fpCountry %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-3']}}{% else %}{{data['fp-6-country']}} - {{data['fp-6-type']}}{% endif %}{% else %}{{data['fp-7-country']}} - {{data['fp-7-type']}}{% endif %}{% endset %}



<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">

		<span class="govuk-caption-l">{% if (data['contact-name']) %}{{data['contact-name']}}{% else %}Account Name{%
			endif %}</span>
		<h1 class="govuk-heading-l">Your registrations</h1>

		<p>Start a new registration or manage your existing registrations.</p>
		<p>Read the <a href="#">guidance on completing the FIRS registration form</a>.</p>

		{% from 'govuk/components/button/macro.njk' import govukButton %}
		
		{% from 'govuk/components/button/macro.njk' import govukButton %}
			
		<div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
			
		{{ govukButton({
		href: 'registrations/registration-task-list',
		classes: '',
		text: 'Start a new registration'
		}) }}
		</div>


		<div class="govuk-grid-column-full-width">

			<div class="govuk-tabs" data-module="govuk-tabs">
				<h2 class="govuk-tabs__title">
					Contents
				</h2>
				<ul class="govuk-tabs__list">
					<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
						<a class="govuk-tabs__tab" href="#in-progress">
							In progress
						</a>
					</li>
					<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#completed">
							Completed
						</a>
					</li>
				</ul>

				<div class="govuk-tabs__panel" id="in-progress">

					<h2 class="govuk-heading-m govuk-!-padding-bottom-4">In progress</h2>

					{% if (data['registration-progress'] == 'in-progress'  or data['registration-progress'] == 'submitted') %}

					<div class="govuk-summary-card">
						<div class="govuk-summary-card__title-wrapper">
							<h2 class="govuk-summary-card__title">
								<span class="govuk-caption-m">Ref: 1349-6425-3168 </span>
								Started {{ data['registration-start-date']}}						
							</h2>
							<ul class="govuk-summary-card__actions">
								<li class="govuk-summary-card__action">
									<a class="govuk-button" href="registrations/registration-task-list">Continue<span class="govuk-visually-hidden"> of University of
											Gloucestershire (University of Gloucestershire)</span></a>
								</li>
							</ul>
						</div>
						<div class="govuk-summary-card__content">
							<dl class="govuk-summary-list">
								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Registrant
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['registrant-name']) %}
										{{data['registrant-name']}}
										{% else %}
										Not set
										{% endif %}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['registrant-progress'] == 'complete') %}
										Completed
										{% elseif (data['registrant-progress'] == 'in-progress') %}
										<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
										{% else %}
										<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
										{% endif %}
									</dd>
								</div>
								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Arrangement
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['fp-2'] == 'Yes') %}
											{% if (data['fp-4'] == 'Yes') %}
												{{foreignPower}} ({{fpCountry}})
											{% else %}
												{{foreignPower}} ({{fpCountry}})
											{% endif %}
										{% elseif (data['fp-2'] == 'No') %}
											{{foreignPower}} ({{fpCountry}})
										{% else %}
										Not set
										{% endif %}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['arrangement-progress'] == 'complete') %}
										Completed
										{% elseif (data['arrangement-progress'] == 'in-progress') %}
										<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
										{% else %}
										{% if (data['registrant-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
										{% else %}
										<span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
										{% endif %}
										{% endif %}
									</dd>
								</div>
								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Activity
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['activity-types']) %}
										{% if (data['a-pri-1']) %}<span class="govuk-summary-card__title__element">Private communication</span>{% endif %}
										{% if (data['a-pub-1']) %}<span class="govuk-summary-card__title__element">Public communication</span>{% endif %}
										{% if (data['a-mon-1']) %}<span class="govuk-summary-card__title__element">Supply of money, goods or services</span>{% endif %}
										{% if (data['a-oth-1']) %}<span class="govuk-summary-card__title__element">Other type of activity</span>{% endif %}
										{% else %}
										Not set
										{% endif %}

									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['activity-progress'] == 'complete') %}
										Completed
										{% elseif (data['activity-progress'] == 'in-progress') %}
										<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
										{% else %}
										{% if (data['arrangement-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
										{% else %}
										<span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
										{% endif %}
										{% endif %}
									</dd>
								</div>
								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Registration submitted
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['registration-progress'] == 'submitted' or data['registration-progress'] == 'complete') %}Submitted {{data['registration-submit-date']}}{% endif %}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['registration-progress'] == 'submitted') %}
										<strong class="govuk-tag govuk-tag--blue">Submitted</strong>
										{% elseif (data['registration-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--blue">Submitted</strong>
										{% elseif (data['registration-progress'] == 'in-progress') %}
										{% if (data['activity-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--turquoise">Review and submit</strong>
										{% else %}
										<span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
										{% endif %}
										{% endif %}
									</dd>
								</div>

								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Public register exception evidence
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['exception-progress'] == 'submitted') %}Submitted: 12 Oct 2024{% endif %}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['exception-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--blue">Pending review</strong>
										{% elseif (data['exception-progress'] == 'in-progress') %}
										<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
										{% else %}
										{% if (data['hold-registration'] == 'yes') %}
										<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
										{% elseif (data['hold-registration'] == 'no') %}
										None requested
										{% else %}
										<span class="govuk-task-list__status--cannot-start-yet">Complete previous sections to determine applicability</span>
										{% endif %}
										{% endif %}
									</dd>
								</div>
							</dl>
						</div>
					</div>
		
					{% else %}
						
					No registrations in progress.

					{% endif %}
		
				</div>

				<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="completed">

					<h2 class="govuk-heading-m govuk-!-padding-bottom-4">Completed</h2>

					{% if (data['registration-progress'] == 'complete') %}

					<div class="govuk-summary-card">
						<div class="govuk-summary-card__title-wrapper">
							<h2 class="govuk-summary-card__title">
								<span class="govuk-caption-m">Ref: 6425-3168-1349 </span>
								Submitted 12 Oct 2024								
							</h2>
							<ul class="govuk-summary-card__actions">
								<li class="govuk-summary-card__action">
									<a class="govuk-link show-collapsed-content" href="#">View summary<span class="govuk-visually-hidden"> of University of
											Gloucestershire (University of Gloucestershire)</span></a>
								</li>
								<li class="govuk-summary-card__action">
									<a class="govuk-link" href="#">Open<span class="govuk-visually-hidden"> of University of
											Gloucestershire (University of Gloucestershire)</span></a>
								</li>
							</ul>
						</div>
						<div class="govuk-summary-card__content govuk-summary-card__content__collapsable">
							<dl class="govuk-summary-list">
								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Registrant
									</dt>
									<dd class="govuk-summary-list__value">
										{{data['registrant-name']}}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['registrant-progress'] == 'complete') %}
										Complete
										{% elseif (data['registrant-progress'] == 'in-progress') %}
										<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
										{% else %}
										<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
										{% endif %}
									</dd>
								</div>
								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Arrangement
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['fp-2'] == 'Yes') %}
											{% if (data['fp-4'] == 'Yes') %}
												{{foreignPower}} ({{fpCountry}})
											{% else %}
												{{foreignPower}} ({{fpCountry}})
											{% endif %}
										{% else %}
											{{foreignPower}} ({{fpCountry}})
										{% endif %}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['arrangement-progress'] == 'complete') %}
										Completed
										{% elseif (data['arrangement-progress'] == 'in-progress') %}
										<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
										{% else %}
										{% if (data['registrant-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
										{% else %}
										Cannot start yet
										{% endif %}
										{% endif %}
									</dd>
								</div>
								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Activity
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['a-pri-1']) %}<span class="govuk-summary-card__title__element">Private communication</span>{% endif %}
										{% if (data['a-pub-1']) %}<span class="govuk-summary-card__title__element">Public communication</span>{% endif %}
										{% if (data['a-mon-1']) %}<span class="govuk-summary-card__title__element">Supply of money, goods or services</span>{% endif %}
										{% if (data['a-oth-1']) %}<span class="govuk-summary-card__title__element">Other type of activity</span>{% endif %}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['activity-progress'] == 'complete') %}
										Completed
										{% elseif (data['activity-progress'] == 'in-progress') %}
										<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
										{% else %}
										{% if (data['arrangement-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
										{% else %}
										<span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
										{% endif %}
										{% endif %}
									</dd>
								</div>
								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Registration submitted
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['registration-progress'] == 'submitted' or data['registration-progress'] == 'complete') %}Submitted: 12 Oct 2024{% endif %}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['registration-progress'] == 'submitted') %}
										<strong class="govuk-tag govuk-tag--blue">Submitted</strong>
										{% elseif (data['registration-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--blue">Submitted</strong>
										{% elseif (data['registration-progress'] == 'in-progress') %}
										{% if (data['activity-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--turquoise">Review and submit</strong>
										{% else %}
										<span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
										{% endif %}
										{% endif %}
									</dd>
								</div>

								<div class="govuk-summary-list__row">
									<dt class="govuk-summary-list__key">
										Public register exception evidence
									</dt>
									<dd class="govuk-summary-list__value">
										{% if (data['exception-progress'] == 'submitted') %}Submitted: 12 Oct 2024{% endif %}
									</dd>
									<dd class="govuk-summary-list__actions">
										{% if (data['exception-progress'] == 'complete') %}
										<strong class="govuk-tag govuk-tag--blue">Pending review</strong>
										{% elseif (data['exception-progress'] == 'in-progress') %}
										<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
										{% else %}
										{% if (data['hold-registration'] == 'yes') %}
										<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
										{% elseif (data['hold-registration'] == 'no') %}
										None requested
										{% else %}
										<span class="govuk-task-list__status--cannot-start-yet">Complete previous sections to determine applicability</span>
										{% endif %}
										{% endif %}
									</dd>
								</div>
							</dl>
						</div>
					</div>

					
					{% else %}
						
					No registrations completed.

					{% endif %}


				</div>
			</div>


		</div>



	</div>


	<script type="text/javascript" src="/public/javascripts/manage-card.js"></script>



	{% endblock %}