{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
Submit your registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}






{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-full-width'>
        <form action='/route-v4/regsitration-complete' method='post'>


            <h1 class='govuk-heading-l'>Submit your registration</h1>

            

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">

                        Registrant
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="#">View details<span class="govuk-visually-hidden"> of University of
                                    Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['registrant-name']}}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Arrangement
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="#">View details<span class="govuk-visually-hidden"> of University of
                                    Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Foreign Power name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['foreign-power-name']}}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Activity
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="#">View details<span class="govuk-visually-hidden"> of University of
                                    Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% if (data['a-pri-1']) %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Private communication
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-pri-1']}} {% if (data['a-pri-1-other']) %}({{data['a-pri-1-other']}}){% endif %}
                            </dd>
                        </div>
                        {% endif %}
                        {% if (data['a-pub-1']) %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Public communication
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-pub-1']}} {% if (data['a-pub-1-other']) %}({{data['a-pub-1-other']}}){% endif %}
                            </dd>
                        </div>
                        {% endif %}
                        {% if (data['a-mon-1']) %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Supply of money, goods or services
                            </dt>
                            <dd class="govuk-summary-list__value">
                                £{{data['a-mon-2']}}
                            </dd>
                        </div>
                        {% endif %}
                        {% if (data['a-oth-1']) %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Other type of activity
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['foreign-power-name']}}
                            </dd>
                        </div>
                        {% endif %}

                    </dl>
                </div>
            </div>


<!-- 
            {% if (data['a-pri-1']) %}
            <h2 class='govuk-heading-m'>Private communication</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What does the private communication involve?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-pri-1']}} {% if (data['a-pri-1-other']) %}({{data['a-pri-1-other']}}){% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pri-1">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

                {% if (data['a-pri-3--name-1']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Individuals being targeted by the private communication
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-pri-3--name-1']) %}{{data['a-pri-3--name-1']}} ({{data['a-pri-3--type-1']}}){% endif %}
                        {% if (data['a-pri-3--name-2']) %}, {{data['a-pri-3--name-2']}} ({{data['a-pri-3--type-2']}}){% endif %}
                        {% if (data['a-pri-3--name-3']) %}, {{data['a-pri-3--name-3']}} ({{data['a-pri-3--type-3']}}){% endif %}
                        {% if (data['a-pri-3--name-4']) %}, {{data['a-pri-3--name-4']}} ({{data['a-pri-3--type-4']}}){% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pri-3">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-pri-4--type-1']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Groups or categories being targeted by the private communication
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-pri-4--type-1']) %}{{data['a-pri-4--type-1']}}{% endif %}
                        {% if (data['a-pri-4--type-2']) %}<br>{{data['a-pri-4--type-2']}}{% endif %}
                        {% if (data['a-pri-4--type-3']) %}<br>{{data['a-pri-4--type-3']}}{% endif %}
                        {% if (data['a-pri-4--type-4']) %}<br>{{data['a-pri-4--type-4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pri-4">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

            </dl>     
            {% endif %}

            {% if (data['a-pub-1']) %}
            <h2 class='govuk-heading-m'>Public communication</h1>

            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What does the public communication involve?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-pub-1']}} {% if (data['a-pub-1-other']) %}({{data['a-pub-1-other']}}){% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pub-1">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% if (data['a-pub-2']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Intended target audience of the public communication
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-pub-2']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pub-2">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

            </dl>     
            {% endif %}

            {% if (data['a-mon-1']) %}
            <h2 class='govuk-heading-m'>Supply of money, goods or services</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What is being supplied?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-mon-1']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-mon-1">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total value being supplied
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £{{data['a-mon-2']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-mon-2">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Individuals or entities you are supplying
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-mon-3--name-1']) %}{{data['a-mon-3--name-1']}} ({{data['a-mon-3--type-1']}}){% endif %}
                        {% if (data['a-mon-3--name-2']) %}, {{data['a-mon-3--name-2']}} ({{data['a-mon-3--type-2']}}){% endif %}
                        {% if (data['a-mon-3--name-3']) %}, {{data['a-mon-3--name-3']}} ({{data['a-mon-3--type-3']}}){% endif %}
                        {% if (data['a-mon-3--name-4']) %}, {{data['a-mon-3--name-4']}} ({{data['a-mon-3--type-4']}}){% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-mon-3">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

            </dl>     
            {% endif %}

            {% if (data['a-oth-1']) %}
            <h2 class='govuk-heading-m'>Other type of activity</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What does the other type of activity involve?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-oth-1']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-oth-1">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

            </dl>     
            {% endif %} -->


            {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
            {{ govukCheckboxes({
                id: 'registration-declaration',
                name: 'registration-declaration',
                values: data['registration-declaration'],
                fieldset: {
                    legend: {
                        text: 'Declaration',
                        classes: 'govuk-fieldset__legend--m',
                        isPageHeading: true
                    }
                },
                hint: {
                    text: 'Information about the declaration ...'
                },
                items: [
                {
                   value: 'I confirm the above is correct',
                    text: 'I confirm the above is correct'
                }
                ]
            }) }}


            {% set exceptionOptions %}
                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
                {{ govukCheckboxes({
                    id: 'exception-options',
                    name: 'exception-options',
                    values: data['exception-options'],
                    classes: "govuk-checkboxes--small",
                    fieldset: {
                        legend: {
                            text: 'What are your reasons for the information to remain private?',
                            classes: 'govuk-fieldset__legend--s',
                            isPageHeading: false
                        }
                    },
                    hint: {
                        text: 'There are four criteria by which information can be made private from the public regsiter. Which of the following do you believe applies to your situation?'
                    },
                    items: [
                    {
                    value: "Safety to the UK",
                    text: "Safety to the UK",
                    hint: {
                        text: "Where there is a risk publication would be prejudicial to the safety or interests of the UK"
                    }
                    },
                    {
                    value: "Risk to the safety of an individual",
                    text: "Risk to the safety of an individual",
                    hint: {
                        text: "Where there is a significant risk publication would put the safety of any individual in this activity at risk of serious harm"
                    }
                    },
                    {
                    value: "Prejudicial to criminal investigation",
                    text: "Prejudicial to criminal investigation",
                    hint: {
                        text: "Where there is a risk publication would be prejudicial to a criminal investigation or proceedings, or to the prevention or detection of crime"
                    }
                    },
                    {
                    value: "Commercially sensitive",
                    text: "Commercially sensitive",
                    hint: {
                        text: "Where there is a high likelihood to seriously prejudice the commercial interests of any individual or organisation in this activity"
                    }
                    }
                ]
                }) }}
            {% endset %}


            {% set exceptionCheck %}            

            {% endset %}


            {% if (data['arrangement-tier'] == 'political') %}

                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'exception-request',
                    name: 'exception-request',
                    value: data['exception-request'],
                    fieldset: {
                        legend: {
                            text: 'Do you want to request that the information remains private?',
                            classes: 'govuk-fieldset__legend--m',
                            isPageHeading: false
                        }
                    },
                    hint: {
                        text: 'You will be asked to supply detailed reasoning and documentation to support your request in later pages.'
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes',
                        conditional: {
                            html: exceptionOptions
                        }
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}

            {% elseif (data['arrangement-tier'] == 'enhanced') %}

                {% if (data['activity-types'] == 'Other type of activity in the UK') %}

                {% else %}

                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'exception-request',
                    name: 'exception-request',
                    value: data['exception-request'],
                    fieldset: {
                        legend: {
                            text: 'Do you want to request that the information remains private?',
                            classes: 'govuk-fieldset__legend--m',
                            isPageHeading: false
                        }
                    },
                    hint: {
                        text: 'You will be asked to supply detailed reasoning and documentation to support your request in later pages.'
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes',
                        conditional: {
                            html: exceptionOptions
                        }
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}

                {% endif %}

            {% endif %}


            {{ govukButton({
            text: 'Save and continue'
            }) }}

            {% from 'govuk/components/button/macro.njk' import govukButton %}

            {{ govukButton({
            href: '../registrations/new',
            classes: 'govuk-button--secondary',
            text: 'Save and exit'
            }) }}

        </form>
    </div>
</div>
{% endblock %}