{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{% set foreignPower %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-5']}}{% else %}{{data['fp-6-name']}}{% endif %}{% else %}{{data['fp-7-name']}}{% endif %}{% endset %}
{% set fpCountry %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-3']}}{% else %}{{data['fp-6-country']}} - {{data['fp-6-type']}}{% endif %}{% else %}{{data['fp-7-country']}} - {{data['fp-7-type']}}{% endif %}{% endset %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">

		<span class="govuk-caption-l">Account home</span>
		<h1 class="govuk-heading-l">Complete your registration</h1>

		<p>You must complete your registration within the specified time limit. Read the guidance about timings.</p>


		<div class="govuk-grid-column-full-width">

			<h2 class="govuk-heading-m">Check before you start</h2>

			<ul class="govuk-task-list">
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="#"
							aria-describedby="before-you-start-1-status">
							Check your eligibility to register
						</a>
					</div>
					<div class="govuk-task-list__status" id="before-you-start-1-status">
						Optional
					</div>
				</li>
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="#"
							aria-describedby="before-you-start-2-status">
							Check what you need to register as
						</a>
					</div>
					<div class="govuk-task-list__status" id="before-you-start-2-status">
						Optional
					</div>
				</li>
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="#"
							aria-describedby="before-you-start-2-status">
							Read the guidance
						</a>
					</div>
					<div class="govuk-task-list__status" id="before-you-start-2-status">
						Optional
					</div>
				</li>
			</ul>

			<h2 class="govuk-heading-m govuk-!-margin-top-5">Prepare your registration</h2>

			<ul class="govuk-task-list">
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					<div class="govuk-task-list__name-and-hint">
						{% if (data['first-registration'] == 'not-started') %}

							<a class="govuk-link govuk-task-list__link" href="../registrant/select-registrant?first-registration=in-progress"
								aria-describedby="prepare-application-1-status">
								Add a registrant
							</a>
							<div id="application-details-3-hint" class="govuk-task-list__hint-">
								{{data['registrant-name']}}
							</div>
						{% else %}
							<a class="govuk-link govuk-task-list__link" href="../registrant/select-registrant?first-registration=in-progress"
								aria-describedby="prepare-application-1-status">
								Add a registrant
							</a>
							<div id="application-details-3-hint" class="govuk-task-list__hint-">
								{{data['registrant-name']}}
							</div>													
						{% endif %}

					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['registrant-progress'] == 'complete') %}
						Complete
						{% elseif (data['registrant-progress'] == 'in-progress') %}
						<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
						{% else %}
						<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
						{% endif %}
					</div>
				</li>
				<!-- <li class="govuk-task-list__item govuk-task-list__item--with-link govuk-task-list__item--subtask">
					<div class="govuk-task-list__name-and-hint">
						{% if (data['first-registration'] == 'not-started') %}
						<a class="govuk-link govuk-task-list__link" href="../registrant/select-registrant?first-registration=in-progress"
							aria-describedby="prepare-application-1-status">
							Verify identity
						</a>
						{% else %}
						<a class="govuk-link govuk-task-list__link" href="../registrant/select-registrant"
							aria-describedby="prepare-application-1-status">
							Verify identity
						</a>
						{% endif %}

					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['registrant-progress'] == 'complete') %}
						Complete
						{% elseif (data['registrant-progress'] == 'in-progress') %}
						<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
						{% else %}
						<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
						{% endif %}
					</div>
				</li> -->
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					{% if (data['arrangement-progress'] == 'complete') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../arrangement/fp-check"
							aria-describedby="prepare-application-2-status">
							Add an arrangement
						</a>
						<div id="application-details-3-hint" class="govuk-task-list__hint-">
							{% if (data['fp-2'] == 'Yes') %}
								{% if (data['fp-4'] == 'Yes') %}
									{{foreignPower}} ({{fpCountry}})
								{% else %}
									{{foreignPower}} ({{fpCountry}})
								{% endif %}
							{% else %}
								{{foreignPower}} ({{fpCountry}})
							{% endif %}
						</div>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-2-status">
						Complete
					</div>
					{% elseif (data['arrangement-progress'] == 'in-progress') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../arrangement/fp-check"
							aria-describedby="prepare-application-2-status">
							Add an arrangement
						</a>
						<div id="application-details-3-hint" class="govuk-task-list__hint-">
							{% if (data['fp-2'] == 'Yes') %}
								{% if (data['fp-4'] == 'Yes') %}
									{{foreignPower}} ({{fpCountry}})
								{% else %}
									{{foreignPower}} ({{fpCountry}})
								{% endif %}
							{% else %}
								{{foreignPower}} ({{fpCountry}})
							{% endif %}
						</div>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-2-status">
						<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
					</div>
					{% else %}
					{% if (data['registrant-progress'] == 'complete') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../arrangement/select-arrangement"
							aria-describedby="prepare-application-2-status">
							Add an arrangement
						</a>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
						<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
					</div>
					{% else %}
					<div class="govuk-task-list__name-and-hint">
						<div>
							Add an arrangement
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
						Cannot start yet
					</div>
					{% endif %}
				{% endif %}
				</li>
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					{% if (data['arrangement-progress']) %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../activity/a-start"
							aria-describedby="prepare-application-3-status">
							Add an activity
						</a>
						<div id="application-details-3-hint" class="govuk-task-list__hint-">
							{% if (data['a-pri-1']) %}<span class="govuk-summary-card__title__element">Private communication</span>{% endif %}
							{% if (data['a-pub-1']) %}<span class="govuk-summary-card__title__element">Public communication</span>{% endif %}
							{% if (data['a-mon-1']) %}<span class="govuk-summary-card__title__element">Supply of money, goods or services</span>{% endif %}
							{% if (data['a-oth-1']) %}<span class="govuk-summary-card__title__element">Other type of activity</span>{% endif %}
						</div>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['activity-progress'] == 'complete') %}
						Complete
						{% elseif (data['activity-progress'] == 'in-progress') %}
						<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
						{% else %}
						{% if (data['arrangement-progress'] == 'complete') %}
						<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
						{% else %}
						Cannot start yet
						{% endif %}
						{% endif %}
	</div>
					{% else %}
					<div class="govuk-task-list__name-and-hint">
						<div>
							Add an activity
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
						Cannot start yet
					</div>
					{% endif %}
				</li>
			</ul>

			<h2 class="govuk-heading-m govuk-!-margin-top-5">Check and submit your registration</h2>

			<ul class="govuk-task-list">
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					{% if (data['activity-progress'] == 'complete') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../registrations/r-check"
							aria-describedby="prepare-application-4-status">
							Check a summary of your registration and submit it to the FIRS team
						</a>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['registration-progress'] == 'submitted') %}
						<strong class="govuk-tag govuk-tag--blue">Submitted</strong>
						{% elseif (data['registration-progress'] == 'complete') %}
						<strong class="govuk-tag govuk-tag--blue">Submitted</strong>
						{% elseif (data['registration-progress'] == 'in-progress') %}
						{% if (data['activity-progress'] == 'complete') %}
						<strong class="govuk-tag govuk-tag--turquoise">Review and submit</strong>
						{% else %}
						<span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
						{% endif %}
						{% endif %}
					</div>
					{% else %}
					<div class="govuk-task-list__name-and-hint">
						<div>
							Check a summary of your registration and submit it to the FIRS team
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
						Cannot start yet
					</div>
					{% endif %}
				</li>
			</ul>

			<h2 class="govuk-heading-m govuk-!-margin-top-5">Public register</h2>

			<ul class="govuk-task-list">
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					{% if (data['activity-progress'] == 'complete') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../exception/ex-1"
							aria-describedby="prepare-application-4-status">
							You may need to provide evidence that shows why your information should remain private and not appear on the public register
						</a>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['exception-progress'] == 'complete') %}
						<strong class="govuk-tag govuk-tag--blue">Pending review</strong>
						{% elseif (data['exception-progress'] == 'in-progress') %}
						<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
						{% else %}
						{% if (data['hold-registration'] == 'yes') %}
						<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
						{% elseif (data['hold-registration'] == 'no') %}
						None requested
						{% else %}
						<span class="govuk-task-list__status--cannot-start-yet">Complete previous sections to determine applicability</span>
						{% endif %}
						{% endif %}
					</div>
					{% else %}
					<div class="govuk-task-list__name-and-hint">
						<div>
							You may need to provide evidence that shows why your information should remain private and not appear on the public register
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
						Cannot start yet
					</div>
					{% endif %}
				</li>
			</ul>
		</div>



	</div>




	{% endblock %}