{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{% set foreignPower %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-5']}}{% else %}{{data['fp-6-name']}}{% endif %}{% else %}{{data['fp-7-name']}}{% endif %}{% endset %}

{% set fpCountry %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-3']}}{% else %}{{data['fp-6-country']}} - {{data['fp-6-type']}}{% endif %}{% else %}{{data['fp-7-country']}} - {{data['fp-7-type']}}{% endif %}{% endset %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">

		<!-- <span class="govuk-caption-l">Account home</span> -->
		{% if (data['first-registration'] == 'not-started') %}
		<h1 class="govuk-heading-xl">Start your registration</h1>
		{% else %}
		<h1 class="govuk-heading-xl">Complete your registration</h1>
		{% endif %}

		<p>You must complete your registration within the specified time limit. Read the <a href="#">guidance about timings</a>.</p>


		<div class="govuk-grid-column-full-width">

			<h2 class="govuk-heading-m">Check before you start</h2>

			<p>Before you start your registration, you should:</p>

			<ul class='govuk-list govuk-list--bullet'>
				<li><a href="#">check if you are required to register</a></li>
				<li><a href="#">read the guidance</a></li>
			</ul>


			<h2 class="govuk-heading-m govuk-!-margin-top-5">Prepare your registration</h2>

			<ul class="govuk-task-list">

				<!-- REGISTRANT -->

				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					<div class="govuk-task-list__name-and-hint">
						{% if (data['first-registration'] == 'not-started') %}

							<a class="govuk-link govuk-task-list__link" href="../registrant/select-registrant?first-registration=in-progress&registration-status=in-progress"
								aria-describedby="prepare-application-1-status">
								Add a registrant
							</a>
							<div id="application-details-3-hint" class="govuk-task-list__label">
								{{data['registrant-name']}}
							</div>
						{% else %}
							<a class="govuk-link govuk-task-list__link" href="../registrant/select-registrant?first-registration=in-progress&registration-status=in-progress"
								aria-describedby="prepare-application-1-status">
								Add a registrant
							</a>
							<div id="application-details-3-hint" class="govuk-task-list__label">
								{{data['registrant-name']}}
							</div>													
						{% endif %}

					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['registrant-status'] == 'complete') %}
						Complete
						{% elseif (data['registrant-status'] == 'in-progress') %}
						<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
						{% else %}
						<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
						{% endif %}
					</div>
				</li>



				<!-- ARRANGEMENT -->

				<li class="govuk-task-list__item govuk-task-list__item--with-link">

				{% if (data['arrangement-status'] == 'complete' or data['arrangement-status'] == 'in-progress') %}

					{% if (data['reg-type'] == 'Entity' and data['reg-subtype'] == 'fpce') %}<!-- FPCE only -->
					<div class="govuk-task-list__name-and-hint">
						<div>
							Add an arrangement
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="prepare-application-2-status">
						Not applicable
					</div>

					{% else %}<!-- not fpce -->
			
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../arrangement/fp-check"
							aria-describedby="prepare-application-2-status">
							Add an arrangement
						</a>
						<div id="application-details-3-hint" class="govuk-task-list__label">
							{% if (data['fp-2'] == 'Yes') %}
								{% if (data['fp-4'] == 'Yes') %}
									{{foreignPower}} ({{fpCountry}})
								{% else %}
									{{foreignPower}} ({{fpCountry}})
								{% endif %}
							{% elseif (data['fp-2'] == 'No') %}
								{{foreignPower}} ({{fpCountry}})
							{% endif %}
						</div>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-2-status">
						{% if (data['arrangement-status'] == 'complete') %}Complete						
						{% elseif (data['arrangement-status'] == 'in-progress') %}<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
						{% endif %}
					</div>
					{% endif %}

				{% else %}
					
					{% if (data['registrant-status'] == 'complete') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../arrangement/fp-1"
							aria-describedby="prepare-application-2-status">
							Add an arrangement
						</a>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="prepare-application-2-status">
						<strong class="govuk-tag govuk-tag--green">Start</strong>
					</div>
					{% else %}						
					<div class="govuk-task-list__name-and-hint">
						<div>
							Add an arrangement
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="prepare-application-2-status">
						Cannot start yet
					</div>
					{% endif %}

				{% endif %}
				</li>

				<!-- ACTIVITY -->

				<li class="govuk-task-list__item govuk-task-list__item--with-link">
				{% if (data['activity-status'] == 'complete' or data['activity-status'] == 'in-progress') %}
					<div class="govuk-task-list__name-and-hint">
						{% if (data['activity-status'] == 'complete') %}
						<a class="govuk-link govuk-task-list__link" href="../activity/a-check"
							aria-describedby="prepare-application-3-status">
							Add an activity
						</a>
						{% elseif (data['activity-status'] == 'in-progress') %}
						<a class="govuk-link govuk-task-list__link" href="../activity/a-start"
							aria-describedby="prepare-application-3-status">
							Add an activity
						</a>
						{% endif %}
						<div id="application-details-3-hint" class="govuk-task-list__label">
							{% if (data['a-pri-1']) %}<span class="govuk-summary-card__title__element">Private communication</span>{% endif %}
							{% if (data['a-pub-1']) %}<span class="govuk-summary-card__title__element">Public communication</span>{% endif %}
							{% if (data['a-mon-1']) %}<span class="govuk-summary-card__title__element">Supply of money, goods or services</span>{% endif %}
							{% if (data['a-oth-1']) %}<span class="govuk-summary-card__title__element">Other type of activity</span>{% endif %}
						</div>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['activity-status'] == 'complete') %}
						Complete
						{% elseif (data['activity-status'] == 'in-progress') %}
						<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
						{% endif %}
					</div>

				{% else %}

					{% if (data['arrangement-status'] == 'complete') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../activity/a-start"
							aria-describedby="prepare-application-2-status">
							Add an activity
						</a>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="prepare-application-2-status">
						<strong class="govuk-tag govuk-tag--green">Start</strong>
					</div>
					{% else %}						
					<div class="govuk-task-list__name-and-hint">
						<div>
							Add an activity
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="prepare-application-2-status">
						Cannot start yet
					</div>
					{% endif %}

				{% endif %}
				</li>
			</ul>

			<h2 class="govuk-heading-m govuk-!-margin-top-5">Check and submit your registration</h2>

			<ul class="govuk-task-list">
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					{% if (data['activity-status'] == 'complete') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../registrations/r-check"
							aria-describedby="prepare-application-4-status">
							Check a summary of your registration and submit it to the Foreign Influence Registration Scheme (FIRS) team
						</a>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['registration-status'] == 'submitted') %}
						<strong class="govuk-tag govuk-tag--blue">Submitted</strong>
						{% elseif (data['registration-status'] == 'complete') %}
						<strong class="govuk-tag govuk-tag--blue">Submitted</strong>
						{% elseif (data['registration-status'] == 'in-progress') %}
						{% if (data['activity-status'] == 'complete') %}
						<strong class="govuk-tag govuk-tag--turquoise">Review and submit</strong>
						{% else %}
						<span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
						{% endif %}
						{% endif %}
					</div>
					{% else %}
					<div class="govuk-task-list__name-and-hint">
						<div>
							Check a summary of your registration and submit it to the Foreign Influence Registration Scheme (FIRS) team
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
						Cannot start yet
					</div>
					{% endif %}
				</li>
			</ul>

			<h2 class="govuk-heading-m govuk-!-margin-top-5">Public register</h2>

			<ul class="govuk-task-list">
				<li class="govuk-task-list__item govuk-task-list__item--with-link">
					{% if (data['activity-progress'] == 'complete') %}
					<div class="govuk-task-list__name-and-hint">
						<a class="govuk-link govuk-task-list__link" href="../exception/ex-1"
							aria-describedby="prepare-application-4-status">
							Complete this section if your information is set to be published on the FIRS public register and you want any of it to remain private
						</a>
					</div>
					<div class="govuk-task-list__status" id="prepare-application-1-status">
						{% if (data['exception-progress'] == 'complete') %}
						<strong class="govuk-tag govuk-tag--blue">Pending review</strong>
						{% elseif (data['exception-progress'] == 'in-progress') %}
						<strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
						{% else %}
						{% if (data['hold-registration'] == 'yes') %}
						<strong class="govuk-tag govuk-tag--turquoise">Start</strong>
						{% elseif (data['hold-registration'] == 'no') %}
						None requested
						{% else %}
						<span class="govuk-task-list__status--cannot-start-yet">Complete previous sections to determine applicability</span>
						{% endif %}
						{% endif %}
					</div>
					{% else %}
					<div class="govuk-task-list__name-and-hint">
						<div>
							Complete this section if your information is set to be published on the FIRS public register and you want any of it to remain private
						</div>
					</div>
					<div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
						Cannot start yet
					</div>
					{% endif %}
				</li>
			</ul>
		</div>



	</div>




	{% endblock %}