{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="communication-category" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">About the private communication</span>
          {% if (data['activityStarted'] == "no") %}
          <label class="govuk-label govuk-label--l" for="communicationName">
            Who will receive the communication?
          </label>
          {% else %}
          <label class="govuk-label govuk-label--l" for="communicationName">
            Who received the communication?
          </label>
          {% endif %}
        </h1>
        <div id="email-hint" class="govuk-hint">
          For example, the full name of person who will receive a letter, or take part in a conversation.
        </div>
        <input class="govuk-input" id="communicationName" name="communicationName" type="text" value="{{data['communicationName']}}">
      </div>
    
 

  



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>

{% endblock %}
