{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      <h2 class="govuk-heading-m">Money, goods or services details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Type of money, goods or services"
            },
            value: {
              text: data['disbursementNature'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-nature",
                  text: "Change",
                  visuallyHiddenText: "Type of money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Total value"
            },
            value: {
              text: data['disbursementValue']              
            },
            actions: {
              items: [
                {
                  href: "disbursement-value",
                  text: "Change",
                  visuallyHiddenText: "Total value of money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Name of recipient"
            },
            value: {
              text: data['disbursementName'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-name",
                  text: "Change",
                  visuallyHiddenText: "Name of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Role or job title"
            },
            value: {
              text: data['disbursementRole'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-role",
                  text: "Change",
                  visuallyHiddenText: "Role or job title of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['disbursementEmail'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-email",
                  text: "Change",
                  visuallyHiddenText: "Email address of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: data['disbursementPhone'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Telephone number of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: data['disbursementAddress'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-address",
                  text: "Change",
                  visuallyHiddenText: "Address of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Purpose of offer"
            },
            value: {
              text: data['disbursementPurpose'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-purpose",
                  text: "Change",
                  visuallyHiddenText: "Purpose of offering money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Outcome of offer"
            },
            value: {
              text: data['disbursementOutcome'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-outcome",
                  text: "Change",
                  visuallyHiddenText: "Expected outcome of the offer of money, goods or services"
                }
              ]
            }
          }
        ]
      }) }}

  
      {% if (data['journey'] == 'complete') %}
      <form action="/arrangement-alt-simple/arrangement-overview?disbursement-check=completed" method="post" novalidate>

        {{ govukButton({
          text: "Save and return to overview"
        }) }}

      </form>
      {% else %}
      <form action="/arrangement-alt-simple/arrangement-overview?disbursment-check=completed" method="post" novalidate>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
      {% endif %}

     
    </div>
  </div>
{% endblock %}
