{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="public-nature" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">About the public communication</span>
                    <label class="govuk-label govuk-label--l" for="publicAudience">
            Who are the intended audience for the public communication?
          </label>
          
        </h1>
       
        <textarea class="govuk-textarea" id="public-audience" name="publicAudience" rows="3" aria-describedby="public-audience-hint">{{data['publicAudience']}}</textarea>
      </div>
    
 

  



      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>


  </div>
</div>

{% endblock %}
