{% extends "layouts/v4-header-1.html" %}
{% set bodyClasses = "registration" %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "account-1",
         text: "Initial account home"
       },
       {
         href: "account-3",
         text: "Completed account home"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">


		<span class="govuk-caption-l">{% if (data['acc-type']) %}{{data['acc-type']}} account{% else %}Account type{% endif %}</span>

		<h1 class="govuk-heading-l">{% if (data['acc-type'] == "Individual") %}{{data['v-on-2']}}{% elseif (data['acc-type'] == "Organisation") %}{{data['v-on-3']}}{% else %}Regsitrant Name{% endif %}</h1>

		<p>This is your account home for the Foreign Influence Regsitration Scheme (FIRS).<br> You can return to this <strong>Account</strong> page at any time to find common actions and account wide statuses.</p>

		{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

		{% if (data['acc-type'] == "Individual") %}

			{{ govukSummaryList({
			  card: {
			    title: {
			      text: "Account information"
			    }
			  },
			  rows: [
			    {
			      key: {
			        text: "Contact details"
			      },
			      value: {
			        html: "<strong class='govuk-tag govuk-tag--green'>Completed</strong>"
			      },
			      actions: {
			        items: [
			          {
			            href: "#",
			            text: "Update",
			            visuallyHiddenText: "age"
			          }
			        ]
			      }
			    },
			    {
			      key: {
			        text: "Identity Verification"
			      },
			      value: {
			        html: "<strong class='govuk-tag govuk-tag--blue'>Pending verification</strong>"
			      },
			      actions: {
			        items: [
			          {
			            href: "#",
			            text: "Update",
			            visuallyHiddenText: "working situation"
			          }
			        ]
			      }
			    },
			    {
			      key: {
			        text: "Delegated authority"
			      },
			      value: {
			        html: "<strong class='govuk-tag govuk-tag--grey'>None</strong>"
			      },
			      actions: {
			        items: [
			          {
			            href: "#",
			            text: "Update",
			            visuallyHiddenText: "working situation"
			          }
			        ]
			      }
			    }
			  ]
			}) }}

		{% elseif (data['acc-type'] == "Organisation") %}


			{{ govukSummaryList({
			  card: {
			    title: {
			      text: "Account information"
			    }
			  },
			  rows: [
			    {
			      key: {
			        text: "Contact details"
			      },
			      value: {
			        html: "<strong class='govuk-tag govuk-tag--green'>Completed</strong>"
			      },
			      actions: {
			        items: [
			          {
			            href: "#",
			            text: "Update",
			            visuallyHiddenText: "age"
			          }
			        ]
			      }
			    },
			    {
			      key: {
			        text: "Organisation details"
			      },
			      value: {
			        html: "<strong class='govuk-tag govuk-tag--light-blue'>In progress</strong>"
			      },
			      actions: {
			        items: [
			          {
			            href: "#",
			            text: "Update",
			            visuallyHiddenText: "age"
			          }
			        ]
			      }
			    },			    
			    {
			      key: {
			        text: "Officer Identity Verification"
			      },
			      value: {
			        html: "<strong class='govuk-tag govuk-tag--blue'>Pending verification</strong>"
			      },
			      actions: {
			        items: [
			          {
			            href: "#",
			            text: "View",
			            visuallyHiddenText: "working situation"
			          }
			        ]
			      }
			    },
			    {
			      key: {
			        text: "Delegated authority"
			      },
			      value: {
			        html: "<strong class='govuk-tag govuk-tag--grey'>None</strong>"
			      },
			      actions: {
			        items: [
			          {
			            href: "#",
			            text: "Update",
			            visuallyHiddenText: "working situation"
			          }
			        ]
			      }
			    }
			  ]
			}) }}

		{% endif %}





		{{ govukSummaryList({
		  card: {
		    title: {
		      text: "Registrations"
		    }
		  },
		  rows: [
		    {
		      key: {
		        text: "Foreign Power X"
		      },
		      value: {
		        html: "2 Activities"
		      },
		      actions: {
		        items: [
		          {
		            href: "#",
		            text: "View",
		            visuallyHiddenText: "age"
		          }
		        ]
		      }
		    }
		  ]
		}) }}


		<div class="firs-home-containers">

			<div class="firs-home-containers__panel">
				<a href="account/update" class="govuk-link">
					<h3 class="govuk-heading-m">Update account details</h3>
					<p>Update contact details such as email, telephone numbers, and registered addresses.</p>
				</a>
			</div>

			<div class="firs-home-containers__panel">
				<a href="registrations" class="govuk-link">
					<h3 class="govuk-heading-m">View your registrations</h3>
					<p>View the registrations you have with foreign powers, and the activities assigned to each.</p>
				</a>
			</div>

			<div class="firs-home-containers__panel">
				<a href="messages" class="govuk-link">
					<h3 class="govuk-heading-m">Contact FIRS</h3>
					<p>Contact the case working team to request material changes to your registrations and activities, and follow up any requests for more information.</p>
				</a>
			</div>

		</div>
	</div>

</div>




{% endblock %}