{% if (data['setup'] == 'incomplete') %}
{% extends 'layouts/v3-header-one-0.html' %}
{% else %}
{% extends "layouts/v4-header-1.html" %}
{% endif %}
{% set activeLinkId = 'account' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
        Add your contact details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='contact-start-check' method='post'>
    
                <span class='govuk-caption-l'>Setup your Foreign Influence Registration Scheme account</span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'contact-phone',
                    name: 'contact-phone',
                    value: data['contact-phone'],
                    label: {
                        text: 'What is your contact telephone number?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    }
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}