{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'account' %}

{% block pageTitle %}
Contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Contact details</h1>
        <p>You can change these details here.</p>

        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['co-2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../setup/co-2?return=contact">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if (data['ol-4'] == 'Text message') %}
                        {% if (data['co-3-text'] == 'Yes') %}
                            {{data['ol-5']}}
                            {% else %}
                            {{data['co-3-alternate']}}
                        {% endif %}
                    {% else %}                                
                        {{data['co-3-app']}}
                    {% endif %}

                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if (data['ol-4'] == 'Text message') %}
                    <a class="govuk-link" href="../setup/co-3-text?return=contact">Change<span class="govuk-visually-hidden"> Telephone number</span></a>
                    {% else %}                                
                    <a class="govuk-link" href="../setup/co-3-app?return=contact">Change<span class="govuk-visually-hidden"> Telephone number</span></a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['ol-1']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    
                </dd>
            </div>
        </dl>


        {{ govukButton({
        text: "Return to Account",
        href: "../account"
        }) }}

    </div>

</div>




{% endblock %}