{% extends "layouts/v3-min.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/0-3" method="post">

			<span class="govuk-caption-l">Check if you need to register for the Foreign Influence Registration Scheme</span>
			
			{% set dynamic1 %}
				{% if (data['v0-0'] == "Myself as an individual") %}
				As part of these political influencing activities, which of these do you work with, or have any agreements with?
				{% elseif (data['v0-0'] == "My organisation") %}
				As part of these political influencing activities, which of these does your organisation work with, or have any agreements with?
				{% elseif (data['v0-0'] == "Another individual") %}
				As part of these political influencing activities, which of these does the individual work with, or have any agreements with?
				{% else %}
				As part of these political influencing activities, which of these does the organisation work with, or have any agreements with?
				{% endif %}
			{% endset -%}
			
			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			

			{{ govukRadios({
			    name: "v0-3",
			    id: "v0-3",
			    value: data['v0-3'],
			    fieldset: {
			    legend: {
			        text: dynamic1,
			        isPageHeading: true,
			        classes: "govuk-fieldset__legend--l"
			    }
			    },
			    hint: {
			    	html: "
			    	<p class='govuk-hint'>This includes working directly for or on behalf of any of these.</p>"
			    },
			    items: [
			    {
			        value: "Government based in any country except UK and Ireland",
			        text: "Government based in any country except UK and Ireland"
			    },
			    {
			        value: "Political party based in any country except UK and Ireland",
			        text: "Political party based in any country except UK and Ireland"
			    },
			    {
			        value: "Sovereign based in any country except UK and Ireland",
			        text: "Sovereign based in any country except UK and Ireland"
			    },
			    {
			        value: "Head of state based in any country except UK and Ireland",
			        text: "Head of state based in any country except UK and Ireland"
			    },
			    {
			        divider: "or"
			    },
			    {
			        value: "None of these",
			        text: "None of these"
			    }
			    ]
			}) }}

			{{ govukInput({
				id: "q0-3",
				name: "q0-3",
				value: dynamic1,
				classes: "hidden",
				label: {
					text: "Question 0-3",
					classes: "govuk-label--s hidden",
					isPageHeading: true
				}
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}


            {{ govukDetails({
              summaryText: "What is an agreement?",
              text: "An agreement includes activities ranging from a legally enforceable contract to an informal, but clear, written or verbal understanding."
            }) }}


		</form>

		<h3 class="govuk-heading-m">Your answers</h3>

		<p><a href="../eligibility">Start again</a></p>	

		<dl class="govuk-summary-list">

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				  Who are you registering for
				</dt>
				<dd class="govuk-summary-list__value">
				  {{data['v0-0']}}
				</dd>
				<dd class="govuk-summary-list__actions">
				  <a class="govuk-link" href="0-1">Change<span class="govuk-visually-hidden"> name</span></a>
				</dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				  {{data['q0-2']}}				
				</dt>
				<dd class="govuk-summary-list__value">
				  {{data['v0-2']}}
				</dd>
				<dd class="govuk-summary-list__actions">
				  <a class="govuk-link" href="0-1">Change<span class="govuk-visually-hidden"> name</span></a>
				</dd>
			</div>

		</dl>


	</div>

</div>




{% endblock %}