{% extends "layouts/main-w-nav.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['activity-stream'] == 'communication') %}
      <span class="govuk-caption-l">About the private communication</span>
      {% elseif (data['activity-stream'] == 'public') %}
      <span class="govuk-caption-l">About the public communication</span>
      {% elseif (data['activity-stream'] == 'disbursement') %}
      <span class="govuk-caption-l">About the distribution of money, goods, or services</span>
      {% else %}
      <span class="govuk-caption-l">About the activities</span>
      {% endif %}
      <h1 class="govuk-heading-l"><!-- communication -->
        Do you know when the activities will end?
      </h1>

      <form action="/beta/activities/communication/activity-end-answer" method="post">
   
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "activityKnown-" + data['activity-stream'],
        fieldset: {
          legend: {
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          },
          {
            divider: "or"
          },
          {
            value: "already",
            text: "They have already ended"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
