{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a live service and is for testing only.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/communication/communication-check" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">About the communication</span>
          <label class="govuk-label govuk-label--l" for="communicationOutcome">
            What outcome do you expect from the communication?
          </label>
        </h1>
        <div id="communication-outcome-hint" class="govuk-hint">
          We need to know what you think should happen as a result of the communication. For example, that sanctions are imposed against x entity. 
        </div>
        <textarea class="govuk-textarea" id="communication-outcome" name="communicationOutcome" rows="3" aria-describedby="communication-outcome-hint"></textarea>
      </div>
    
 

  



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>



  </div>
</div>

{% endblock %}
