//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

#js-activity-wrapper  {
    > .govuk-fieldset {
        padding: 20px;
        background: #f3f2f1;
        box-shadow: -2px 0 0 #929191;
        > .govuk-fieldset__legend {
            margin-bottom: 50px;
            bottom: -40px;
            position: relative;
        }
    }
}