//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

#js-activity-wrapper  {
    > .govuk-fieldset {
        padding: 20px;
        background: #f3f2f1;
        box-shadow: 0 0 1px #333;
        > .govuk-fieldset__legend {
            margin-bottom: 50px;
            bottom: -40px;
            position: relative;
        }
    }
}

.person-module {
    margin-bottom: 20px;
    .min-label {
        display: none;
    }
    .update-button-group {
        &.update-button-group--hidden {
            display: none;
        }
    }
    &.person-module--hidden {
        .govuk-form-group,
        .govuk-fieldset__legend {
            display: none;
        }
        .govuk-fieldset__legend {
        }
        .min-label {
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .person-texts {
                * {
                    margin: 0;
                }
                .govuk-caption-m {
                    display: none;
                }
            }
            .person-actions {
                // margin: 0;
                flex-shrink: 0;
                height: fit-content;
            }
        }
    }
    .govuk-summary-card__actions {

        &--undo {
            display: none;
        }
    }
    .govuk-summary-card__action {
        &--undo {
            // display: none;
        }
    }

    &.person-module--delete {
       .person-texts .govuk-heading-m {
            &:before {
                content: "Delete: ";
            }
        }
        .govuk-summary-card__actions {
            display: none;

            &--undo {
                display: flex;
            }
        }
    }
    &.person-module--deleted {
        display: none;
    }
}

.govuk-tag {
    max-width: 200px;
}

.govuk-panel--interuption {
    background: #ddd;
    .govuk-body strong {
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        display: inline-block;
    }
}


.exception-checkbox {
    // top: 10px;
    position: relative;

    &:before {
        left: 0;
        width: 24px;
        height: 24px;
        // content: "";
        display: inline-block;
        outline: 2px solid black;        
    }

    input {
        // opacity: 0;
        // position: relative;
        // left: -999em;

        width: 24px;
        height: 24px;

        &:hover {
            border: 5px solid rgba(0,0,0,0.5);
        }
    }

}

/// NAV

body.home li.li-home {border-bottom: 4px solid #1d70b8;}
body.account li.li-account {border-bottom: 4px solid #1d70b8;}
body.registration li.li-registration {border-bottom: 4px solid #1d70b8;}
body.agreement li.li-agreement {border-bottom: 4px solid #1d70b8;}
body.arrangement li.li-arrangement {border-bottom: 4px solid #1d70b8;}
body.activities li.li-activities {border-bottom: 4px solid #1d70b8;}
body.messages li.li-messages {border-bottom: 4px solid #1d70b8;}

///


.js-show-more {
    border: none;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: 0.1578em;  
    color: #1d70b8;  
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    font-weight: 700;
    > span:before {
        content: "Show"
    }
    .show-more & {
        > span:before {
            content: "Hide"
        }
    }
}

.govuk-accordion-nav__chevron {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border: .0625rem solid;
    border-radius: 50%;
    vertical-align: middle;    
    &:after {
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        bottom: .3125rem;
        left: .375rem;
        width: .375rem;
        height: .375rem;
        transform: rotate(-45deg);
        border-top: .125rem solid;
        border-right: .125rem solid;
    }
    &--down {
        transform: rotate(180deg);    
    }

}

.show-more {
    .govuk-accordion-nav__chevron--down {
        transform: rotate(0deg);
    }
}

.govuk-summary-card {
    &__action {
        padding-left: 10px;
    }
    &.is-collapsable {
        .govuk-summary-card__content {
            display: none;
        }

        &.show-more {
            .govuk-summary-card__content {
                display: inline-block;
            }

        }
    }
}



.firs-block-top-border {
    border-top: 2px solid #b1b4b6;
    padding-top: 20px;
    &--complementary {
        border-top: 2px solid #1d70b8;
        margin-top: 20px;
        padding-top: 20px;
    }
}