{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "arrangement" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

          {% set html %}
            <p class="govuk-notification-banner__heading">
            If you are filling this in on behalf of someone else, such as a client, answer the questions as though you were them.
            <!--<a class="govuk-notification-banner__link" href="#">View application</a>.-->
            </p>
          {% endset %}

          {{ govukNotificationBanner({
            html: html
          }) }}         


            <span class="govuk-caption-l">About the arrangement</span>
             <!-- [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} ] -->
          <div>

            <form class="form" action="/route/3-0" method="post">

                {{ govukRadios({
                name: "v3-0",
                fieldset: {
                legend: {
                text: "Are you in an arrangement with a foreign power?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
                },
                items: [
                {
                value: "yes",
                text: "Yes"
                },
                {
                value: "no",
                text: "No"
                }
                ]
                }) }}


                {{ govukButton({
                text: "Continue"
                }) }}

            </form>


            {% from "govuk/components/details/macro.njk" import govukDetails %}

            {{ govukDetails({
              summaryText: "What is a foreign power?",
              text: "We need to know the name of the foreign government or local authority, Sovereign, or Head of State that directed you to carry out an activity."
            }) }}

          </div>
        
        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

        </div>

      </div>

{% endblock %}
