{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "activity-types-plus-none",
         text: "Activity types, with option for 'None'"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">About the activity [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} ]</span>
        <div>

        <form class="form" action="/route/3-0" method="post">

            {{ govukRadios({
            name: "v3-0",
            fieldset: {
            legend: {
            text: "Is your organisation in an arrangement with a foreign power?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
            },
            items: [
            {
            value: "yes",
            text: "Yes"
            },
            {
            value: "no",
            text: "No"
            }
            ]
            }) }}


            {{ govukButton({
            text: "Save and continue"
            }) }}

        </form>

        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

        </div>

{% endblock %}
