{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "arrangement" %}

{% block pageTitle %}
    Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">About the arrangement</span>
        {% if (data['titles']) == "dynamic" %}
        <h1 class="govuk-heading-l">What is the nature and form of the arrangement between {{data['dynamic']}} and {{data['v3-1']}}?</h1>
        {% else %}
        <h1 class="govuk-heading-l">What is the nature and form of the arrangement with the foreign power?</h1>
        {% endif %}

             <!-- [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} ] -->
    <div>

    <form class="form" action="3-2-2" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "v3-2-1",
          id: "v3-2-1",
          value: data['v3-2-1'],
          label: {
            text: "What is the nature and form of the arrangement between "+data['dynamic']+" and "+data['v3-1']+"?",
            classes: "hidden",
            isPageHeading: false
          }
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}

    </form>

    <!-- <p>
    {{ data['activityTypes'] }}
    </p> -->

</div>

{% endblock %}
