{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
    Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">About the activity [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} // tier:  {{data['tier']}}]</span>
    <div>

    <form class="form" action="3-3-2" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set otherType %}
        {{ govukInput({
          id: "v3-3-1--other-type",
          name: "v3-3-1--other-type",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please describe"
          }
        }) }}
        {% endset -%}

        {% set coalition %}
        {{ govukInput({
          id: "v3-3-1--coalition",
          name: "v3-3-1--coalition",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Name the coalition parties"
          }
        }) }}
        {% endset -%}

        {% set localAuthority %}
        {{ govukInput({
          id: "v3-3-1--coalition",
          name: "v3-3-1--coalition",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Name of the Local Authority"
          }
        }) }}
        {% endset -%}


        {{ govukRadios({
          name: "v3-3-1",
          fieldset: {
            legend: {
              text: "How would you describe the foreign power in the arrangement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "National Government",
              text: "National Government"
            },
            {
              value: "Coalition Government",
              text: "Coalition Government",
              conditional: {
                html: coalition
              }
            },
            {
              value: "Local Authority",
              text: "Local Authority",
              conditional : {
                html: localAuthority
              }
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherType
              }
            }
          ]
        }) }}
        {{ govukButton({
        text: "Save and continue"
        }) }}

    </form>

    <!-- <p>
    {{ data['activityTypes'] }}
    </p> -->

</div>

{% endblock %}
