{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "arrangement" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before saving this activity
      </h1>
      <p>You will be able to amend this activity later.</p>

      <h2 class="govuk-heading-m">Arrangement with {{ data['v3-1']}} </h2>

        <dl class="govuk-summary-list">


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Foreign power
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-3']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-1">Change<span class="govuk-visually-hidden"> Foreign power</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Type of foreign power 
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-3-1']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-1">Change<span class="govuk-visually-hidden"> Type of foreign power</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Name of foreign power 
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-3-2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-1">Change<span class="govuk-visually-hidden"> Type of foreign power</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Nature and form of the arrangement 
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-3-3']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-3-3">Change<span class="govuk-visually-hidden"> Nature and form of the arrangement</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                First contact with foreign power
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-3-4-day']}}/{{data['v3-3-4-month']}}/{{data['v3-3-4-year']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-3-4">Change<span class="govuk-visually-hidden"> your involvement in this activity</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Formal contract or agreement with foreign power
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-3-4a-day']}}/{{data['v3-3-4a-month']}}/{{data['v3-3-4a-year']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-3-4a">Change<span class="govuk-visually-hidden"> your involvement in this activity</span></a>
                </dd>
            </div>
<!--             {% if (data['v4-G1-3--t3--name-1']) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Others involved in the activity
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-G1-3--t3--name-1']}}{% if (data['v4-G1-3--t3--name-2']) %}, {{data['v4-G1-3--t3--name-2']}}{% endif %}{% if (data['v4-G1-3--t3--name-3']) %}, {{data['v4-G1-3--t3--name-3']}}{% endif %}{% if (data['v4-G1-3--t3--name-4']) %}, {{data['v4-G1-3--t3--name-4']}}{% endif %}{% if (data['v4-G1-3--t3--name-5']) %}, {{data['v4-G1-3--t3--name-5']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Others involved in the activity</span></a>
                </dd>
            </div>{% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Others involved in the activity
                </dt>
                <dd class="govuk-summary-list__value">
                    None stated
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Others involved in the activity</span></a>
                </dd>
            </div>
            {% endif %}


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Intended audience
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-3-1']) %}{{data['v4-3-1']}}
                {% else %}
                None Stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-2-1">Change<span class="govuk-visually-hidden"> Intended audience</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Activity start date
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-G2-1--t3']) == "yes" %}
                {{data['v4-G2-1--t3-day']}}/{{data['v4-G2-1--t3-month']}}/{{data['v4-G2-1--t3-year']}}
                {% else %}
                None stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Activity end date
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-G2-2--t3']) == "yes" %}
                {{data['v4-G2-2--t3-day']}}/{{data['v4-G2-2--t3-month']}}/{{data['v4-G2-2--t3-year']}}
                {% else %}
                None stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Frequency of activity
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-G2-3--t3']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Expected outcome
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-2-2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div> -->

           

        </dl>

      <div class="govuk-button-group">

        <a href="/beta/activities/summary" class="govuk-button ">Save and close activity</a>

        <a href="/beta/activities/new" class="govuk-button govuk-button--secondary">Add another activity</a>

      </div>

    </div>
  </div>
{% endblock %}
