{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "arrangement" %}

{% block pageTitle %}
    Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">About the arrangement [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} // tier:  {{data['tier']}}]</span>
    <div>

    <form class="form" action="3-3-1" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          name: "v3-3",
          id: "v3-3",
          label: {
            text: "What country does the foreign power in the arrangement represent?",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
        text: "Save and continue"
        }) }}

    </form>

    <!-- <p>
    {{ data['activityTypes'] }}
    </p> -->

</div>

{% endblock %}
