{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "arrangement" %}

{% block pageTitle %}
    Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">About the arrangement [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} // tier:  {{data['tier']}}]</span>
    <div>

    <form class="form" action="/route/3-4" method="post">

        {{ govukRadios({
        name: "v3-4",
        fieldset: {
            legend: {
                text: "Are you in an arrangement with foreign power controlled organisation listed below?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l",
                html: 'Are you in an arrangement with foreign power controlled organisation listed below?
                <span class="govuk-body">
                    <p class="govuk-body-l">

                    &ndash; kGB News</br>
                    &ndash; Russia Today</p>
                </span>'
            }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
        }) }}

        {{ govukButton({
        text: "Save and continue"
        }) }}

    </form>

    <!-- <p>
    {{ data['activityTypes'] }}
    </p> -->

</div>

{% endblock %}
