{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "arrangement" %}

{% block pageTitle %}
    Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">About the arrangement</span>
             <!-- [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} ] -->
        {% if (data['titles']) == "dynamic" %}
        <h1 class="govuk-heading-l">Does {{data['dynamic']}} have an arrangement with any of these organisations?</h1>
        {% elseif (data['titles']) == "static" %}
        <h1 class="govuk-heading-l">Does {{data['dynamic']}} have an arrangement with any of these organisations?</h1>
        {% else %}
        <h1 class="govuk-heading-l">Do you have an arrangement with any of these organisations?</h1>
        {% endif %}
    <div>

    <form class="form" action="/route/3-4" method="post">

        {{ govukCheckboxes({
        name: "v3-4",
        values: "v3-4",
        classes: "govuk-checkboxes--small",
        fieldset: {
            legend: {
                text: "Do you have an agreement with any of these organisations?",
                isPageHeading: false,
                classes: "hidden"
            }
        },
        items: [
            {
                value: "Organisation 1",
                text: "Organisation 1"
            },
            {
                value: "Organisation 2",
                text: "Organisation 2"
            },
            {
                value: "Organisation 3",
                text: "Organisation 3"
            },
            {
                value: "Organisation 4",
                text: "Organisation 4"
            },
            {
                value: "Organisation 5",
                text: "Organisation 5"
            },
            {
                value: "Organisation 6",
                text: "Organisation 6"
            },
            {
                divider: "or"
            },
            {
                value: "None",
                text: "No, I do not have an agreement with any of these organisations",
                behaviour: "exclusive"
            }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "What is an agreement?",
          text: "An agreement includes activities ranging from a legally enforceable contract to an informal, but clear, written or verbal understanding."
        }) }}



    </form>

    <!-- <p>
    {{ data['activityTypes'] }}
    </p> -->

</div>

{% endblock %}
