{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "arrangement" %}

{% block pageTitle %}
    Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">About the arrangement</span>
             <!-- [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} ] -->


        {% if (data['titles']) == "dynamic" %}
        <h1 class="govuk-heading-l">Does {{data['dynamic']}} have an arrangement with any of these organisations?</h1>

        <form class="form" action="/route/3-4" method="post">

            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend hidden">
                
                  Do you have an agreement with any of these organisations?
                
                </legend>
                
              
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4" name="v3-4" type="checkbox" value="Organisation 1">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4">
                      Organisation 1
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-2" name="v3-4" type="checkbox" value="Organisation 2">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-2">
                      Organisation 2
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-3" name="v3-4" type="checkbox" value="Organisation 3">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-3">
                      Organisation 3
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-4" name="v3-4" type="checkbox" value="Organisation 4">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-4">
                      Organisation 4
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-5" name="v3-4" type="checkbox" value="Organisation 5">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-5">
                      Organisation 5
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-6" name="v3-4" type="checkbox" value="Organisation 6">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-6">
                      Organisation 6
                    </label>
                    
                  </div>
                  
                
                  <div class="govuk-checkboxes__divider">or</div>
                
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-8" name="v3-4" type="checkbox" value="None" data-behaviour="exclusive">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-8">
                      No, {{data['dynamic']}} does not have an agreement with any of these organisations
                    </label>
                    
                  </div>
                  
                </div>
              
              </fieldset>

            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>                    

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What is an agreement?
                </span>
              </summary>
              <div class="govuk-details__text">
                An agreement includes activities ranging from a legally enforceable contract to an informal, but clear, written or verbal understanding.
              </div>
            </details>




        </form>


        {% else %}


        {% if (data['registrant-type'] == "individual") %}
        <h1 class="govuk-heading-l">Do you have an arrangement with any of these organisations?</h1>
        {% else %}
        <h1 class="govuk-heading-l">Does your organisation have an arrangement with any of these organisations?</h1>
        {% endif %}



        <form class="form" action="/route/3-4" method="post">

            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend hidden">
                
                  Do you have an agreement with any of these organisations?
                
                </legend>
                
              
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4" name="v3-4" type="checkbox" value="Organisation 1">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4">
                      Organisation 1
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-2" name="v3-4" type="checkbox" value="Organisation 2">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-2">
                      Organisation 2
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-3" name="v3-4" type="checkbox" value="Organisation 3">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-3">
                      Organisation 3
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-4" name="v3-4" type="checkbox" value="Organisation 4">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-4">
                      Organisation 4
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-5" name="v3-4" type="checkbox" value="Organisation 5">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-5">
                      Organisation 5
                    </label>
                    
                  </div>
                  
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-6" name="v3-4" type="checkbox" value="Organisation 6">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-6">
                      Organisation 6
                    </label>
                    
                  </div>
                  
                
                  <div class="govuk-checkboxes__divider">or</div>
                
                {% if (data['registrant-type'] == "individual") %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-8" name="v3-4" type="checkbox" value="None" data-behaviour="exclusive">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-8">
                      No, I do not have an agreement with any of these organisations
                    </label>
                    
                  </div>
                {% else %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-4-8" name="v3-4" type="checkbox" value="None" data-behaviour="exclusive">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-4-8">
                      No, my organisation does not have an agreement with any of these organisations
                    </label>
                    
                  </div>
                {% endif %}
                  
                  
                </div>
              
              </fieldset>

            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>                    

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What is an agreement?
                </span>
              </summary>
              <div class="govuk-details__text">
                An agreement includes activities ranging from a legally enforceable contract to an informal, but clear, written or verbal understanding.
              </div>
            </details>




        </form>
        {% endif %}



    <!-- <p>
    {{ data['activityTypes'] }}
    </p> -->

</div>

{% endblock %}
