{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "arrangement" %}

{% block pageTitle %}
    Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">About the arrangement</span>
        {% if (data['titles']) == "dynamic" %}
        <h1 class="govuk-heading-l">Does {{data['dynamic']}} work for any of these organisations?</h1>
         <!-- [registrant-type: {{data['registrant-type']}} // mode: {{data['mode']}} ] -->


        <form class="form" action="/route/3-5" method="post">

            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend hidden">
                
                  Do you work for any of these organisations?
                
                </legend>
                
              
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5" name="v3-5" type="checkbox" value="Organisation 1">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5">
                      Organisation 1
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-2" name="v3-5" type="checkbox" value="Organisation 2">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-2">
                      Organisation 2
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-3" name="v3-5" type="checkbox" value="Organisation 3">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-3">
                      Organisation 3
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-4" name="v3-5" type="checkbox" value="Organisation 4">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-4">
                      Organisation 4
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-5" name="v3-5" type="checkbox" value="Organisation 5">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-5">
                      Organisation 5
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-6" name="v3-5" type="checkbox" value="Organisation 6">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-6">
                      Organisation 6
                    </label>
                    
                  </div>
                
                  <div class="govuk-checkboxes__divider">or</div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-8" name="v3-5" type="checkbox" value="None" checked="" data-behaviour="exclusive">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-8">
                      No, {{data['dynamic']}} does not work for any of these organisations
                    </label>
                    
                  </div>
                  
                </div>
              
              </fieldset>

            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>

        </form>


        {% else %}

        {% if (data['registrant-type'] == "individual") %}
        <h1 class="govuk-heading-l">Do you work for any of these organisations?</h1>
        {% else %}
        <h1 class="govuk-heading-l">Does your organisation work for any of these organisations?</h1>
        {% endif %}


        <form class="form" action="/route/3-5" method="post">

            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend hidden">
                
                  Do you work for any of these organisations?
                
                </legend>
                
              
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5" name="v3-5" type="checkbox" value="Organisation 1">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5">
                      Organisation 1
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-2" name="v3-5" type="checkbox" value="Organisation 2">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-2">
                      Organisation 2
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-3" name="v3-5" type="checkbox" value="Organisation 3">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-3">
                      Organisation 3
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-4" name="v3-5" type="checkbox" value="Organisation 4">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-4">
                      Organisation 4
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-5" name="v3-5" type="checkbox" value="Organisation 5">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-5">
                      Organisation 5
                    </label>
                    
                  </div>
                  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-6" name="v3-5" type="checkbox" value="Organisation 6">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-6">
                      Organisation 6
                    </label>
                    
                  </div>
                
                  <div class="govuk-checkboxes__divider">or</div>
                  
                {% if (data['registrant-type'] == "individual") %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-8" name="v3-5" type="checkbox" value="None" checked="" data-behaviour="exclusive">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-8">
                      No, I do not work for any of these organisations
                    </label>
                    
                  </div>
                {% else %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="v3-5-8" name="v3-5" type="checkbox" value="None" checked="" data-behaviour="exclusive">
                    <label class="govuk-label govuk-checkboxes__label" for="v3-5-8">
                      No, my organisation does not work for any of these organisations
                    </label>
                    
                  </div>
                {% endif %}

                  
                </div>
              
              </fieldset>

            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>

        </form>

        {% endif %}



    <!-- <p>
    {{ data['activityTypes'] }}
    </p> -->

</div>

{% endblock %}
