{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block footer %}
	{{ govukFooter({
   meta: {
     items: [
       {
         href: "registrations/index-alt",
         text: "Alternate Registration"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-full">

			<span class="govuk-caption-l">Registrations</span>

			<h1 class="govuk-heading-l">
				Andy Marshall
			</h1>


			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						Registrant
					</h2>
					<ul class="govuk-summary-card__actions">
						<li class="govuk-summary-card__action">
							<a class="govuk-link" href="registrations/m-check">View registrant details<span class="govuk-visually-hidden"> for the {% if (data['r3'] == "Yes") %}{{data['r4']}}{% else %}{{data['r5-a']}}{% endif %}	agreement</span></a>
						</li>
						
					</ul>
				</div>
				<div class="govuk-summary-card__content">
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								
                                Identity verification status 
								
							</dt>
							<dd class="govuk-summary-list__value">
								<p><strong class="govuk-tag govuk-tag--green">Verified</strong></p>
                                <p>Identity verification for was completed using One Login IDV on 12 Aug 2024 </p>
							</dd>
							<dd class="govuk-summary-list__actions">
								<a href="">View details</a>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
									Manage user access
							</dt>
							<dd class="govuk-summary-list__value">
								2 users have access
							</dd>
							<dd class="govuk-summary-list__actions">
								<a href="manage-users?users-for=Andy Marshall&state=static">Manage users</a>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
									Contact details
							</dt>
							<dd class="govuk-summary-list__value">
								<p>andy@andymarshall.com<br>
                                   0723456789
                                </p>
							</dd>
							<dd class="govuk-summary-list__actions">
								<a href="">Manage contact details</a>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
									Registered address
							</dt>
							<dd class="govuk-summary-list__value">
								<p>Address Line 1<br>
                                   Town or City<br>
                                   PO5T COD3
                                </p>
							</dd>
							<dd class="govuk-summary-list__actions">
								<a href="">Manage address</a>
							</dd>
						</div>
					</dl>
				</div>
			</div>




			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						
						Agreements

                    </h2>
					<ul class="govuk-summary-card__actions">

						<!-- <li class="govuk-summary-card__action">
							<a class="govuk-link" href="activities/a1?assigned-registration=reg1&registration-tier={{data['r1-tier']}}&act1=started">Add a new registration<span class="govuk-visually-hidden"> for the {% if (data['r3'] == "Yes") %}{{data['r4']}}{% else %}{{data['r5-a']}}{% endif %}	agreement</span></a>
						</li> -->
					</ul>
				</div>
			
				<div class="govuk-summary-card__content">
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								Ukraine Government
							</dt>
							<dd class="govuk-summary-list__value">
								3 public communication activities<br>5 private communication activites
							</dd>
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="../registrations/agreement-ukraine-gov">View agreement</a>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								UKR
							</dt>
							<dd class="govuk-summary-list__value">
								1 public communication activity
							</dd>
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="../registrations/agreement-ukr">View agreement</a>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								Geoscope
							</dt>
							<dd class="govuk-summary-list__value">
								2 private communication activites
							</dd>
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="../registrations/agreement-geoscope">View agreement</a>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								UK/RO
							</dt>
							<dd class="govuk-summary-list__value">
								1 public communication activity, 3 money activities
							</dd>
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="../registrations/agreement-ukro">View agreement</a>
							</dd>
						</div>
					</dl>
				</div>
			</div>



			<a class="govuk-button " href="../registrations/r1">Add a new agreement</a>


		</div>

	</div>

{% endblock %}