{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block footer %}
	{{ govukFooter({
   meta: {
     items: [
       {
         href: "registrations/prefilled",
         text: "Prefilled Regsitration"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-full">

			<span class="govuk-caption-l">Your registrations</span>

			<h1 class="govuk-heading-l">
				{% if (data['v3-1-1']) %}{{data['v3-1-1']}}{% elseif (data['accName']) %}{{data['accName']}}{% else	%}Registrant Name{% endif %}
			</h1>
			{% if (condition) %}
				
			{% endif %}

			<p>This is your Registrations overview for the Foreign Influence Registration Scheme (FIRS).</p>

			{% if (data['reg1'] == 'complete') %}

			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						{% if (data['r2'] == "Foreign power-controlled entity") %}{{data['r3a']}}{% elseif (data['r3'] == "Yes") %}{{data['r4']}}{% else  %}{{data['r5-a']}} ({{data['r5-b']}} - {{data['r5-c']}}){% endif %}
							<!-- {{data['r1-tier']}} -->
				    </h2>
					<ul class="govuk-summary-card__actions">
						<li class="govuk-summary-card__action">
							<a class="govuk-link" href="registrations/r-check">View agreement<span class="govuk-visually-hidden"> for the {% if (data['r3'] == "Yes") %}{{data['r4']}}{% else %}{{data['r5-a']}}{% endif %}	agreement</span></a>
						</li>
						<li class="govuk-summary-card__action">
							<a class="govuk-link" href="activities/a1?assigned-registration=reg1&registration-tier={{data['r1-tier']}}">Add an activity<span class="govuk-visually-hidden"> for the {% if (data['r3'] == "Yes") %}{{data['r4']}}{% else %}{{data['r5-a']}}{% endif %}	agreement</span></a>
						</li>
					</ul>
				</div>
				<div class="govuk-summary-card__content">
					<dl class="govuk-summary-list">
						{% if (data['act1'] == 'complete') %}
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								<a class="govuk-link" href="registrations/public-2">ACTIVITY TYPE</a>
							</dt>
							<dd class="govuk-summary-list__value">
								ACTIVITY DETAILS
							</dd>
							<dd class="govuk-summary-list__actions">
								<strong class='govuk-tag govuk-tag--blue'>Submitted</strong>
							</dd>
						</div>
						{% else %}
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								<strong>No activities registered</strong>
							</dt>
							<dd class="govuk-summary-list__value">
							</dd>
							<dd class="govuk-summary-list__actions">
							</dd>
						</div>
						{% endif %}
					</dl>
				</div>
			</div>

			{% endif %}


			<a class="govuk-button " href="registrations/r1">Add a new agreement</a>


		</div>

	</div>

{% endblock %}