{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block footer %}
	{{ govukFooter({
   meta: {
     items: [
       {
         href: "registrations/index-alt",
         text: "Prefilled Registration page"
       },
	   {
		href: "../registrations/prefilled-entity-registrant?prefill=HSBC&prefilled=true",
		text: "Prefilled Reg 1"
	  },
	  {
		href: "../registrations/prefilled-entity-registrant?prefill=Citi&prefilled=true",
		text: "Prefilled Reg 2"
	  },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-full">

			<span class="govuk-caption-l">Your registrations</span>

			<h1 class="govuk-heading-l">
				{% if (data['contact-name']) %}{{data['contact-name']}}{% elseif (data['userName']) %}{{data['userName']}}{% else %}Account Name{% endif %}
			</h1>

			<p>This is your Registrations overview for the Foreign Influence Registration Scheme (FIRS).</p>

			{% if (data['prefilled'] != 'true') %}

				
				{% if (data['registrant-type'] == 'Individual') %}


				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Your registrants
						</h2>
						<ul class="govuk-summary-card__actions">
							<li class="govuk-summary-card__action">
								<span class="govuk-body">Verification status</span>
							</li>
						</ul>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									<a href="registrations/individual-registrant">
										{{data['v3-1-1']}}
									</a>
								</dt>
								<dd class="govuk-summary-list__value">
									Individual
								</dd>
								<dd class="govuk-summary-list__actions">
									{% if (data['identity-verification'] == 'Completed') %}
									<strong class="govuk-tag govuk-tag--green">Completed</strong>
									{% elseif (data['identity-verification'] == 'Pending') %}
									<strong class="govuk-tag">Pending</strong>
									{% elseif (data['identity-verification'] == 'Rejected') %}
									<strong class="govuk-tag govuk-tag--red">Rejected</strong>
									{% elseif (data['identity-verification'] == 'Incomplete') %}
									<strong class="govuk-tag govuk-tag--grey">Incomplete</strong>
									{% endif %}
								</dd>
							</div>
						</dl>
					</div>
				</div>				

				{% endif %}

				{% if (data['registrant-type'] == 'Entity') %}


				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						<h2 class="govuk-summary-card__title">
							Your registrants
						</h2>
						<ul class="govuk-summary-card__actions">
							<li class="govuk-summary-card__action">
								<span class="govuk-body">Verification status</span>
							</li>
						</ul>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									<a href="registrations/entity-registrant">
										{{data['orgName']}}
									</a>
								</dt>
								<dd class="govuk-summary-list__value">
									Organisation
								</dd>
								<dd class="govuk-summary-list__actions">
									{% if (data['officer-verification'] == 'Completed') %}
									<strong class="govuk-tag govuk-tag--green">Completed</strong>
									{% elseif (data['officer-verification'] == 'Pending') %}
									<strong class="govuk-tag">Pending</strong>
									{% elseif (data['officer-verification'] == 'Rejected') %}
									<strong class="govuk-tag govuk-tag--red">Rejected</strong>
									{% elseif (data['officer-verification'] == 'Incomplete') %}
									<strong class="govuk-tag govuk-tag--grey">Incomplete</strong>
									{% endif %}
								</dd>
							</div>							
						</dl>
					</div>
				</div>				

				{% endif %}

			{% elseif (data['prefilled'] == 'true') %}
				

			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						Your registrants
					</h2>
					<ul class="govuk-summary-card__actions">
						<li class="govuk-summary-card__action">
							<span class="govuk-body">Verification status</span>
						</li>
					</ul>
				</div>
				<div class="govuk-summary-card__content">
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								<a href="registrations/prefilled-entity-registrant">
									{{data['prefill']}}
								</a>
							</dt>
							<dd class="govuk-summary-list__value">
								Organisation
							</dd>
							<dd class="govuk-summary-list__actions">
								<strong class="govuk-tag govuk-tag--green">Completed</strong>
							</dd>
						</div>							
					</dl>
				</div>
			</div>				

			{% endif %}


<!-- 
			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						
						Other registrants you manage

					</h2>
					<ul class="govuk-summary-card__actions">
						<li class="govuk-summary-card__action">
							<span class="govuk-body">Verification status</span>
						</li>		
					</ul>
				</div>
				<div class="govuk-summary-card__content">
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								<a href="eg-reg-3">
									Deloitte PLC
								</a>								
							</dt>
							<dd class="govuk-summary-list__value">
								Organisation
							</dd>
							<dd class="govuk-summary-list__actions">
								<strong class="govuk-tag govuk-tag--lightsblue">Pending</strong>
							</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								<a href="eg-reg-4">
									UKRI
								</a>									
							</dt>
							<dd class="govuk-summary-list__value">
								Organisation
							</dd>
							<dd class="govuk-summary-list__actions">
								<strong class="govuk-tag govuk-tag--red">Rejected</strong>
							</dd>
						</div>

						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								<a href="eg-reg-5">
									Ukraine Government
								</a>
							</dt>
							<dd class="govuk-summary-list__value">
								Organisation
							</dd>
							<dd class="govuk-summary-list__actions">
								<strong class="govuk-tag govuk-tag--green">Complete</strong>
							</dd>
						</div>
					</dl>
				</div>
			</div>
			 -->


			<a class="govuk-button " href="onboard/on-0">Add a new registration</a>
			


		</div>

	</div>

{% endblock %}