{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
        Add your organisation details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/m1' method='post'>
    
                <span class='govuk-caption-l'>Add your foreign power details</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'm1',
                    name: 'm1',
                    value: data['m1'],
                    fieldset: {
                        legend: {
                            text: 'Do you work for a specified foreign power?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '
                        <p>There are 3 foreign powers specified under UK law:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Ministry of Defence of X</li>
                            <li>Parliament of Y</li>
                            <li>Socialist Party of Z</li>
                        </ul>
                        '
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes'
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}

    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}