{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
        Add your organisation details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='m2' method='post'>
    
                <span class='govuk-caption-l'>Add your organisation details</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'm-fp',
                    name: 'm-fp',
                    value: data['m-fp'],
                    fieldset: {
                        legend: {
                            text: 'What is the name of the foreign power that you work for?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                       value: 'Ministry of Defence of X',
                        text: 'Ministry of Defence of X'
                    },
                    {
                       value: 'Parliament of Y',
                        text: 'Parliament of Y'
                    },
                    {
                       value: 'Socialist Party of Z',
                        text: 'Socialist Party of Z'
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}