{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
        Add your organisation details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/m5' method='post'>
    
                <span class='govuk-caption-l'>Add your foreign power details</span>
    
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                {{ govukTextarea({
                name: 'moreDetail',
                    id: 'm5',
                    name: 'm5',
                    value: data['m5'],
                    label: {
                        text: 'How are you giving information that is not true?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '
                        <p>For example, you may be:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>denying any connection to a foreign power when one exists</li>
                            <li>falsely claiming that your activieties are solely motivated by personal or professional interests</li>
                            <li>misrepresenting the source of funding or resources for your work</li>
                        </ul>'
                    }
                }) }} 
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}