{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block footer %}
	{{ govukFooter({
   meta: {
     items: [
       {
         href: "../registrations",
         text: "Registrations home"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">

		<span class="govuk-caption-l">Your registrations</span>

		<h1 class="govuk-heading-l">
			{% if (data['contact-name']) %}{{data['contact-name']}}{% elseif (data['userName']) %}{{data['userName']}}{% else %}Registrant Name{% endif %}
		</h1>

		<p>This is your Registrations overview for the Foreign Influence Registration Scheme (FIRS).</p>

		{% if (data['prefill'] == 'HSBC') %}


		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">
					Your registrants
				</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<span class="govuk-body">Verification status</span>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							<a href="../registrations/prefilled-entity-registrant">
								HSBC
							</a>
						</dt>
						<dd class="govuk-summary-list__value">
							Organisation
						</dd>
						<dd class="govuk-summary-list__actions">
							<strong class="govuk-tag govuk-tag--green">Completed</strong>
						</dd>
					</div>
				</dl>
			</div>
		</div>				

		{% endif %}

		{% if (data['prefill'] == 'Citi') %}


		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">
					Your registrants
				</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<span class="govuk-body">Verification status</span>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							<a href="../registrations/prefilled-entity-registrant">
								Citi
							</a>
						</dt>
						<dd class="govuk-summary-list__value">
							Organisation
						</dd>
						<dd class="govuk-summary-list__actions">
							<strong class="govuk-tag govuk-tag--green">Completed</strong>
						</dd>
					</div>							
				</dl>
			</div>
		</div>				

		{% endif %}



	</div>

{% endblock %}