{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Adding a registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>

            <form action="/route-v3/r2" method="post">						

                <span class="govuk-caption-l">Adding a registration</span>

                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'r2',
                    name: 'r2',
                    value: data['r2'],
                    fieldset: {
                        legend: {
                            text: 'What entity are you in an agreement with?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                        value: 'A foreign power',
                        text: 'A foreign power',
                        hint: {
                            text: 'Any governmental body, agency, authority or governing political party operating outside the UK and Ireland'
                        }
                    },
                    {
                        value: 'A foreign power-controlled entity',
                        text: 'A foreign power-controlled entity',
                        hint: {
                            text: 'An individual, organisation or part of an organisation specifically designated under UK law as being controlled by a foreign power'
                        }
                    }
                    ]
                }) }}
        
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}