{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Adding a registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            
            <form action="/route-v3/r6" method="post">						

    
                <form action='/route-v3/r6' method='post'>
    
                <span class="govuk-caption-l">Adding a registration</span>

                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'r6',
                    name: 'r6',
                    value: data['r6'],
                    fieldset: {
                        legend: {
                            text: 'How was the agreement made?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                        value: 'Signed contract',
                        text: 'Signed contract'
                    },
                    {
                        value: 'Non-signed written agreement',
                        text: 'Non-signed written agreement',
                        hint: {
                            text: 'For example, an email or text message'
                        }
                    },
                    {
                        value: 'Verbal agreement',
                        text: 'Verbal agreement',
                        hint: {
                            text: 'For example, a telephone conversation'
                        }
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}