{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v2/1-4" method="post">


			{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
			
			{{ govukRadios({
			  name: "v1-5",
			  id: "v1-5",
			  value: data['v1-5'],
			  fieldset: {
			    legend: {
			      text: "Which organisation is involved in the registration?",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--l"
			    }
			  },
			  items: [
			    {
			      value: "Organisation 1",
			      text: "Organisation 1"
			    },
			    {
			      value: "Organisation 2",
			      text: "Organisation 3"
			    },	
			    {
			      value: "Organisation 3",
			      text: "Organisation 3"
			    }
			  ]
			}) }}
			

			{{ govukButton({
				text: "Continue"
			}) }}

		  
		</form>

	</div>

</div>




{% endblock %}