{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/alternates/access-A",
         text: "Go to Version A"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/alternates/access-Bg" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "myselfSomeone",
        value: data['myselfSomeone'],
        fieldset: {
          legend: {
            text: "What type of organisation is it?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select one option."
        },
  items: [
    {
      value: "yes",
      text: "A registered company"
    },
    {
      value: "yes",
      text: "A charity"
    },
    {
      value: "yes",
      text: "A university or educational institution"
     
    },
    {
      value: "yes",
      text: "An unincorporated association",
      hint: {
      text: "For example, a voluntary group or a sports club."
      }
  
    }
  ]
}) }}
      

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
