{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a live service and is for testing only.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/alternates/activity-frequency-A",
         text: "Go to Version A"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">About the activities</span>
          <label class="govuk-label govuk-label--l" for="foreignPowerNAme">
            How often will the activities take place during this period?
          </label>
        </h1>
        <div id="email-hint" class="govuk-hint">
          For example, monthly or 2 to 3 times a week.
        </div>
        <input class="govuk-input" id="activitiesName" name="activitiesName" type="text" autocomplete="activities-name">
      </div>
    
 

  



      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  
  </div>
</div>

{% endblock %}
