{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/alternates/disbursement-A",
         text: "Go to Version A"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post">
      <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">About the money, goods or services</span>
          <label class="govuk-label govuk-label--l" for="disbursementOutcome">
            What outcome do you expect from your offer?
          </label>
        </h1>
        <div id="disbursement-outcome-hint" class="govuk-hint">
          We need to know what you think should happen as a result of this offer. For example, that sanctions are imposed against x entity. 
        </div>
        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 200 characters
  </div>
  </div>
    
 

  



      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>



  </div>
</div>

{% endblock %}
