{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a live service and is for testing only.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/alternates/foreign-power-A",
         text: "Go to Version A"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    

      <form class="form" action="/alternates/foreign-power-Cc" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        
        
        
        
        
        {{ govukRadios({
          name: "often",
          fieldset: {
            legend: {
              html: '<span class ="govuk-caption-l">About the arrangement</span>Which type of foreign power are you in the arrangement with?',
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
          {
            value: "diplomat",
            text: "Diplomat",
            conditional: {
              html: emailHtml
            }
          },  
          {
              value: "government",
              text: "Government of country",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "head",
              text: "Head of state",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "local",
              text: "Local authority",
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "sovereign",
              text: "Sovereign",
              conditional: {
                html: phoneHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of these"
              
              
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
