{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a live service and is for testing only.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/alternates/specified-person-B",
         text: "Go to Version B"
       },
       {
        href: "/alternates/specified-person-C",
        text: "Go to Version C"
      },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">

        {% if (data['myselfSomeone'] == "myself") %}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is your full name?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This will be published on the Public Register"
          },
          id: "full-name",
          name: "fullName"
        }) }}
    
    {% else %}
    
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "What is their full name?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "This will be published on the Public Register"
      },
      id: "full-name",
      name: "fullName"
    }) }}
    
    {% endif %}





      


      

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
