{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">START: Home</h1>
        <div  class="govuk-body">

        <ul>

            <li><a href="account">Account</a></li>
            <li><a href="registration">Registration</a></li>
            <li><a href="arrangement">Arrangement</a></li>
            <li><a href="activity">Activities</a></li>

        </ul>


    </div>

{% endblock %}
