{% extends "layouts/v4-header-1.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<h1 class="govuk-heading-l">Confirm your contact details</h1>

        <p>You are logged in to your GOV.UK One Login account. </p>
        <p>We now need your contact details to setup your Foreign Influence Registration Scheme (FIRS) account.</p>

        <h2 class='govuk-heading-m'>What you need to complete this section</h2> 

        <p>We will ask you for your:</p>
        <ul class='govuk-list govuk-list--bullet'>
            <li>name</li>
            <li>telephone number</li>
        </ul>

        <p>We will use the email address from your GOV.UK One Login account.</p>

        <p>If we have your telephone number from your GOV.UK One Login account, we will ask you to confirm it.</p>
          
        
        {% from 'govuk/components/button/macro.njk' import govukButton %}
            
        {{ govukButton({
            href: 'co-2',
            isStartButton: false,
            classes: 'govuk-button',
            text: 'Start'
        }) }}

	</div>

</div>




{% endblock %}