{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add your contact details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>

            {% if (data['return'] == 'contact') %}
            <form action='../account/contact-details' method='post'>

            {% else %}
                
            {% if (data['ol-4'] == 'Text message') %}
            <form action='co-3-text' method='post'>
            {% else %}                                
            <form action='co-3-app' method='post'>
            {% endif %}

            {% endif %}

                <span class='govuk-caption-l'>Confirm your contact details</span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'co-2',
                    name: 'co-2',
                    value: data['co-2'],
                    label: {
                        text: 'What is your name?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '<p>This is the name we will use to contact you. You may be asked for your legal name later.</p>'
                    }
                }) }}
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}

            </form>
        </div>
    </div>
    {% endblock %}