{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add your contact details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>

            {% if (data['return'] == 'contact') %}
            <form action='../account/contact-details' method='post'>

            {% else %}

            <form action='co-4' method='post'>

            {% endif %}
                
                <span class='govuk-caption-l'>Confirm your contact details</span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'co-3-app',
                    name: 'co-3-app',
                    value: data['co-3-app'],
                    label: {
                        text: 'What is your telephone number?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '<p>Include your country code, for example +44 for the UK. We will only call you if we cannot contact you by email.</p>'
                    }
                }) }}    
                

                {{ govukButton({
                    text: 'Save and continue'
                }) }}

            </form>
        </div>
    </div>
    {% endblock %}