{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add your contact details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            {% if (data['return'] == 'update') %}
            <form action='../account/contact-details' method='post'>
            {% else %}                                
            <form action='co-check' method='post'>
            {% endif %}
    
                <span class='govuk-caption-l'>Confirm your contact details</span>

                <h1 class='govuk-heading-l'>Your email address</h1> 

                <p>The email address shown below comes from your GOV.UK One Login account.</p>

                <p>To change your email address, you need to update it in GOV.UK One Login.</p>

                {% from 'govuk/components/inset-text/macro.njk' import govukInsetText %}
                    
                {{ govukInsetText({
                  html: '<p><strong>Email</strong><br>
                    '+data["ol-1"]+'</p>',
                    classes: 'prefilled'
                }) }}
    
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}

            </form>
        </div>
    </div>
    {% endblock %}