{% extends "layouts/account-start.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        Start your registration
        </h1>

    </div>
</div> -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p>Contents</p>
        <ol class="govuk-list govuk-list--number">
            <li>Overview</li>
            <li><a href="gov--check-if-you-need-to-register">Check if you need to register</a></li>
            <li><a href="gov--register">How to register</a></li>
            <li><a href="#" class="govuk-link govuk-link--disabled">After you have registered</a></li>
            <li><a href="#" class="govuk-link govuk-link--disabled">What we publish on the public register</a></li>
            <li><a href="#" class="govuk-link govuk-link--disabled">If you receive an information notice</a></li>
            <li><a href="#" class="govuk-link govuk-link--disabled">If you fail to register</a></li>
        </ol>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">

        <div class="govuk-prototype-kit-common-templates-mainstream-guide-body firs-block-top-border">

            <h3 class="govuk-heading-l">Creating an account on the Foreign Influence Registration Scheme</h3>

            <p>This service is also available <a href="https://www.gov.uk/cofrestru-ar-gyfer-hunanasesiad">in Welsh
                    (Cymraeg)</a>.</p>

            {% from "govuk/components/details/macro.njk" import govukDetails %}


            {{ govukButton({
            text: "Start now",
            href: "ol-0",
            isStartButton: true
            }) }}




            {{ govukPagination({

            next: {
            labelText: "Check if you need to register",
            href: "gov--check-if-you-need-to-register"
            }
            }) }}


        </div>

    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="firs-block-top-border--complementary" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                More information
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://www.gov.uk/government/publications/national-security-bill-factsheets/foreign-influence-registration-scheme-factsheet">
                            Foreign Influence Registration Scheme factsheet
                        </a>
                    </li>
                    <li>
                        <a href="eligibility/exemptions">
                            Exemptions
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Terms and conditions
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>
</div>


{% endblock %}