{% extends "layouts/main-w-nav.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a live service and is for testing only.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before saving this activity
      </h1>
      <p>You will be able to amend this activity later</p>

      <h2 class="govuk-heading-m">Public communication details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Form of public communication"
            },
            value: {
              text: data['productionOrPublication'] 
            },
            actions: {
              items: [
                {
                  href: "public-publication",
                  text: "Change",
                  visuallyHiddenText: "Role or job title"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Intended audience"
            },
            value: {
              text: data['publicAudience']              
            },
            actions: {
              items: [
                {
                  href: "public-audience",
                  text: "Change",
                  visuallyHiddenText: "Intended audience"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Type of public communication"
            },
            value: {
              text: data['publicnature'] 
            },
            actions: {
              items: [
                {
                  href: "public-nature",
                  text: "Change",
                  visuallyHiddenText: "Type of public communication"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Purpose of public communication"
            },
            value: {
              text: data['publicPurpose'] 
            },
            actions: {
              items: [
                {
                  href: "public-purpose",
                  text: "Change",
                  visuallyHiddenText: "Purpose of public communication"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Outcome of public communication"
            },
            value: {
              text: data['publicOutcome'] 
            },
            actions: {
              items: [
                {
                  href: "public-outcome",
                  text: "Change",
                  visuallyHiddenText: "Outcome of public communication"
                }
              ]
            }
          }
        ]
      }) }}

     
      <div class="govuk-button-group">

        <a href="arrangement-overview?has-public-activity=yes" class="govuk-button ">Save and continue</a>

        <a href="new-activity-start" class="govuk-button govuk-button--secondary">Add another activity</a>

      </div>


    </div>
  </div>
{% endblock %}
