{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before saving this activity
      </h1>
      <p>You will be able to amend this activity later.</p>


        <dl class="govuk-summary-list">


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Full name
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['v1-2-0']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="1-2-0">Change<span class="govuk-visually-hidden"> trading Name</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Email address
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['v1-2-0a']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="1-2-0a">Change<span class="govuk-visually-hidden"> Date of birth</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['v1-2-0b']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="1-2-0b">Change<span class="govuk-visually-hidden"> Date of birth</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Residential address
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['v1-2-1-line-1']}}, {% if (data['v1-2-1-line-2']) %}{{ data['v1-2-1-line-2']}}, {% endif %}{{ data['v1-2-1-town']}}, {{ data['v1-2-1-postcode']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="2-G1-9">Change<span class="govuk-visually-hidden"> Correspondence address</span></a>
                </dd>
            </div>

             {% if (data['v1-2-2'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Correspondence address
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['v1-2-3-line-1']}}, {% if (data['v1-2-3-line-2']) %}{{ data['v1-2-3-line-2']}}, {% endif %}{{ data['v1-2-3-town']}}, {{ data['v1-2-3-postcode']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="2-G1-9">Change<span class="govuk-visually-hidden"> Correspondence address</span></a>
                </dd>
            </div>
            {% endif %}
<!--
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['v2-G4-7']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="2-G4-7">Change<span class="govuk-visually-hidden"> Telephone number</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Email address
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['v2-G4-8']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="2-G4-8">Change<span class="govuk-visually-hidden"> Email address</span></a>
                </dd>
            </div>

            {% if (data['v2-G4-9'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Public register
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['v2-G4-10']}} (Ref no: {{ data['v2-G4-11']}})
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="2-G3-12">Change<span class="govuk-visually-hidden"> Principal address</span></a>
                </dd>
            </div>
            {% elseif (data['v2-G3-12'] == "No") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Public register
                </dt>
                <dd class="govuk-summary-list__value">
                None
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="2-G3-12">Change<span class="govuk-visually-hidden"> Public register</span></a>
                </dd>
            </div>
            {% endif %}

 -->
<!--             {% if (data['v4-G1-3--t3--name-1']) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Others involved in the activity
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-G1-3--t3--name-1']}}{% if (data['v4-G1-3--t3--name-2']) %}, {{data['v4-G1-3--t3--name-2']}}{% endif %}{% if (data['v4-G1-3--t3--name-3']) %}, {{data['v4-G1-3--t3--name-3']}}{% endif %}{% if (data['v4-G1-3--t3--name-4']) %}, {{data['v4-G1-3--t3--name-4']}}{% endif %}{% if (data['v4-G1-3--t3--name-5']) %}, {{data['v4-G1-3--t3--name-5']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Others involved in the activity</span></a>
                </dd>
            </div>{% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Others involved in the activity
                </dt>
                <dd class="govuk-summary-list__value">
                    None stated
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Others involved in the activity</span></a>
                </dd>
            </div>
            {% endif %}


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Intended audience
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-3-1']) %}{{data['v4-3-1']}}
                {% else %}
                None Stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-2-1">Change<span class="govuk-visually-hidden"> Intended audience</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Activity start date
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-G2-1--t3']) == "yes" %}
                {{data['v4-G2-1--t3-day']}}/{{data['v4-G2-1--t3-month']}}/{{data['v4-G2-1--t3-year']}}
                {% else %}
                None stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Activity end date
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-G2-2--t3']) == "yes" %}
                {{data['v4-G2-2--t3-day']}}/{{data['v4-G2-2--t3-month']}}/{{data['v4-G2-2--t3-year']}}
                {% else %}
                None stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Frequency of activity
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-G2-3--t3']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Expected outcome
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-2-2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div> -->

           

        </dl>

      <div class="govuk-button-group">

        <a href="/journey/v1/registration/2-0?acc-type=individual" class="govuk-button ">Continue</a>

      </div>

    </div>
  </div>
{% endblock %}
