{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Account Setup</span>
	        <div>

        <form class="form" action="1-3-10b" method="post">

        	{% from "govuk/components/input/macro.njk" import govukInput %}


			{{ govukInput({
				label: {
					text: "What is your email address?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
				},
				id: "acc-holder-contact-email",
				name: "acc-holder-contact-email",
				type: "email",
				autocomplete: "email"
			}) }}



            {{ govukButton({
            text: "Save and continue"
            }) }}
<!--
            {% from "govuk/components/details/macro.njk" import govukDetails %}

			{{ govukDetails({
				summaryText: "What is a foreign power?",
				text: "We need to know the name of the foreign government or local authority, Sovereign, or Head of State that directed you to carry out an activity."
			}) }}-->

        </form>

        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

        </div>

{% endblock %}
