{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">
        Check Answers
        </h1>

        <div class="govuk-button-group">
          <a href="/journey/v1/account" class="govuk-button govuk-button--secondary">Return to Account</a>
          <a href="/journey/v1/registration" class="govuk-button">Save and go to Registrations</a>
        </div>

    </div>
</div>
{% endblock %}
