{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Create account</span>
        <div>

        <form class="form" action="/route/1-4-2" method="post">

            {{ govukRadios({
	            value: data['v1-4-2'],
				name: "v1-4-2",
				id: "v1-4-2",
	            fieldset: {
		            legend: {
			            text: "Does the unincorporated association have a different correspondance address?",
			            isPageHeading: true,
			            classes: "govuk-fieldset__legend--l"
		            }
	            },
	            items: [
		            {
			            value: "Yes",
			            text: "Yes"
		            },
		            {
			            value: "No",
			            text: "No"
		            }
	            ]
            }) }}


            {{ govukButton({
            text: "Continue"
            }) }}
<!--
            {% from "govuk/components/details/macro.njk" import govukDetails %}

			{{ govukDetails({
				summaryText: "What is a foreign power?",
				text: "We need to know the name of the foreign government or local authority, Sovereign, or Head of State that directed you to carry out an activity."
			}) }}-->

        </form>

        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

        </div>

{% endblock %}
