{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Create account</span>
            <h1 class="govuk-heading-l">What is the unincorporated association's main address?</h1>
        <div>

        <form class="form" action="1-4-2" method="post">



	        {% from "govuk/components/input/macro.njk" import govukInput %}
			{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

			{% call govukFieldset({
	            values: data['v1-4-1'],
				name: "v1-4-1",
				id: "v1-4-1",
				legend: {
				}
			}) %}


			{{ govukInput({
				label: {
				text: "Address line 1"
				},
	            value: data['v1-4-1-line-1'],
				name: "v1-4-1-line-1",
				id: "v1-4-1-line-1",
				autocomplete: "address-line1"
			}) }}

			{{ govukInput({
				label: {
				text: "Address line 2 (optional)"
				},
				id: "v1-4-1-line-2",
				name: "v1-4-1-line-2",
				autocomplete: "address-line2"
			}) }}

			{{ govukInput({
				label: {
				text: "Address line 3 (optional)"
				},
				id: "v1-4-1-line-3",
				name: "v1-4-1-line-3",
				autocomplete: "address-line3"
			}) }}

			{{ govukInput({
				label: {
				text: "Town or city"
				},
				classes: "govuk-!-width-two-thirds",
				id: "v1-4-1-town",
				name: "v1-4-1-town",
				autocomplete: "address-level2"
			}) }}

			{{ govukInput({
				label: {
				text: "Country"
				},
				classes: "govuk-!-width-two-thirds",
				id: "v1-4-1-country",
				name: "v1-4-1-country",
				autocomplete: "country"
			}) }}

			{{ govukInput({
				label: {
				text: "Postcode"
				},
				classes: "govuk-input--width-10",
				id: "v1-4-1--postcode",
				name: "v1-4-1-postcode",
				autocomplete: "postal-code"
			}) }}

			{% endcall %}





            {{ govukButton({
            text: "Continue"
            }) }}
<!--
            {% from "govuk/components/details/macro.njk" import govukDetails %}

			{{ govukDetails({
				summaryText: "What is a foreign power?",
				text: "We need to know the name of the foreign government or local authority, Sovereign, or Head of State that directed you to carry out an activity."
			}) }}-->

        </form>

        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

        </div>

{% endblock %}
