{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">START: Account Setup</h1>
        <div  class="govuk-body">

        <ul>

            <li><a href="account/1-1-alt">Setup Account</a></li>

        </ul>


    </div>

{% endblock %}
