{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "agreement" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Arrangements</h1>
        <div class="govuk-body">


            <ul>

                <li><a href="/journey/v1/agreement/3-0a?registrant-type=individual&mode=self">Add new agreement (as individual)</a></li>
                <li><a href="/journey/v1/agreement/3-0b?registrant-type=organisation&mode=self">Add new agreement (as organisation)</a></li>
            </ul>

            <ul>
                <li><a href="/journey/v1/agreement/3-0-pre?registrant-type=individual&mode=behalf">Add new agreement (on behalf of an individual)</a></li>
                <li><a href="/journey/v1/agreement/3-0-pre?registrant-type=organisation&mode=behalf">Add new agreement (on behalf of an organisation)</a></li>
            </ul>

        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

        </div>
        
    </div>

{% endblock %}
