{% extends "layouts/main-w-nav.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

{% if (data['arrangementDate']) %}
{% set arrDate = data['arrangementDate'] %}
{% set arrDateGds = arrDate[0]+' '+ arrDate[1] | monthName("truncate") +' '+arrDate[2]  %}
{% else %}
{% set arrDateGds = '' %}
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before continuing your registration
      </h1>

      <h2 class="govuk-heading-m">Arrangement details</h2>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Name of foreign power"
          },
          value: {
            text: data['foreignPowerName'] 
          },
          actions: {
            items: [
              {
                href: "foreign-power-name",
                text: "Change",
                visuallyHiddenText: "Name of foreign power"
              }
            ]
          }
        }
        ,
        {
            key: {
              text: "Form of arrangement"
            },
            value: {
              text: data['describeArrangement']              
            },
            actions: {
              items: [
                {
                  href: "describe-arrangement",
                  text: "Change",
                  visuallyHiddenText: "How the arrangement was made"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of arrangement"
            },
            value: {
              text: arrDateGds
            },
            actions: {
              items: [
                {
                  href: "direction-date",
                  text: "Change",
                  visuallyHiddenText: "Date of arrangement"
                }
              ]
            }
          }
          
        ]
      }) }}


      <form action="/beta/activities/new" method="post" novalidate>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>



    </div>
  </div>
{% endblock %}
