{% extends "layouts/main-w-nav.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<!--
      <span class="govuk-caption-l">About the arrangement</span>
      <h1 class="govuk-heading-l">
        {% if (data['activityStarted-public'] == "yes") %}
        When did the activity start?
        {% else %}
        Are you registering an activity for a specified entity?
        {% endif %}
      </h1> -->

    <form action="stream-2-foreign-power-route" method="post">

      
      {{ govukRadios({
        name: "arrangement-stream-2-question",
        value: data['arrangement-stream-2-question'],
        fieldset: {
        legend: {
          html: '<span class="govuk-caption-l">About the arrangement</span> Is the misrepresentation being made for one of the foreign powers listed here?', 
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
          }
        },
        hint: {
          text: "List of foreign powers here"
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a misrepresentation?
          </span>
        </summary>
        <div class="govuk-details__text">
          A misrepresentation means providing false or misleading information about the activities or intentions.
        </div>
      </details>


  </div>
</div>

{% endblock %}
