{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/beta-activities/activity-frequency" method="post">


      {{ govukDateInput({
        id: 'activityEnd',
        namePrefix: "activityEnd-" + data['activity-stream'],


        fieldset: {
          legend: {
            html: '<span class ="govuk-caption-l">About the activities</span>When will the activities end?'
            if (data['activityKnown'] == "yes")
            else "When did the activities end?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}
 


      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>



    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with the activities end date
        </span>
      </summary>
      <div class="govuk-details__text">
        We need to know the date you expect the activities related to the arrangement will end.</p> <p>You can give an estimate if you do not know the exact date.</p>
      </div>
    </details>

  </div>
</div>

{% endblock %}
