{% extends "layouts/main-w-nav.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="activity-industry?activity-stream=public" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">About the public communication</span>
          <label class="govuk-label govuk-label--l" for="publicOutcome">
            What outcome do you expect from the public communication?
          </label>
        </h1>
        <div id="public-outcome-hint" class="govuk-hint">
          We need to know what you think should happen as a result of the publication communication. For example, that sanctions are imposed against x entity. 
        </div>
        <textarea class="govuk-textarea" id="public-outcome" name="publicOutcome" rows="3" aria-describedby="public-outcome-hint">{{data['publicOutcome']}}</textarea>
      </div>
    
 

  



      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>



  </div>
</div>

{% endblock %}
