{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

		<div class="govuk-inset-text app-inset-text" style="border-left-color: #1d70b8;">
			<!-- <h3 class="govuk-heading-m">Notice</h3> -->
			<p>Registration is not required if you, or the person you are registering, have an official role with the {{data['foreign-power']}} that does not involve omitting information or giving misleading information.</p>
			<p>If you or your organisation, or another person or organisation you are registering for, have an agreement with the {{data['foreign-power']}}, and someone is omitting information or giving misleading information, you must review your answers.</p>
			<p>If you are still unsure, check the guidance notes or seek legal advice before continuing.</p>
		</div>


		<form action="/route-v2/2-1" method="post">

			
			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			  name: "v2-1",
			  id: "v2-1",
			  value: data['v2-1'],
			  fieldset: {
			    legend: {
			      text: "Are you registering for the "+data['foreign-power']+"?",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--l"
			    }
			  },
			  hint: {
			  	html: "<p>You can only register for the "+data['foreign-power']+" if have an official role with them or if you're registering for a person who does.</p>"
			  },
			  items: [
			    {
			      value: "Yes",
			      text: "Yes"
			    },
			    {
			      value: "No",
			      text: "No"
			    }
			  ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

	
		</form>

	</div>

</div>




{% endblock %}