{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "2-6",
         text: "Default confirmation statement"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v2/confirm-2-6" method="post">

			{% set otherHtml %}
		  	<!-- <div class="govuk-inset-text">
				<p class="govuk-body-l">
				  {{data['v2-4']}} is part of an agreement with {{data['foreign-power']}}
				 </p>
			</div> -->
			{% endset -%}

			{% from "govuk/components/panel/macro.njk" import govukPanel %}
			<!--
			{{ govukPanel({
			  titleText: data['v2-4']+" is part of an agreement with "+data['foreign-power']
			}) }}			
			-->
<!-- 			<div class="govuk-inset-text">
				<p class="govuk-body-l">
				  {{data['v2-4']}} is part of an agreement with {{data['foreign-power']}}
				 </p>
			</div> -->

			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			  name: "v2-6",
			  id: "v2-6",
			  value: data['v2-6'],
			  fieldset: {
			    legend: {
			      text: "Is "+data['v2-4']+" in an agreement with the "+data['foreign-power']+"?",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--l"
			    }
			  },
			  hint: {
			  	html: otherHtml
			  },
			  items: [
			    {
			      value: "Yes",
			      text: "Yes"
			    },
			    {
			      value: "No",
			      text: "No"
			    }
			  ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}