{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="2-8" method="post">

			{% from "govuk/components/input/macro.njk" import govukInput %}
			
			{{ govukInput({
				id: "v2-7",
				name: "v2-7",
				value: data['v2-7'],
				label: {
					text: "What is the name of your organisation?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}