{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">About the activities</span>
      

      <form class="form" action="/activity/activity-industry" method="post">

        {{ govukRadios({
          name: "activityType",
          value: data['activityType'],
          fieldset: {
            legend: {
              text: "Which type of political influence activity are you registering as part of this arrangement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Private",
              text: "Private communication",
              hint: {
                text: "For example, lobbying, sending an email or letter, or having a private conversation"
              }
            },
            {
              value: "Public",
              text: "Public communication",
              hint: {
                text: "For example, social media content, poster, leaflet, or published article"
              }
            },
            {
              value: "Money",
              text: "Distribution of money, goods or services",
              hint: {
                text: "For example, the offer of money, goods or services to an individual or entity in the UK"
              }
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
