{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Regsiter your entity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    {% set postcodeLabel %}
        {% if (data['e8'] == 'Ireland') %}Eircode
        {% elseif (data['e8'] == 'United States') %}Zipcode
        {% else %}Postcode{% endif %}
    {% endset %}

    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='e16' method='post'>
    
                <span class='govuk-caption-l'>Add your entity details</span>
    
           
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukTextarea({
                name: 'moreDetail',
                    id: 'e10',
                    name: 'e10',
                    value: data['e10'],
                    label: {
                        text: 'What is the registered address of '+data['entity-name']+' in '+data['e8']+'?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    }
                }) }} 
    
                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>


            </form>
        </div>
    </div>
    {% endblock %}