{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'account' %}
    
    {% block pageTitle %}
        Regsiter your entity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='e13' method='post'>
    
                <span class='govuk-caption-l'>Regsiter your entity</span>
    
                {% from 'govuk/components/date-input/macro.njk' import govukDateInput %}
                {{ govukDateInput({
                    namePrefix: 'e12',
                    id: 'e12',
                    value: data['e12'],
                    fieldset: {
                        legend: {
                            text: 'On what date was '+data['registrant-name']+' formed?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'For example, 27 3 2017'
                    }
                }) }}
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '/route-v4/registration-overview',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}