{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Regsiter yourself – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/e16' method='post'>
    
                <span class='govuk-caption-l'>Add your entity details</span>

                {% set registeredAddress %}
                    {% if (data['e5'] == 'Yes') %}
                    {{data['e-ch2-line-1']}}, {% if (data['e-ch2-line-2']) %}{{data['e-ch2-line-2']}}, {% endif %}{% if (data['e-ch2-town']) %}{{data['e-ch2-town']}}, {% endif %}{% if (data['e-ch2-postcode']) %}{{data['e-ch2-postcode']}}, {% endif %}{% if (data['e-ch2-country']) %}{{data['e-ch2-country']}}{% endif %}

                    {% elseif (data['e7'] == 'Yes') %}
                    {{data['e10']}}
                        
                    {% elseif (data['e13'] == 'Yes') %}
                    {{data['e14-line-1']}}, {% if (data['e14-line-2']) %}{{data['e14-line-2']}}, {% endif %}{% if (data['e14-town']) %}{{data['e14-town']}}, {% endif %}{% if (data['e14-postcode']) %}{{data['e14-postcode']}}, {% endif %}{% if (data['e14-country']) %}{{data['e14-country']}}{% endif %}

                    {% else %}
                    {{data['e15']}}

                    {% endif %}
                {% endset %}

                {% set otherCountry %}
                <div class="govuk-form-group--add-another-block__fields">

                    <div class="govuk-form-group--add-another-block__fields__col1">

                        <label class="govuk-label" for="e11">
                            Country of territory
                        </label>

                        <div class="autocomplete-wrapper" id="e16-other"></div>
                        <div class="govuk-body other-nationality-field">
                            <p><a href="#" class="govuk-link cannot-find-country" data-field="e16-other">I cannot find my country in the list</a></p>
                        </div>

                    </div>

                    <div class="govuk-form-group--add-another-block__fields__col2 govuk-body">
                        <a href="#" class="govuk-link row-remove hidden" data-row="e16-other">Remove</a>
                    </div>

                </div>
                {% endset -%} 


                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {% from 'govuk/components/input/macro.njk' import govukInput %}

                {{ govukRadios({
                    id: 'e16',
                    name: 'e16',
                    value: data['e16'],
                    fieldset: {
                        legend: {
                            text: 'Which address should we use to contact '+data['entity-name']+'?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p>This is the address we will use if we need to send any physical documents.</p>'
                    },
                    items: [
                    {
                       value: registeredAddress,
                        text: registeredAddress
                    },
                    {
                       value: 'A different address in the UK',
                        text: 'A different address in the UK'
                    },
                    {
                       value: 'A different address outside the UK',
                        text: 'A different address outside the UK',
                        conditional: {
                            html: otherCountry
                        }
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '../registrations/new',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/countries.js"></script>


    <script type="text/javascript">
        var element = document.querySelector('#e16-other')
        var id = 'e16-other'
        accessibleAutocomplete({
            element: element,
            id: id,
            name: id,
            source: countries
        })

        function manageRows (fieldId) {


            $('.cannot-find-country').on('click', function() {
                console.log('cannot-find-nationality');
                var thisField = $(this).data('field');
                console.log(thisField);
                $(this).closest('.govuk-form-group--add-another-block__fields').find('.autocomplete-wrapper').addClass('hidden');
                $(this).closest('.govuk-form-group--add-another-block__fields').find('.autocomplete-wrapper input.autocomplete__input').attr("name","none");
                $(this).closest('.other-nationality-field').html('<input name="'+thisField+'" id="'+thisField+'" type="text" class="govuk-input" autofocus> <p>Describe your nationality in this field</p>');
                // $(this).closest(".person-module").find(".update-button-group").removeClass('update-button-group--hidden');
                return false;
            })

            // console.log('focus: input#'+fieldId);
            // $('input#'+fieldId).focus();

        }

        window.onload = function() {
            manageRows('e16-other');
        };

    </script>


    {% endblock %}