{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Register your entity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='e2c' method='post'>
    
                <span class='govuk-caption-l'>Add your entity details</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'entity-country',
                    name: 'entity-country',
                    value: data['entity-country'],
                    fieldset: {
                        legend: {
                            text: 'Which country is your foreign power-controlled entity from?.',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '
                        <p>If you cannot find the country you are looking for in this list, read the <a href="#">guidance on who needs to register</a>.</p>                            
                        '
                    },
                    items: [
                    {
                       value: 'Country X',
                        text: 'Country X'
                    },
                    {
                       value: 'Country Y',
                        text: 'Country Y'
                    },
                    {
                       value: 'Country Z',
                        text: 'Country Z'
                    }
                    ]
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}