{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Register your entity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='e3' method='post'>
    
                <span class='govuk-caption-l'>Add your entity details</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'entity-name',
                    name: 'entity-name',
                    value: data['entity-name'],
                    fieldset: {
                        legend: {
                            text: 'Select your foreign power-controlled entity.',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '
                        <p>These foreign power-controlled entities have been specified by the UK government.</p>  
                        <p>If you cannot find your foreign-power controlled entity in this list, read the <a href="#">guidance on who needs to register</a>.</p>  '
                    },
                    items: [
                    {
                       value: 'Foreign power controlled entity X',
                        text: 'Foreign power controlled entity X'
                    },
                    {
                       value: 'Foreign power controlled entity Y',
                        text: 'Foreign power controlled entity Y'
                    },
                    {
                       value: 'Foreign power controlled entity Z',
                        text: 'Foreign power controlled entity Z'
                    }
                    ]
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}