{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
Register yourself – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% set homeAddress %}
{% if (data['idv-ol'] == 'Pass (UK driving license)' ) %}
    2 Marsham Street, London, United Kingdom, SW1P 4DF
{% else %}
    {% if (data['i8'] == 'United Kingdom') %}
        {{data['i10-line-1']}}, {% if (data['i10-line-2']) %}{{data['i10-line-2']}}, {% endif %}{% if (data['i10-town']) %}{{data['i10-town']}}, {% endif %}{% if (data['i10-postcode']) %}{{data['i10-postcode']}}, {% endif %}{% if (data['i10-country']) %}{{data['i10-country']}}{% endif %}
    {% else %}
        {{data['i9']}}
    {% endif %}
{% endif %}
{% endset %}




{% set contactAddress %}
{% if (data['i11'] == 'A different address') %}
{% if (data['otherCountry'] == 'United Kingdom') %}
{{data['i12-line-1']}}, {% if (data['i12-line-2']) %}{{data['i12-line-2']}}, {% endif %}{% if (data['i12-town']) %}{{data['i12-town']}}, {% endif %}{% if (data['i12-postcode']) %}{{data['i12-postcode']}}, {% endif %}{% if (data['i12-country']) %}{{data['i12-country']}}{% endif %}
{% else %}
{{data['i13']}}
{% endif %}
{% else %}
{{homeAddress}}
{% endif %}
{% endset %}

{% set registrantName %}
{% if (data['idv-ol'] == 'Pass (UK passport)' or data['idv-ol'] == 'Pass (UK driving license)' ) %}{{data['contact-name']}}{% else %}{{data['i2']}}{% endif %}
{% endset %}

<div class='govuk-grid-row'>
    <div class='govuk-grid-column-full-width'>
        <!-- <form action="../arrangement/select-arrangement?registrant-status=complete&registrant-name={{data['i2-first']}} {{data['i2-last']}}" method='post'> -->


        <!-- <form action="../verify/idv-3?registrant-status=complete&registrant-name={{data['i2-first']}} {{data['i2-last']}}" method='post'> -->
            
            <!-- reg-type: {{ data['reg-type']}}
            tier: {{ data['tier']}}
            misrep: {{ data['misrep']}}
            reg-subtype: {{ data['reg-subtype']}} -->

        {% if (data['reg-type'] == 'Individual' and data['reg-subtype'] == 'default') %}<!-- Individual -->
        <form action="../registrations/registration-task-list?registrant-status=complete&registrant-name={{registrantName}}" method='post'>
        {% elseif (data['reg-type'] == 'Individual' and data['reg-subtype'] == 'misrep') %}<!-- misrep -->
        <form action="../registrations/registration-task-list?registrant-status=complete&registrant-name={{registrantName}}" method='post'>
        {% elseif (data['reg-type'] == 'Entity' and data['reg-subtype'] == 'default') %}<!-- Entity -->
        <form action="../registrations/registration-task-list?registrant-status=complete&registrant-name={{registrantName}}" method='post'>
        {% elseif (data['reg-type'] == 'Entity' and data['reg-subtype'] == 'fpce') %}<!-- fpce -->
        <form action="../registrations/registration-task-list?registrant-status=complete&arrangement-status=complete&registrant-name={{registrantName}}" method='post'>
        {% endif %}

            <span class='govuk-caption-l'>Add your personal details</span>

            <h1 class='govuk-heading-l'>Check your answers</h1>


            <dl class="govuk-summary-list">
                <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    </dt>
                    <dd class="govuk-summary-list__value">
                    </dd>
                    <dd class="govuk-summary-list__value pr-col">
                        <strong class="govuk-tag govuk-tag--purple">Public Register</strong>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div> -->

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        ID document upload
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['idv-ol'] == 'Pass (UK passport)') %}
                        UK passport
                        {% elseif (data['idv-ol'] == 'Pass (UK driving license)' )%}
                        UK driving license
                        {% else %}
                            {% if (data['idv-m-2'] == 'Yes') %}
                                UK Passport
                            {% elseif (data['idv-m-3'] == 'Yes') %}
                                UK driving license
                            {% else %}
                                No document uploaded
                            {% endif %}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="i2">Change<span class="govuk-visually-hidden"> Full name</span></a>
                    </dd>
                </div>

                {% if (data['idv-ol'] == 'Pass (UK passport)' or data['idv-ol'] == 'Pass (UK driving license)' ) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Full name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ registrantName }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        
                    </dd>
                </div>
                {% else %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Full name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ registrantName }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="i2">Change<span class="govuk-visually-hidden"> Full name</span></a>
                    </dd>
                </div>
                {% endif %}
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Other names
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['i3'] == "No") %}None {% else %}{{data['i4--1']}}{% if (data['i4--2']) %}, {{data['i4--2']}}{% endif %}{% if (data['i4--3']) %}, {{data['i4--3']}}{% endif %}{% if (data['i4--4']) %}, {{data['i4--4']}}{% endif %} {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__value pr-col na">
                        Not applicable
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="i3">Change<span class="govuk-visually-hidden"> Other names</span></a>
                    </dd>
                </div>

                {% if (data['idv-ol'] == 'Pass (UK passport)' or data['idv-ol'] == 'Pass (UK driving license)' ) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        1 January 1980
                    </dd>
                    <dd class="govuk-summary-list__actions">
                       
                    </dd>
                </div>
                {% else %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['i5-day']) %}{{data['i5-day']}} {{data['i5-month'] | monthName("truncate")}} {{data['i5-year']}} {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="i5">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nationality
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['i6--1']}}{% if (data['i6--2']) %}, {{data['i6--2']}}{% endif %}{% if (data['i6--3']) %}, {{data['i6--3']}}{% endif %}{% if (data['i6--4']) %}, {{data['i6--4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__value pr-col na">
                        Not applicable
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="i6">Change<span class="govuk-visually-hidden"> Nationality</span></a>
                    </dd>
                </div>

                {% if (data['idv-ol'] == 'Pass (UK driving license)' ) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Home address
                    </dt>
                    <dd class="govuk-summary-list__value">
                       {{homeAddress}}
                    </dd>
                    <dd class="govuk-summary-list__value pr-col na">
                        Not applicable
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        
                    </dd>
                </div>
                {% else %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Home address
                    </dt>
                    <dd class="govuk-summary-list__value">
                       {{homeAddress}}
                    </dd>
                    <dd class="govuk-summary-list__value pr-col na">
                        Not applicable
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="i7">Change<span class="govuk-visually-hidden"> Home Address</span></a>
                    </dd>
                </div>
                {% endif %}
                    
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{contactAddress}}
                    </dd>
                    <dd class="govuk-summary-list__value pr-col">
                        Not applicable
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="i11">Change<span class="govuk-visually-hidden"> Contact Address</span></a>
                    </dd>
                </div>
            </dl>

            <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '../registrations/registration-task-list',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}

            </div>

    
        </form>
    </div>
</div>
{% endblock %}