{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'account' %}
    
    {% block pageTitle %}
    Verify your identity and add your details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='i3' method='post'>
    
                <span class='govuk-caption-l'>Add your personal details</span>
    
                <h1 class='govuk-heading-l'>Your name, date of birth and address</h1> 

                <p>The details shown below come from your GOV.UK One Login account and cannot be changed.</p>
                <p>You can add other names and a different contact address later.</p>

                {% if (data['idv-ol'] == 'Pass (UK Passport)') %}
			
                {{ govukInsetText({
                    html: '
                    <p><strong>Name</strong><br>
                        '+data["co-2"]+'</p>
                    <p><strong>Date of birth</strong><br>
                        1 January 1980</p>
                   ',
                      classes: 'prefilled'
                  }) }}
                    
                {% else %}
                    
                {{ govukInsetText({
                    html: '
                    <p><strong>Name</strong><br>
                        '+data["co-2"]+'</p>
                    <p><strong>Date of birth</strong><br>
                        1 January 1980</p>
                    <p><strong>Current address</strong><br>
                        2 Marsham Street<br>
                        London<br>
                        United Kingdom<br>
                        SW1P 4DF</p>
                    ',
                      classes: 'prefilled'
                  }) }}
                    
                {% endif %}

    

                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

                
            </form>
        </div>
    </div>
    {% endblock %}