{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
Register yourself – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
		<!-- <span class="govuk-caption-l">Register as an individual</span> -->

		<h1 class='govuk-heading-l'>Add your personal details</h1> 

		<p>You must provide your personal details.</p>

		<h2 class='govuk-heading-m'>What you need to complete this section     </h2> 

		<p>You must provide your: </p>
		<ul class='govuk-list govuk-list--bullet'>
			<li>full name and any previous names </li>
			<li>date of birth  </li>
			<li>nationality </li>
			<li>address       </li>
		</ul>

		<p>We may use some details from your GOV.UK One Login account.</p>

		<h2 class='govuk-heading-m'>The public register</h2> 

		<p>If you add a political influencing activity, some of the information related to this registration will appear on the Foreign Influence Registration Scheme public register. </p>
		<p>Information set to appear on the public register may remain private if:</p>
		<ul class='govuk-list govuk-list--bullet'>
			<li>publication could cause serious harm to any individual involved in this activity</li>
			<li>publication could harm a criminal investigation or proceedings, or prevent the detection of crime</li>
			<li>publication could harm the safety or interests of the UK</li>
			<li>publication could harm the commercial interests of any individual or entity in this activity</li>
		</ul>

		<p>At the 'Check and submit your registration' stage, you can tell us if any of the registration information creates one or more of these risks and should stay private. If you do, you will have 5 days to submit your evidence.</p>
		
		
		<p>Read the guidance on:</p>
		<ul class='govuk-list govuk-list--bullet'>
			<li><a href="#">what information appears on the public register</a></li>
			<li><a href="#">your information remaining private</a></li>
		</ul>

		

				
			{% if (data['idv-ol'] == 'Pass (UK Passport)' or data['idv-ol'] == 'Pass (UK driving license)' ) %}

			<div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                        
				{{ govukButton({
					text: 'Save and continue',
					href: 'i-ol'
				}) }}
				{{ govukButton({
					href: '../registrations/registration-task-list',
					classes: 'govuk-button--secondary',
					text: 'Save and exit'
				}) }}

			</div>
				
			{% else %}

			<div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                        
				{{ govukButton({
					text: 'Save and continue',
					href: 'i2'
				}) }}
				{{ govukButton({
					href: '../registrations/registration-task-list',
					classes: 'govuk-button--secondary',
					text: 'Save and exit'
				}) }}

			</div>
				
			{% endif %}

		</form>

	</div>


<!-- 
	<div class="govuk-grid-column-one-third">

		<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
		  <h2 class="govuk-heading-m" id="subsection-title">
			Related content
		  </h2>
		  <nav role="navigation" aria-labelledby="subsection-title">
			<ul class="govuk-list govuk-!-font-size-16" data-module="edge">
			  <li>
				<a href="#">
				  Draft guidance on the Foreign Influence Registration Scheme 
				</a>
			  </li>
			  <li>
				<a href="#">
				  Foreign Influence Registration Scheme factsheet
				</a>
			  </li>
			  
			</ul>
		  </nav>
		</aside>
	
	  </div> -->


</div>




{% endblock %}