{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Regsiter yourself – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/i11' method='post'>
    
                <span class='govuk-caption-l'>Add your personal details</span>

                {% set homeAddress %}
                    {% if (data['idv-ol'] == 'Pass (UK driving license)' ) %}
                        2 Marsham Street, London, United Kingdom, SW1P 4DF
                    {% else %}
                        {% if (data['i8'] == 'United Kingdom') %}
                            {{data['i10-line-1']}}, {% if (data['i10-line-2']) %}{{data['i10-line-2']}}, {% endif %}{% if (data['i10-town']) %}{{data['i10-town']}}, {% endif %}{% if (data['i10-postcode']) %}{{data['i10-postcode']}}, {% endif %}{% if (data['i10-country']) %}{{data['i10-country']}}{% endif %}
                        {% else %}
                            {{data['i9']}}
                        {% endif %}
                    {% endif %}
                {% endset %}

                {% set otherCountry %}
                <div class="govuk-form-group govuk-form-group--add-another-block">
                    <label class="govuk-label" for="i8">
                        Country
                    </label>
                        <!-- id="i6--1" name="i6--1" -->

                    <div class="govuk-form-group--add-another-block__fields">

                        <div class="govuk-form-group--add-another-block__fields__col1">
                            <div class="autocomplete-wrapper" id="otherCountry"></div>
                            <div class="govuk-body other-nationality-field">
                                <p><a href="#" class="govuk-link cannot-find-country" data-field="otherCountry">I cannot find my country in the list</a></p>
                            </div>
                        </div>

                        <div class="govuk-form-group--add-another-block__fields__col2 govuk-body">
                            <a href="#" class="govuk-link row-remove hidden" data-row="otherCountry">Remove</a>
                        </div>

                    </div>

                </div>
                {% endset -%} 


                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {% from 'govuk/components/input/macro.njk' import govukInput %}

                {{ govukRadios({
                    id: 'i11',
                    name: 'i11',
                    value: data['i11'],
                    fieldset: {
                        legend: {
                            text: 'Which address should we use to contact you?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p>This is the address we will use if we need to send any documents.</p>'
                    },
                    items: [
                    {
                       value: homeAddress,
                        text: homeAddress
                    },
                    {
                       value: 'A different address',
                        text: 'A different address',
                        conditional: {
                            html: otherCountry
                        }
                    }
                    ]
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>


            </form>
        </div>
    </div>


    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/countries.js"></script>


    <script type="text/javascript">
        var element = document.querySelector('#otherCountry')
        var id = 'otherCountry'
        accessibleAutocomplete({
            element: element,
            id: id,
            name: id,
            source: countries
        })

        function manageRows (fieldId) {


            $('.cannot-find-country').on('click', function() {
                console.log('cannot-find-nationality');
                var thisField = $(this).data('field');
                console.log(thisField);
                $(this).closest('.govuk-form-group--add-another-block__fields').find('.autocomplete-wrapper').addClass('hidden');
                $(this).closest('.govuk-form-group--add-another-block__fields').find('.autocomplete-wrapper input.autocomplete__input').attr("name","none");
                $(this).closest('.other-nationality-field').html('<input name="'+thisField+'" id="'+thisField+'" type="text" class="govuk-input" autofocus> <p>Country or territory name</p>');
                // $(this).closest(".person-module").find(".update-button-group").removeClass('update-button-group--hidden');
                return false;
            })

            console.log('focus: input#'+fieldId);
            $('input#'+fieldId).focus();

        }

        window.onload = function() {
            manageRows('i8');
        };

    </script>


    {% endblock %}