{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'account' %}
    
    {% block pageTitle %}
        Register yourself – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='i-check' method='post'>
    
                <span class='govuk-caption-l'>Add your personal details</span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {% from 'govuk/components/fieldset/macro.njk' import govukFieldset %}

                {% set otherCountry %}{% if (data['i11'] == 'A different address in the UK') %}United Kingdom {% else %}{{data['i11-other']}}{% endif %}{% endset %}
                    
                {% call govukFieldset({
                    legend: {
                        text: 'What is your home address in '+otherCountry+'?',
                        classes: 'govuk-fieldset__legend--l',
                        isPageHeading: true
                    }
                }) %}
                    
                {{ govukInput({
                    label: {
                        text: 'Address line 1'
                   },
                   id: 'i12-line-1',
                   name: 'i12-line-1',
                   autocomplete: 'address-line1'
                }) }}
                    
                    {{ govukInput({
                    label: {
                        text: 'Address line 2 (optional)'
                    },
                    id: 'i12-line-2',
                    name: 'i12-line-2',
                    autocomplete: 'address-line2'
                }) }}
                    
                    {{ govukInput({
                    label: {
                        text: 'Town or city'
                    },
                    classes: 'govuk-!-width-two-thirds',
                    id: 'i12-town',
                    name: 'i12-town',
                    autocomplete: 'address-level2'
                }) }}
                    
                {{ govukInput({
                    label: {
                        text: 'Postcode'
                    },
                    classes: 'govuk-input--width-10',
                    id: 'i12-postcode',
                    name: 'i12-postcode',
                    autocomplete: 'postal-code'
                }) }}
                    
                {{ govukInput({
                    label: {
                        text: 'Country'
                    },
                    classes: 'govuk-!-width-two-thirds',
                    id: 'i12-country-disabled',
                    name: 'i12-country-disabled',
                    autocomplete: 'country',
                    value: otherCountry,
                    disabled: true
                }) }}

                {{ govukInput({
                    label: {
                        text: 'Country',
                        classes: "hidden"
                    },
                    classes: 'govuk-!-width-two-thirds',
                    id: 'i12-country',
                    name: 'i12-country',
                    autocomplete: 'country',
                    value: otherCountry,
                    classes: "hidden"
                }) }}
                    
                {% endcall %}
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '../registrations/new',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}