{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Register yourself – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    {% set postcodeLabel %}
        {% if (data['i8'] == 'Ireland') %}Eircode
        {% elseif (data['i8'] == 'United States') %}Zipcode
        {% else %}Postcode{% endif %}
    {% endset %}
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='i-check' method='post'>
    
                <span class='govuk-caption-l'>Verify your identity and add your details</span>
    
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukTextarea({
                name: 'moreDetail',
                    id: 'i13',
                    name: 'i13',
                    value: data['i13'],
                    label: {
                        text: 'What is your home address in '+data['otherCountry']+'?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '<p>This is the address we will use if we need to send any documents.</p>'
                    }
                }) }} 

                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                        
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/new',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>
                
            </form>
        </div>
    </div>
    {% endblock %}