{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
    Verify your identity and add your details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='i3' method='post'>
    
                <span class='govuk-caption-l'>Add your personal details</span>
    
                {% from "govuk/components/input/macro.njk" import govukInput %}
  

                {{ govukInput({
                    id: 'i2',
                    name: 'i2',
                    value: data['i2'],
                    label: {
                        text: "What is your full name?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: 'Enter your full name as it appears on official documents, such as your passport'
                    }
                }) }}

           
                {% from 'govuk/components/button/macro.njk' import govukButton %}
                     
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}

                    {{ govukButton({
                        href: '/route-v4/registration-overview',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}