{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Register yourself – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
{% block footer %}
{{ govukFooter({
meta: {
items: [
{
href: "/journey/v4/registrant/i-check",
text: "Skip"
},
{
href: "/manage-prototype",
text: "Manage your prototype"
},
{
href: "/manage-prototype/clear-data",
text: "Clear data"
}
],
visuallyHiddenTitle: "Footer links"
}
}) }}
{% endblock %}
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/i3' method='post'>
    
                <span class='govuk-caption-l'>Add your personal details</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'i3',
                    name: 'i3',
                    value: data['i3'],
                    fieldset: {
                        legend: {
                            text: 'Have you ever been known by any other names?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'This includes changing your name legally, for example, after getting married'
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes'
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '../registrations/new',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}