{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Register yourself – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    


{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="i5" method="post">						

		<!-- text: "What is your nationality or nationalities?", -->

        <span class='govuk-caption-l'>Verify your identity and add your details</span>

			{% from "govuk/components/input/macro.njk" import govukInput %}
			

				<fieldset class="govuk-fieldset">
					{% if (data['mode'] == 'rep') %}
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">
							What other names ha [NAME] been known by?
						</h1>
					</legend>
					<div id="i4-hint--1" class="govuk-hint">
						<p>You should provide your other names as they appear on your official change of name documents. For example, a marriage certificate.</p>
						<p>If you have multiple other names, you can add more by selecting 'Add another'. </p>
					</div>
					{% else %}
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">
							What other names have you been known by?
						</h1>
					</legend>
					<div id="i4-hint--1" class="govuk-hint">
						<p>You should provide your other names as they appear on your official change of name documents. For example, a marriage certificate.</p>
						<p>If you have multiple other names, you can add more by selecting 'Add another'. </p>
					</div>
					{% endif %}

					<div id="js-activity-wrapper">

						<div class="govuk-form-group govuk-form-group--add-another-block">
							<label class="govuk-label hidden" for="i4--1">
								Name 1
							</label>
							 <!-- id="i4--1" name="i4--1" -->

							<div class="govuk-form-group--add-another-block__fields">

								<div class="govuk-form-group--add-another-block__fields__col1">
                                    <input class="govuk-input" id="i4--1" name="i4--1" type="text">									
								</div>

								<div class="govuk-form-group--add-another-block__fields__col2 govuk-body">
									<a href="#" class="govuk-link row-remove hidden" data-row="i4--1">Remove</a>
								</div>

							</div>

						</div>
						
					</div>

				</fieldset>



			<div id="add-another-button"  class="govuk-!-padding-top-5">
				<a href="#" class="govuk-button govuk-button--secondary"  id="add-another-button">Add another</a>
			</div>
	  

            {{ govukButton({
                text: 'Save and continue'
            }) }}
            {{ govukButton({
                href: '../registrations/new',
                classes: 'govuk-button--secondary',
                text: 'Save and exit'
            }) }}

        </form>

	</div>

</div>





<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>



<script>

function dynamicTitle () {
    $('#js-activity-wrapper').on("keyup", ".name-field", function( event ) {
      let thisName = $(this).val();
      $(this).closest(".person-module").find(".min-label__name").html(thisName);
    })
}

function manageRows (fieldId) {

	$('.row-remove').on('click', function() {
	// console.log('CLICK');
		var thisRow = $(this).data('row');
		console.log(thisRow);
		$(this).closest(".govuk-form-group--add-another-block").addClass('delete-row');
		$('input#'+thisRow).val('');
		// $(this).closest(".person-module").find(".update-button-group").removeClass('update-button-group--hidden');
		return false;
	})



}

function addNew() {

    var newNameId = 2;
    var addAnotherButton = document.getElementById('add-another-button');
    var names = document.getElementById('js-activity-wrapper');

    var stringToHTML = function (str) {
      var parser = new DOMParser();
      var doc = parser.parseFromString(str, 'text/html');
      return doc.body.firstChild;
    };

    addAnotherButton.onclick = function () {

      $('.person-module').addClass('person-module--hidden');

      var s = stringToHTML(`
      
		<div class="govuk-form-group govuk-form-group--add-another-block">
			<label class="govuk-label" for="i4--${newNameId}">
				Other Name
			</label>
			<div class="govuk-form-group--add-another-block__fields">

                <div class="govuk-form-group--add-another-block__fields__col1">
                    <input class="govuk-input" id="i4--${newNameId}" name="i4--${newNameId}" type="text">									
                </div>

				<div class="govuk-form-group--add-another-block__fields__col2 govuk-body">
					<a href="#" class="govuk-link row-remove" data-row="i4--${newNameId}">Remove</a>
				</div>

			</div>

		</div>


      `);




    names.appendChild(s);


	var element = document.querySelector('#i4--'+newNameId);
	var id = 'i4--'+newNameId;
	// document.getElementById("industry"+newNameId).focus();
	manageRows(id);

	newNameId++;
    return false;
    console.log(newNameId);
    
	};
    
};




window.onload = function() {
    addNew();
	manageRows('i4--1');
};

</script>



{% endblock %}


