{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Register yourself – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/i7' method='post'>
    
                <span class='govuk-caption-l'>Add your personal details</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'i7',
                    name: 'i7',
                    value: data['i7'],
                    fieldset: {
                        legend: {
                            text: 'Do you live in the UK?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p>You are considered a resident if you live in the UK for more than 183 days in a tax year.</p>'
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes'
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>


            </form>
        </div>
    </div>
    {% endblock %}