{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add a registrant – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/reg-type' method='post'>
    
                <span class='govuk-caption-l'>Add a registrant</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'reg-type',
                    name: 'reg-type',
                    value: data['reg-type'],
                    fieldset: {
                        legend: {
                            text: 'What are you registering as?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Select one'
                    },
                    items: [
                    {
                        value: 'Individual',
                        text: 'Myself',
                        hint: {
                            text: 'A single person in an agreement with a foreign power or foreign power-controlled entity'
                        }
                    },
                    {
                        value: 'Entity',
                        text: 'An entity',
                        hint: {
                            text: 'An organisation such as a company, charity, club or similar, in an agreement with a foreign power or foreign power-controlled entity'
                        }
                    },
                    {
                        value: 'Foreign power-controlled entity',
                        text: 'A foreign power-controlled entity',
                        hint: {
                            text: 'A foreign power-controlled entity specified under UK law'
                        }
                    },
                    {
                        value: 'Misrepresentative foreign power employee',
                        text: 'A misrepresenting foreign power employee',
                        hint: {
                            text: 'A single person employed by a foreign power who does not accurately describe their activities or role in the UK'
                        }
                    }
                    ]
                }) }}

                <p><a href="/route-v4/guidance/registrant-types">Check what you need to register as (opens new tab)</a></p>
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}