{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}


{% set registeredAddress %}
{% if (data['reg-type'] == 'Entity') %}

	{% if (data['e5'] == 'Yes') %}
	{{data['e-ch2-line-1']}}, {% if (data['e-ch2-line-2']) %}{{data['e-ch2-line-2']}}, {% endif %}{% if (data['e-ch2-town']) %}{{data['e-ch2-town']}}, {% endif %}{% if (data['e-ch2-postcode']) %}{{data['e-ch2-postcode']}}, {% endif %}{% if (data['e-ch2-country']) %}{{data['e-ch2-country']}}{% endif %}

	{% elseif (data['e7'] == 'Yes') %}
	{{data['e10-line-1']}}, {% if (data['e10-line-2']) %}{{data['e10-line-2']}}, {% endif %}{% if (data['e10-town']) %}{{data['e10-town']}}, {% endif %}{% if (data['e10-postcode']) %}{{data['e10-postcode']}}, {% endif %}{% if (data['e10-country']) %}{{data['e10-country']}}{% endif %}
		
	{% elseif (data['e13'] == 'Yes') %}
	{{data['e14-line-1']}}, {% if (data['e14-line-2']) %}{{data['e14-line-2']}}, {% endif %}{% if (data['e14-town']) %}{{data['e14-town']}}, {% endif %}{% if (data['e14-postcode']) %}{{data['e14-postcode']}}, {% endif %}{% if (data['e14-country']) %}{{data['e14-country']}}{% endif %}

	{% else %}
	{{data['e15-line-1']}}, {% if (data['e15-line-2']) %}{{data['e15-line-2']}}, {% endif %}{% if (data['e15-town']) %}{{data['e15-town']}}, {% endif %}{% if (data['e15-postcode']) %}{{data['e15-postcode']}}, {% endif %}{% if (data['e15-country']) %}{{data['e15-country']}}{% endif %}
	{% endif %}

{% else %}
	
	{% if (data['i7'] == 'Yes') %}
	{{data['i10-line-1']}}, {% if (data['i10-line-2']) %}{{data['i10-line-2']}}, {% endif %}{% if (data['i10-town']) %}{{data['i10-town']}}, {% endif %}{% if (data['i10-postcode']) %}{{data['i10-postcode']}}, {% endif %}{% if (data['i10-country']) %}{{data['i10-country']}}{% endif %}
	{% else %}
	{{data['i9-line-1']}}, {% if (data['i9-line-2']) %}{{data['i9-line-2']}}, {% endif %}{% if (data['i9-town']) %}{{data['i9-town']}}, {% endif %}{% if (data['i9-postcode']) %}{{data['i9-postcode']}}, {% endif %}{% if (data['i9-country']) %}{{data['i9-country']}}{% endif %}
	{% endif %}

{% endif %}

{% endset %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">


		<!-- <span class="govuk-caption-l">Add a registrant</span> -->
		<h1 class="govuk-heading-l">Add a registrant?</h1>

		<p>To start a new registration, you must add a new registrant or select one you have already added or have access to.</p>

		<h2 class='govuk-heading-m'>Add a new registrant</h2> 

		<p>If you are the registrant, you must:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>provide your personal details</li>
			<li>verify your identity using our verification service</li>
		</ul>

		<p>You cannot register another individual. </p>
		<p>If an entity, such as a company, is the registrant, you must:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>provide details about the entity</li>
			<li>nominate a senior responsible officer to verify their identity  </li>
		</ul>

		<p>You can only register an entity if you are either:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>a Senior Responsible Officer for the entity</li>
			<li>someone who is formally part of the entity, such as an employee, member or volunteer, and has been given permission to register it</li>
		</ul>

		<p>You can save your progress at any point and return later.</p>

		{% from 'govuk/components/details/macro.njk' import govukDetails %}
			
		{{ govukDetails({
			summaryText: 'What is a registrant?',
			text: 'A registrant is the person or entity in an arrangement with a foreign power or foreign power-controlled entity. A registrant can also be an individual employed by a foreign power.'
		}) }}

		{% from 'govuk/components/details/macro.njk' import govukDetails %}
			
		{{ govukDetails({
			summaryText: 'What is a Senior Responsible Officer?',
			text: 'A Senior Responsible Officer (SRO) is a person who is responsible for ensuring compliance with the Foreign Influence Registration Scheme (FIRS) within an entity. The SRO is typically a senior executive within the entity who has the authority to make decisions about FIRS and is the single point of contact for the FIRS team.'
		}) }}

		{% from 'govuk/components/button/macro.njk' import govukButton %}
			
		{{ govukButton({
			href: 'reg-type?registrant-progress=in-progress&registration-progress=in-progress',
			classes: '',
			text: 'Add a new registrant'
		}) }}

		{% if (data['registrant-name']) %}
		<h2 class="govuk-heading-m">Select a registrant</h2>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">
					<span class="govuk-caption-m">Registrant ({{data['reg-type']}})</span>
					{{data['registrant-name']}} 
					
				</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link show-collapsed-content" href="#">View details</a>
					</li>
					<li class="govuk-summary-card__action">
						<a class="govuk-link " href="../arrangement/select-arrangement?&registrant-progress=complete&registration-progress=in-progress">Select<span class="govuk-visually-hidden"> {{data['registrant-name']}} </span></a>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content govuk-summary-card__content__collapsable">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Regsitered Address
						</dt>
						<dd class="govuk-summary-list__value">
							{{registeredAddress}}
						</dd>
					</div>
				</dl>
			</div>
		</div>



		{% else %}
			<h2 class="govuk-heading-m">Select a registrant</h2>
			<p>You do not have any existing registrants.</p>
		{% endif %}





</div>


<script type="text/javascript" src="/public/javascripts/manage-card.js"></script>


{% endblock %}