{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Add an activity</span>
    <div>

    <form class="form" action="/route-v2/4-0b" method="post">

      {{ govukCheckboxes({
        name: "v4-0b",
        values: data['v4-0b'],
        fieldset: {
          legend: {
            text: "What is the activity is intended to influence?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "UK elections or referendums",
            text: "UK elections or referendums"
          },
          {
            value: "Decisions of the government of the UK, Northern Ireland, Scotland or Wales",
            text: "Decisions of the government of the UK, Northern Ireland, Scotland or Wales"
          },
          {
            value: "UK political parties",
            text: "UK political parties"
          },
          {
            value: "Members of the of either House of Parliament, the Northern Ireland Assembly, the Scottish Parliament or Senedd Cymru ",
            text: "Members of the of either House of Parliament, the Northern Ireland Assembly, the Scottish Parliament or Senedd Cymru"
          },
          {
            divider: "or"
          },
          {
            value: "Non-political",
            text: "A non-political objective",
            behaviour: "exclusive"
          }
        ]
      }) }}

      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <!-- <p>
      {{ data['activityTypes'] }}
    </p> -->

  </div>

{% endblock %}
