{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <span class="govuk-caption-l">About the activity</span>

      <h1 class="govuk-heading-l">Who is intended to receive this private communication?</h1>
      
      <form action="/group/4-G2?stream=2" method="post">

        <div id="js-activity-wrapper">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {% call govukFieldset({
          classes: "person-module",
          legend: {
            text: "Recipient 1",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: false
          }
        }) %}


          {{ govukSelect({
            id: "v4-2-1--type-1",
            name: "v4-2-1--type-1",
            label: {
              text: "Type of recipient"
            },
            items: [
              {
                value: "option 1",
                text: "Option 1"
              },
              {
                value: "option 2",
                text: "Option 2"
              },
              {
                value: "option 3",
                text: "Option 3"
              },
              {
                value: "option 4",
                text: "Option 4"
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              text: "Full name (optional)"
            },
            classes: "name-field",
            id: "v4-2-1--name-1",
            name: "v4-2-1--name-1"
          }) }}

          {{ govukInput({
            label: {
              text: "Their role in conducting this activity (optional)"
            },
            id: "v4-2-1--role-1",
            name: "v4-2-1--role-1"
          }) }}

            <div class="govuk-heading-m update-button-group update-button-group--hidden">
                <div class="person-texts">
                </div>
                <div class="person-actions govuk-button-group">
                    <button class="govuk-button button--save">Save</button>
                    <a class="govuk-link button--delete">Delete</a>
                </div>
            </div>


            <div class="govuk-heading-m min-label">
                <div class="person-texts">
                    <div class="govuk-caption-m">Recipient 1</div>
                    <div class="govuk-heading-m min-label__name"></div>
                </div>
                <div class="person-actions govuk-button-group">
                    <button class="govuk-button button--update">Update</button>
                    <a class="govuk-link button--delete">Delete</a>
                </div>
            </div>

        {% endcall %}

      </div>

        <div id="add-another-button"  class="govuk-!-padding-top-5">
          <a href="#" class="govuk-button govuk-button--secondary"  id="add-another-button">Add another person or organisation</a>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>



<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>

function dynamicTitle () {
    $('#js-activity-wrapper').on("keyup", ".name-field", function( event ) {
      let thisName = $(this).val();
      $(this).closest(".person-module").find(".min-label__name").html(thisName);
    })
}

function addNew() {

    var newNameId = 2;
    var addAnotherButton = document.getElementById('add-another-button');
    var names = document.getElementById('js-activity-wrapper');

    var stringToHTML = function (str) {
      var parser = new DOMParser();
      var doc = parser.parseFromString(str, 'text/html');
      return doc.body.firstChild;
    };

    addAnotherButton.onclick = function () {

      $('.person-module').addClass('person-module--hidden');

      var s = stringToHTML(`
      
        {% call govukFieldset({
          classes: "person-module",
          legend: {
            text: "Recipient ${newNameId}",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}


          {{ govukSelect({
            id: "v4-2-1--type-${newNameId}",
            name: "v4-2-1--type-${newNameId}",
            label: {
              text: "Type of recipient"
            },
            items: [
              {
                value: "published",
                text: "Recently published"
              },
              {
                value: "updated",
                text: "Recently updated",
                selected: true
              },
              {
                value: "views",
                text: "Most views"
              },
              {
                value: "comments",
                text: "Most comments"
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              text: "Full name (optional)"
            },
            classes: "name-field",
            id: "v4-2-1--name-${newNameId}",
            name: "v4-2-1--name-${newNameId}"
          }) }}

          {{ govukInput({
            label: {
              text: "Their role in conducting this activity (optional)"
            },
            id: "v4-2-1--role-${newNameId}",
            name: "v4-2-1--role-${newNameId}"
          }) }}

            <div class="govuk-heading-m update-button-group update-button-group--hidden">
                <div class="person-texts">
                </div>
                <div class="person-actions govuk-button-group">
                    <button class="govuk-button button--save">Save</button>
                    <a class="govuk-link button--delete">Delete</a>
                </div>
            </div>



            <div class="govuk-heading-m min-label">
                <div class="person-texts">
                    <div class="govuk-caption-m">Recipient ${newNameId}</div>
                    <div class="govuk-heading-m min-label__name">Person's Name</div>
                </div>
                <div class="person-actions govuk-button-group">
                    <button class="govuk-button button--update">Update</button>
                    <a class="govuk-link button--delete">Delete</a>
                </div>
            </div>

        {% endcall %}
      `);


    $('.button--update').on('click', function() {
        $(this).closest(".person-module").removeClass('person-module--hidden');
        $(this).closest(".person-module").find(".update-button-group").removeClass('update-button-group--hidden');
        return false;
    })
    $('.button--save').on('click', function() {
        $(this).closest(".person-module").addClass('person-module--hidden');
        $(this).closest(".person-module").find(".update-button-group").addClass('update-button-group--hidden');
        return false;
    })
    $('.button--delete').on('click', function() {
        $(this).closest(".person-module").addClass('person-module--delete')
        return false;
    })



      names.appendChild(s);
      // document.getElementById("industry"+newNameId).focus();
      newNameId++;
      return false;
      console.log(newNameId);
    };
    
};


window.onload = function() {
    dynamicTitle();
    addNew();
};

</script>

{% endblock %}



