{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">
            Check your answers before saving this activity
        </h1>
        <p>You will be able to amend this activity later.</p>


        <h2 class="govuk-heading-m">Private communication details</h2>

        <dl class="govuk-summary-list">


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                What is this activity intended to influence?
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-0a']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-0a">Change<span class="govuk-visually-hidden"> activity intended to influence</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Types of private communication
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-2">Change<span class="govuk-visually-hidden"> Types of private communication</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Are you involved in this activity?
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-G1-1--t2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-1">Change<span class="govuk-visually-hidden"> your involved in this activity</span></a>
                </dd>
            </div>
            {% if (data['v4-G1-3--t2--name-1']) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Others involved in the activity
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-G1-3--t2--name-1']}}{% if (data['v4-G1-3--t2--name-2']) %}, {{data['v4-G1-3--t2--name-2']}}{% endif %}{% if (data['v4-G1-3--t2--name-3']) %}, {{data['v4-G1-3--t2--name-3']}}{% endif %}{% if (data['v4-G1-3--t2--name-4']) %}, {{data['v4-G1-3--t2--name-4']}}{% endif %}{% if (data['v4-G1-3--t2--name-5']) %}, {{data['v4-G1-3--t2--name-5']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Others involved in the activity</span></a>
                </dd>
            </div>
            {% endif %}

            {% if (data['v4-2-1--name-1']) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Intended recipient of the activity
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-2-1--name-1']}}{% if (data['v4-2-1--name-2']) %}, {{data['v4-2-1--name-2']}}{% endif %}{% if (data['v4-2-1--name-3']) %}, {{data['v4-2-1--name-3']}}{% endif %}{% if (data['v4-2-1--name-4']) %}, {{data['v4-2-1--name-4']}}{% endif %}{% if (data['v4-2-1--name-5']) %}, {{data['v4-2-1--name-5']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-3">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>
            {% endif %}

<!-- 
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Intended audience
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-3-1']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-2-1">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div> -->

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Activity start date
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-G2-1--t2']) == "yes" %}
                {{data['v4-G2-1--t2-day']}}/{{data['v4-G2-1--t2-month']}}/{{data['v4-G2-1--t2-year']}}
                {% else %}
                None stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G2-1">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Activity end date
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-G2-2--t2']) == "yes" %}
                {{data['v4-G2-2--t2-day']}}/{{data['v4-G2-2--t2-month']}}/{{data['v4-G2-2--t2-year']}}
                {% else %}
                None stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G2-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Frequency of activity
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-G2-3--t2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G2-3">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Expected outcome
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-2-2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-2-2">Change<span class="govuk-visually-hidden"> Name of recipient</span></a>
                </dd>
            </div>

           

        </dl>

        
        <form action="/route/4-exception?exception-type={{data['stream']}}" method="post">
            
            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

            {% set exceptionOptions %}
            {{ govukCheckboxes({
              name: "exception-reason",
              id: "exception-reason",
              values: data['exception-reason'],
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Why do you want this information to remain private?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "You will need to give evidence on the next page to keep this information private."
              },
              items: [
                {
                  value: "Safety to the UK",
                  text: "Safety to the UK",
                  hint: {
                    text: "Where there is a risk publication would be prejudicial to the safety or interests of the UK"
                  }
                },
                {
                  value: "Risk to the safety of an individual",
                  text: "Risk to the safety of an individual",
                  hint: {
                    text: "Where there is a significant risk publication would put the safety of any individual in this activity at risk of serious harm"
                  }
                },
                {
                  value: "Prejudicial to criminal investigation",
                  text: "Prejudicial to criminal investigation",
                  hint: {
                    text: "Where there is a risk publication would be prejudicial to a criminal investigation or proceedings, or to the prevention or detection of crime"
                  }
                },
                {
                  value: "Commercially sensitive",
                  text: "Commercially sensitive",
                  hint: {
                    text: "Where there is a high likelihood to seriously prejudice the commercial interests of any individual or organisation in this activity"
                  }
                }
              ]
            }) }}
            {% endset -%}
            
            {{ govukRadios({
              name: "exception-request",
              id: "exception-request",
              value: data['exception-request'],
              fieldset: {
                legend: {
                  text: "Do you want to request that the information remains private?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                classes: "govuk-hint",
                html: "<p>Some of the information about this activity will appear on a public register. You can make a request for the information to remain private if you have a legitimate reason.</p>
                <p> To request that some of this information remains private, check this box.</p>"
              },
              items: [
                {
                  value: "No",
                  text: "I am aware this information will appear on a public register."
                },
                {
                  value: "Yes",
                  text: "I would like to request that the information remains private.",
                    conditional: {
                        html: exceptionOptions
                    }
                }
              ]
            }) }}



            {{ govukButton({
              text: "Submit activity"
            }) }}


            
        </form>


<!--
      <div class="govuk-button-group">

        <a href="/journey/v1/activity" class="govuk-button ">Save activity</a>

        <a href="/journey/v1/activity/4-exception" class="govuk-button govuk-button--secondary">Save activity and regsiter exception</a>

      </div>
-->
    </div>
  </div>

{% endblock %}