{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "activity-types-plus-none",
         text: "Activity types, with option for 'None'"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">About the activity</span>

    <div>

    <form class="form" action="/group/4-G1?stream=2" method="post">

      {{ govukCheckboxes({
        name: "v4-2",
        values:  data['v4-2'],
        fieldset: {
          legend: {
            text: "What type of private communication will be made?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "Email",
            text: "Email"
          },
          {
            value: "Phone call",
            text: "Phone call"
          },
          {
            value: "Text message",
            text: "Text message"
          },
          {
            value: "Meeting",
            text: "Meeting",
            hint: {
              text: "Including in-person, or remote using technology"
            }
          },
          {
            value: "Letter",
            text: "Letter"
          }
        ]
      }) }}

      
      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <!-- <p>
      {{ data['activityTypes'] }}
    </p> -->

  </div>

{% endblock %}
