{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="4-3-2" method="post">

      <span class="govuk-caption-l">About the activity</span>

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "v4-3-1",
        id: "v4-3-1",
        label: {
          text: "Who are the intended audience for the public communication?",
          classes: "govuk-label--l",
          isPageHeading: true
        }
      }) }}
    
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>



  </div>
</div>

{% endblock %}
