{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

			<h1 class="govuk-heading-l">
				Check answers
			</h1>

        <form class="form" action="2-end-self" method="post">

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>

  </div>

{% endblock %}
