{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

			<h1 class="govuk-heading-l">
				Registration confirmation
			</h1>

      <div class="govuk-body">
        <p>Thank you. The individual has been sent an information request. You will receive an email to confirm when they have submitted their information. You may continue with the FIRS registration.</p>
      </div>

      <div class="govuk-button-group">
        <a href="/journey/v1/registration" class="govuk-button govuk-button--secondary">Return to Registration</a>
        <a href="/journey/v1/arrangement" class="govuk-button">Save and go to Arrangements</a>
      </div>


    </div>

  </div>

{% endblock %}
