{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--interuption">
        <h1 class="govuk-panel__title ">
          Waiting for your identity to be verified
        </h1>
        <div class="govuk-panel__body govuk-body">
          {% if (data['v2-5-1']) %}<p>Email sent to <br><strong>{{data['v2-5-1']}}</strong></p>{% endif %}
        </div>
      </div>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <div class="govuk-body">
        <p>Your ID is being verified. You will receive an email to confirm if your ID has been accepted or not with instructions on what to do next.</p>
        <p>You can continue with your registration for the time being.</p>
      </div>

      <div class="govuk-button-group">
        <a href="/journey/v1/agreement" class="govuk-button">Save and go to Agreements</a>
        <a href="/journey/v1/registration" class="govuk-button govuk-button--secondary">Return to Registration</a>
      </div>


    </div>

  </div>

{% endblock %}
