{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Add a registrant</span>
            <h1 class="govuk-heading-l">What is the name of the unincorporated association on {{	data['v2-G4-10']}}?</h1>
            <!-- <span class="govuk-caption-l">Create account</span> -->

            <form class="form" action="/route/2-G4-return-{{data['mode']}}-{{data['reg-type']}}" method="post">

	        	{% from "govuk/components/input/macro.njk" import govukInput %}

	        	<div class="govuk-form-group">

					{{ govukInput({
						label: {
							text: "What is the name of the public register?",
	                        isPageHeading: false,
	                        classes: "hidden"
						},
						classes: "govuk-!-width-two-thirds",
						id: "v2-G4-11",
						name: "v2-G4-11"
					}) }}

				</div>



	            {{ govukButton({
	            text: "Continue"
	            }) }}


	        </form>

        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

    	</div>

    </div>

{% endblock %}
