{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- <span class="govuk-caption-l">Create account</span> -->

	        <form class="form" action="2-G4-3" method="post">

				{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

				{{ govukDateInput({
				  id: "body-corporate-incorporated",
				  namePrefix: "2-G4-2",
				  fieldset: {
				    legend: {
				      text: "What date was the unincorporated association formed?",
				      isPageHeading: true,
				      classes: "govuk-fieldset__legend--l"
				    }
				  },
				  hint: {
				    text: "For example, 27 3 2007"
				  }
				}) }}


	            {{ govukButton({
	            text: "Save and continue"
	            }) }}

	        </form>

        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

    	</div>

    </div>

{% endblock %}
