{% extends "layouts/main-w-nav.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add a Registration</h1>
        <div>

        <ul class="govuk-body">

            <li><a href="registration/2-0?acc-type=individual">Add Registration (as an individual account holder)</a></li>
            <li><a href="registration/2-0?acc-type=corp-body">Add Registration (as a corp body holder)</a></li>
            <li><a href="registration/2-0?acc-type=unincorp-assoc">Add Registration (as an unincorp assoc account holder)</a></li>

        </ul>

        <!-- <p>
        {{ data['activityTypes'] }}
        </p> -->

    </div>

{% endblock %}
