{% extends "layouts/v3-header-one-0.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="on-1" method="post">

			{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}



			<h1 class="govuk-heading-l">Check what account you need as a registrant</h1>

			<p>Before you tell us about any activities registrable under the Foreign Influence Registration Scheme, we need to find out which type of account you 
				need.</p>
			<p>You will be asked some questions then given one of 4 account types:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>Individual in an agreement with a foreign power or foreign power-controlled entity</li>
				<li>Individual who works for a foreign power</li>
				<li>Non-individual entity in an agreement with a foreign power or foreign power-controlled entity</li>
				<li>Foreign power-controlled entity</li>
			</ul>

			{{ govukWarningText({
				text: "If you do not finish now, you will need to start again later.",
				iconFallbackText: "Important"
				}) }}

				
			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}