{% extends "layouts/v3-header-one-1.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block footer %}
	{{ govukFooter({
   meta: {
     items: [
	 {
		href: "../registrations/prefilled-entity-registrant?prefill=HSBC&prefilled=true",
		text: "Prefilled Reg 1"
	  },
	  {
		href: "../registrations/prefilled-entity-registrant?prefill=Citi&prefilled=true",
		text: "Prefilled Reg 2"
	  },
	  {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="on-1" method="post">

			{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

			<h1 class="govuk-heading-l">Check what you need to register as</h1>

			<p>You either need to register as an individual or an organisation.</p>
			<!-- <p>There are two types of individual:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>Individual in an agreement with a foreign power or foreign power-controlled entity</li>
				<li>Individual directly employed by a foreign power</li>
			</ul>

			<p>There are two types of organisation:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>Organisation in an agreement with a foreign power or foreign power-controlled entity</li>
				<li>Foreign power-controlled organisation</li>
			</ul> -->

			{{ govukWarningText({
				text: "If you do not finish now, you will need to start again later.",
				iconFallbackText: "Important"
				}) }}

				
			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}