{% extends "layouts/v3-header-one-0.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/on-1" method="post">

			<span class="govuk-caption-l">Setting up your account</span>

			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "v-on-1",
			    id: "v-on-1",
			    value: data['v-on-1'],
			    fieldset: {
				    legend: {
				        text: "What are you registering as?",
				        isPageHeading: true,
				        classes: "govuk-fieldset__legend--l"
				    }
			    },
			    items: [
			    {
			        value: "Individual",
			        text: "An individual"
			    },
			    {
			        value: "Organisation",
			        text: "Organisation or other type of group",
			        hint: {
			        	text: "Any non-individual such as a company, charity or club"
			        }
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}