{% extends 'layouts/v3-header-one-1.html' %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block footer %}
	{{ govukFooter({
   meta: {
     items: [
	 {
		href: "../registrations/prefilled?prefill=HSBC",
		text: "Prefilled Reg 1"
	  },
	  {
		href: "../registrations/prefilled?prefill=Citi",
		text: "Prefilled Reg 2"
	  },
	  {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/on-1" method="post">

            <span class="govuk-caption-l">Check what you need to register as</span>

			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "v-on-1",
			    id: "v-on-1",
			    value: data['v-on-1'],
			    fieldset: {
				    legend: {
				        text: "What are you registering as?",
				        isPageHeading: true,
				        classes: "govuk-fieldset__legend--l"
				    }
			    },
			    items: [
			    {
			        value: "Individual",
			        text: "Individual"
			    },
			    {
			        value: "Organisation",
			        text: "Organisation",
			        hint: {
			        	text: "Any organisation such as a company, charity, or club"
			        }
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}