{% extends "layouts/v3-header-one-0.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/on-2" method="post">

            <span class="govuk-caption-l">Check what account you need</span>
			
			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "v-on-2",
			    id: "v-on-2",
			    value: data['v-on-2'],
			    fieldset: {
				    legend: {
				        text: "Do any of these statements apply to you?",
				        isPageHeading: true,
				        classes: "govuk-fieldset__legend--l"
				    }
			    },
			    hint: {
			    	html: "
						<p>A foreign power is any governmental body, 
							agency, authority or governing political party 
							operating outside the UK and Ireland.</p>
							<p>							A role or an affiliation with a foreign power could 
							mean you:</p>
							<ul class='govuk-list govuk-list--bullet'>

								<li>hold office under or represent the head of a foreign state</li>
								<li>are part of or employed by a foreign government or part of a foreign government</li>
								<li>work for an agency or authority of a foreign government</li>
								<li>are part of an authority administering affairs in an area within a foreign country or territory</li>
								<li>are a member of a political party that governs a foreign country</li>
						</ul>"
			    },
			    items: [
			    {
			        value: "Yes",
			        text: "Yes"
			    },
			    {
			        value: "No",
			        text: "No"
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}