{% extends "layouts/v3-header-one-0.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/on-3" method="post">

            <span class="govuk-caption-l">Check what account you need as a registrant</span>
			
			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "v-on-3",
			    id: "v-on-3",
			    value: data['v-on-3'],
			    fieldset: {
				    legend: {
				        text: "Is your entity a specified foreign power-controlled entity?",
				        isPageHeading: true,
				        classes: "govuk-fieldset__legend--l"
				    }
			    },
			    hint: {
			    	html: "
					<p>There are [x number of] foreign power-controlled entities specified under UK law:</p>
					<ul class='govuk-list govuk-list--bullet'>
			    		<li>Entity 1</li>
			    		<li>Entity 2</li>
			    		<li>Entity 3</li>
			    		<li>Entity 4</li>
			    		<li>Entity 5</li>
						<li>Entity 6</li>
			    		<li>Entity 7</li>
			    		<li>Entity 8</li>
			    		<li>Entity 9</li>
			    		<li>Entity 10</li>
			    	</ul>"
			    },
			    items: [
			    {
			        value: "Yes",
			        text: "Yes"
			    },
			    {
			        value: "No",
			        text: "No"
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}