{% extends "layouts/v3-header-one-0.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/on-5" method="post">

            <span class="govuk-caption-l">Check what account you need</span>

			<!-- <p class='govuk-hint'>Section x of the FIRS guidance provides a full definition of a foreign power.</p> -->

			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "v-on-5",
			    id: "v-on-5",
			    value: data['v-on-5'],
			    fieldset: {
			    legend: {
			        text: "Is your entity a foreign power?",
			        isPageHeading: true,
			        classes: "govuk-fieldset__legend--l"
			    }
			    },
			    hint: {
			    	html: "
					<p class='govuk-hint'>A foreign power is any governmental body, agency, authority or governing political party operating outside the UK and Ireland.</p>
					<p class='govuk-hint'>A foreign power can be:</p>
					
					<ul class='govuk-hint govuk-list govuk-list--bullet'>
			    		<li>an office of the head of a foreign state</li>
			    		<li>a foreign government or part of a foreign government</li>
			    		<li>an agency or authority of a foreign government</li>
			    		<li>an entity responsible for administering affairs in an area within a foreign country or territory</li>
			    		<li>a political party that governs a foreign country</li>
			    	</ul>
					"
			    },
			    items: [
			    {
			        value: "Yes",
			        text: "Yes"
			    },
			    {
			        value: "No",
			        text: "No"
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}