{% extends "layouts/v3-header-one-0.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/on-6" method="post">

			<span class="govuk-caption-l">Setting up your account</span>

			<h1 class="govuk-heading-l">You have indicated that your organisation is a foreign power.</h1>
			<p> You can read the full definition of a foreign power under xxxx of the NSA 2023.</p>
			<p>You only need to register if you have a role, position or affiliation with a foreign power, and you do not accurately report or 'misrepresent' this relationship or activities in the UK. You can read the full definition of misrepresentation under xxxx of the NSA 2023.</p>


			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "v-on-6",
			    id: "v-on-6",
			    value: data['v-on-6'],
			    fieldset: {
				    legend: {
				        text: "Do you want to setup an account as an individual?",
				        isPageHeading: false,
				        classes: "govuk-fieldset__legend--m"
				    }
			    },
			    items: [
			    {
			        value: "Yes",
			        text: "Yes"
			    },
			    {
			        value: "No",
			        text: "No"
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}