{% extends "layouts/v3-header-one-0.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/on-6" method="post">

			<span class="govuk-caption-l">Setting up your account</span>

			<h1 class="govuk-heading-l">You have indicated that you are registering as a foreign power</h1>
			<p>Only individuals with a role, position or affiliation 
				with a foreign power have to register under 
				special circumstances.</p>
				<p>These individuals must be doing or arranging for 
				others to do activities in the UK. They must also 
				be deliberately misrepresenting their role, 
				position or affiliation, or the activities in the UK.</p>


			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "v-on-6",
			    id: "v-on-6",
			    value: data['v-on-6'],
			    fieldset: {
				    legend: {
				        text: "Do you want to register as an individual?",
				        isPageHeading: false,
				        classes: "govuk-fieldset__legend--m"
				    }
			    },
			    items: [
			    {
			        value: "Yes",
			        text: "Yes"
			    },
			    {
			        value: "No",
			        text: "No, take me back to the guidance"
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}