{% extends 'layouts/v3-header-one-0.html' %}
{% set activeLinkId = 'account' %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>


        {% if (data['acc-type'] == 'Organisation') %}

            {% if (data['tier'] == 'enhanced') %}

            <span class="govuk-caption-l">Check what registrant 
                account you need</span>

            <h1 class="govuk-heading-l">You need an account for 
                a specified foreign 
                power-controlled entity</h1>
    
                <p><strong>What this means</strong></p>
                <p>You can register activities your entity is doing or 
                    organising for others to do in the UK.
                    </p>
                

                <p><strong>Managing your account</strong></p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>You cannot change your account type after 
                        this point</li>
                        <li>You can add representatives to manage your 
                            account after you have finished setting up</li>
                </ul>


            {% else %}

            <span class="govuk-caption-l">Check what registrant 
                account you need</span>

            <h1 class="govuk-heading-l">You need an account for 
                a non-individual entity</h1>
    
                <p><strong>What this means</strong></p>
                <p>You can register your entity's agreements with 
                    foreign powers and specified foreign power-
                    controlled entities, and any activities your entity is 
                    doing or organising others to do in the UK as part 
                    of these agreements.
                    </p>
                

                <p><strong>Managing your account</strong></p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>You cannot change your account type after 
                        this point</li>
                        <li>You can add representatives to manage your 
                            account after you have finished setting up</li>
                </ul>




            {% endif %}

            {{ govukButton({
                text: 'Accept and continue',
                href: '../account/organisation-details?setup=incomplete'
            }) }}
    

        {% elseif (data['acc-type'] == 'Individual') %}

            {% if (data['misrep'] == 'true') %}

            <span class="govuk-caption-l">Check what registrant 
                account you need</span>

            <h1 class="govuk-heading-l">You need an account for 
                an individual with a role 
                or an affiliation with a 
                foreign power</h1>

                <p><strong>What this means</strong></p>
                <p>You can register activities you are doing or 
                    organising for others to do in the UK as part of 
                    your role, position or affiliation with a foreign 
                    power.
                    </p>
                    <p>You only need to register activities if you're 
                        deliberately making statements, or presenting 
                        information, that could be perceived as false or 
                        misleading.
                        </p>

                <p><strong>Managing your account</strong></p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>You cannot change your account type after 
                        this point</li>
                        <li>You can add representatives to manage your 
                            account after you have finished setting up</li>
                </ul>



            {% else %}

            <span class="govuk-caption-l">Check what registrant 
                account you need</span>

            <h1 class="govuk-heading-l">You need an account for 
                an individual</h1>

                <p><strong>What this means</strong></p>
                <p>You can register agreements with foreign powers 
                    and specified foreign power-controlled entities, 
                    and any activities you are doing or organising 
                    others to do in the UK as part of these 
                    agreements.
                    </p>
                

                <p><strong>Managing your account</strong></p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>You cannot change your account type after 
                        this point</li>
                        <li>You can add representatives to manage your 
                            account after you have finished setting up</li>
                </ul>



            {% endif %}

            {{ govukButton({
                text: 'Accept and continue',
                href: '../account/3-1-0?setup=incomplete'
            }) }}
    

        {% endif %}



        <h2 class='govuk-heading-m'>Your answers</h2>

        {% if (data['acc-type'] == 'Organisation') %}
        
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What are you registering as?
                </dt>
                <dd class="govuk-summary-list__value">
                    Organisation or other type of group
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-1">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>


            {% if (data['v-on-3'] == 'Yes') %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['v-on-4']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-3">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% else %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['accName']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-name">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is your organisation or group a foreign power?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['v-on-5']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-5">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% endif %}
        
        </dl>


        {% elseif (data['acc-type'] == 'Individual') %}
    
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What are you registering as?
                </dt>
                <dd class="govuk-summary-list__value">
                    Individual
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-1">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['accName']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-name">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% if (data['v-on-2'] == 'Yes') %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Role, position or affiliation with a foreign power
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-2">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% else %}
                
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Role, position or affiliation with a foreign power
                </dt>
                <dd class="govuk-summary-list__value">
                    None
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-2">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% endif %}
        
        </dl>

        {% endif %}
        
    </div>
</div>


{% endblock %}