{% extends 'layouts/v3-header-one-0.html' %}
{% set activeLinkId = 'account' %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>

        <span class="govuk-caption-l">Setting up your account</span>

        <h1 class="govuk-heading-l">Based on your answers</h1>

        {% if (data['acc-type'] == 'Organisation') %}

            {% if (data['tier'] == 'enhanced') %}

            <p>[SPECIFIED ENTITY, ENHANCED TIER] text tbc.</p>

            {% else %}

            <p>[ORGANISATION, POLITICAL TIER] text tbc.</p>


            {% endif %}

            {{ govukButton({
                text: 'Accept and continue',
                href: '../account/organisation-details?setup=incomplete'
            }) }}
    

        {% elseif (data['acc-type'] == 'Individual') %}

            {% if (data['misrep'] == 'true') %}

            <p>[INDIVIDUAL, MISREP] text tbc.</p>

            {% else %}

            <p>You've indicated that you are an individual with no 
                role, position or affiliation with a foreign power.</p>
                <p><strong>Account type to be assigned</strong></p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Individual Registrant</li>
                </ul>
                <p>Your account will be set up to allow you to register 
                agreements with foreign powers and foreign 
                power-controlled entities. You'll also be able to 
                register any activities you are doing or organising 
                for others to do in the UK as part of these 
                agreements.</p>

                <p><strong>Managing your account</strong></p>

                <p>You cannot change your account type after this 
                point in the process. Refer to the guidance or 
                contact the FIRS support team if you are unsure.</p>

                <p>You'll have the option to add representatives to 
                manage your account after set up is complete.</p>


            {% endif %}

            {{ govukButton({
                text: 'Accept and continue',
                href: '../account/3-1-0?setup=incomplete'
            }) }}
    

        {% endif %}



        <h2 class='govuk-heading-m'>Your answers</h2>

        {% if (data['acc-type'] == 'Organisation') %}
        
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What are you registering as?
                </dt>
                <dd class="govuk-summary-list__value">
                    Organisation or other type of group
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-1">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>


            {% if (data['v-on-3'] == 'Yes') %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['v-on-4']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-3">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% else %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['accName']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-name">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is your organisation or group a foreign power?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['v-on-5']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-5">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% endif %}
        
        </dl>


        {% elseif (data['acc-type'] == 'Individual') %}
    
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What are you registering as?
                </dt>
                <dd class="govuk-summary-list__value">
                    Individual
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-1">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['accName']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-name">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% if (data['v-on-2'] == 'Yes') %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Role, position or affiliation with a foreign power
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-2">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% else %}
                
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Role, position or affiliation with a foreign power
                </dt>
                <dd class="govuk-summary-list__value">
                    None
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="on-2">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>

            {% endif %}
        
        </dl>

        {% endif %}
        
    </div>
</div>


{% endblock %}