{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
    Verify your identity and add your details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='idv-ol-check?manual-upload-type=driving license' method='post'>
    
                <span class='govuk-caption-l'>Verify your identity and add your details</span>

                <h1 class='govuk-heading-l'>Upload a photo of your UK driving licence</h1> 

                <p>You must upload photos or scans of the driving licence you used to prove your identity with GOV.UK One Login.</p>

                {% from 'govuk/components/inset-text/macro.njk' import govukInsetText %}
                    
                {{ govukInsetText({
                  html: '<p><strong>Driving licence number</strong><br>
                    SMITH061254J99AB</p>',
                    classes: 'prefilled'
                }) }}

                <h2 class='govuk-heading-m'>Upload your driving licence photos or scans</h2>

                <p>Your photos or scans must be:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    <li>clear and in focus</li>
                    <li>in colour</li>
                    <li>unaltered by effects or filters</li>
                    <li>without flare or reflections</li>
                </ul>

                <h3 class='govuk-heading-m'>Front of licence</h3>

                {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

                {{ govukFileUpload({
                    id: "idv-m-upload-dl-1",
                    name: "idv-m-upload-dl-1",
                    label: {
                        text: "Upload photo or scan"
                    }
                }) }}

                <h3 class='govuk-heading-m'>Back of licence</h3>

                {{ govukFileUpload({
                    id: "idv-m-upload-dl-2",
                    name: "idv-m-upload-dl-2",
                    label: {
                        text: "Upload photo or scan"
                    }
                }) }}

    
                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '/route-v4/registration-overview',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>

            </form>
        </div>
    </div>
    {% endblock %}