{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='idv-m-2' method='post'>
    
                <span class='govuk-caption-l'>Add your personal details</span>

                <h1 class='govuk-heading-l'>Upload a scan or photo of your ID document</h1> 

                <p>You must upload a photo or scan of an ID document for our records.</p>

                <h2 class='govuk-heading-m'>What you need to complete this section</h2> 

                <p>You must have a photo or scan of an ID document that has not expired.</p>
                <p>If you do not upload a valid photo or scan, the Foreign Influence Registration Scheme (FIRS) team will contact you for more information.</p>

                <h2 class='govuk-heading-m'>The public register</h2> 

                <p>The photo or scan of your ID document will never appear on the Foreign Influence Registration Scheme (FIRS) public register. </p>

                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                        
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '/route-v4/registration-overview',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>
                
            </form>
        </div>
    </div>
    {% endblock %}