{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='idv-2' method='post'>
    
    
                <h1 class='govuk-heading-l'>Assign the Senior Responsible Officer</h1> 
                

                <p>Before you start, check if:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    <li>you are the Senior Responsible Officer (SRO)</li>
                    <li>someone else is the SRO</li>
                </ul>


                {% from 'govuk/components/details/macro.njk' import govukDetails %}
                    
                {{ govukDetails({
                    summaryText: 'What is a Senior Responsible Officer?',
                    text: 'A Senior Responsible Officer (SRO) is a person who is responsible for ensuring compliance with the Foreign Influence Registration Scheme (FIRS) within an entity. The SRO is typically a senior executive within the entity who has the authority to make decisions about FIRS and is the single point of contact for the FIRS team.      '
                }) }}

                <h2 class='govuk-heading-m'>If you are the SRO</h2>

                <p>You must verify your identity and provide your person details.</p>

                <h2 class='govuk-heading-m'>If someone else is the SRO</h2>

                <ol class='govuk-list govuk-list--number'>
                    <li>Ask them to create their own Foreign Influence Registration Scheme (FIRS) account.</li>
                    <li>Ask them for their Foreign Influence Registration Scheme account number. They can find this on their account page when they sign in.</li>
                    <li>Continue this section and enter their FIRS account number.</li>
                    <li>You must review the account information they have provided and confirm you want to assign them as the SRO.</li>
                    <li>We will send them an email asking them to confirm they are the SRO for your entity.
                    They will need to verify their identity and provide their personal details.</li>
                </ol>


                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}

                    {{ govukButton({
                        href: '/route-v4/registration-overview',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}