{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Verify the identity of a senior responsible officer – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='../arrangement/select-arrangement?idenity-verification=incomplete' method='post'>
    
                <span class='govuk-caption-l'>Assign a Senior Responsible Officer</span>
    
                <h1 class='govuk-heading-l'>Email sent</h1> 

                <p>We sent an email invitation to {{data['idv-sro-1']}}.</p>
                <p>As the nominated Senior Responsible Officer, they must verify their identity and provide their personal details before your entity can submit a registration.</p>
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '/route-v4/registration-overview',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}