{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/idv-ol' method='post'>
    
                <span class='govuk-caption-l'>Verify your identity</span>

                {% set passport %}
                <p>For this prototype, the following will be used for the document data:<br>
                <div class="govuk-inset-text prefilled">
                    <p><strong>Name:</strong><br> {{data["co-2"]}}</p>
                    <p><strong>Date of birth:</strong><br> 1 January 1990</p>
                    <p><strong>Passport number:</strong><br> 123456789</p>
                </div>
                {% endset %}

                {% set drivingLicense %}
                <p>For this prototype, the following will be used for the document data:<br>

                <div class="govuk-inset-text prefilled">
                    <p><strong>Name:</strong><br> {{data["co-2"]}}</p>
                    <p><strong>Date of birth:</strong><br> 1 January 1990<br>
                    <p><strong>Current address:</strong><br>
                    2 Marsham Street<br>
                    London<br>
                    United Kingdom<br>
                    SW1P 4DF<br>
                    <p><strong>Driving licence number:</strong><br>SMITH061254J99AB
                    </p>
                    </div>
                {% endset %}
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'idv-ol',
                    name: 'idv-ol',
                    value: data['idv-ol'],
                    fieldset: {
                        legend: {
                            text: 'GOV.UK One Login',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'As a short cut to the next screens, select one of the following GOV.UK One Login Identity Verification outcomes'
                    },
                    items: [
                    {
                        value: 'Pass (UK Passport)',
                         text: 'Pass (UK passport)',
                         conditional: {
                            html: passport
                         }
                     },
                     {
                        value: 'Pass (UK driving license)',
                         text: 'Pass (UK driving license)',
                         conditional: {
                            html: drivingLicense
                         }
                     },
                      {
                       value: 'Fail',
                        text: 'Fail'
                    },
                    {
                       value: 'I want to prove my identity another way',
                        text: 'I want to prove my identity another way'
                    }
                    ]
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}