{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
    Verify the identity of a senior responsible officer – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/idv-sro-1' method='post'>
    
                <span class='govuk-caption-l'>Assign the Senior Responsible Officer</span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'idv-sro-1',
                    name: 'idv-sro-1',
                    value: data['idv-sro-1'],
                    label: {
                        text: 'What is the Foreign Influence Registration Scheme account number of the user you want to assign?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '<p>You can review the user details associated with the Foreign Influence Registration Scheme (FIRS) account number before confirming you want to assign them them as the Senior Responsible Officer.</p>'
                    }
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}