{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
    Verify your identity and add your details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='../registrant/i1?manual-upload-type=passport' method='post'>
    
                <span class='govuk-caption-l'>Add your personal details</span>

                <h1 class='govuk-heading-l'>Upload a photo of your UK passport</h1> 

                <p>You must upload a photo or scan of the passport you used to prove your identity with GOV.UK One Login.</p>

                <p>Your photo or scan must be:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    <li>clear and in focus</li>
                    <li>in colour</li>
                    <li>unaltered by effects or filters</li>
                    <li>without flare or reflections</li>
                </ul>

                {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

                {{ govukFileUpload({
                    id: "idv-m-upload-p",
                    name: "idv-m-upload-p",
                    label: {
                        text: "Upload photo or scan"
                    }
                }) }}
        
    
                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '/route-v4/registration-overview',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>

            </form>
        </div>
    </div>
    {% endblock %}