{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='idv-ol?idenity-verification=in-progress' method='post'>
    
    
                <h1 class='govuk-heading-l'>Verify your identity</h1>   

                <p>You must verify your identity (ID).</p>

                <h2 class='govuk-heading-m'>What you need to complete this section</h2> 

                <p>To verify your ID, you must:</p>
                <ul class='govuk-list govuk-list--bullet'>
                    <li>verify your ID with GOV.UK One Login</li>
                    <li>upload a scan or photo of an ID document for our records</li>
                </ul>

                <h2 class='govuk-heading-m'>The public register</h2> 

                <p>Your ID document will never appear on the Foreign Influence Registration Scheme (FIRS) public register.</p>


                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    
                    {{ govukButton({
                        text: 'Go to GOV.UK One Login'
                    }) }}
                    {{ govukButton({
                        href: '/route-v4/registration-overview',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>
            
            </form>
        </div>
    </div>
    {% endblock %}