{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'account' %}
    
    {% block pageTitle %}
        Verify the identity of a senior responsible officer – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='../registrations' method='post'>
    
                <span class='govuk-caption-l'>Verify the identity of a senior responsible officer</span>
    
                <h1 class='govuk-heading-l'>Completion screen</h1> 

                <p>We have emailed the Senior Responsible Officer to invite them to this service and verify their identity.</p>
                <p>They must verify their identity before  the registration can be submitted.</p>
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '/route-v4/registration-overview',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}