{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Verify your identity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action="../arrangement/select-arrangement?idenity-verification=complete" method='post'>
    
    
                <h1 class='govuk-heading-l'>Verify your identity</h1> 

                <p>You have not been able to upload a valid form of ID. </p>
                <p>The Foreign Influence Registration Scheme team will contact you to verify your ID.</p>
                <p>You can now submit a registration for this registrant. </p>
                
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '/route-v4/registration-overview',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}