{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Adding a registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

{% set thisRegistrant %}
{% if (data['reg-type'] == 'Individual') %}you have{% else %}your entity has{% endif %}
{% endset %}
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">


		<h1 class="govuk-heading-l">Add an arrangement</h1>

			<p>You must provide details of the arrangement with the foreign power or foreign power-controlled entity.</p>


			{% from 'govuk/components/details/macro.njk' import govukDetails %}
				
			{{ govukDetails({
				summaryText: 'What is an arrangement?',
				text: ''
			}) }}

			<h2 class='govuk-heading-m'>What you need to complete this section</h2> 

			<p>You need to know:</p>
			<ul class='govuk-list govuk-list--bullet'>
				<li>the name of the foreign power or foreign power-controlled entity that the registrant is in an arrangement with</li>
				<li>a description of the arrangement</li>
				<li>when the arrangement was made</li>
			</ul>

			<h2 class='govuk-heading-m'>The public register</h2> 

			<p>If you add a political influencing activity, some of the information related to this registration will appear on the Foreign Influence Registration Scheme (FIRS) public register. </p>
			<p>Information set to appear on the public register may remain private if:</p>
			<ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
				<li>publication could cause serious harm to any individual involved in this activity</li>
				<li>publication could harm a criminal investigation or proceedings, or prevent the detection of crime</li>
				<li>publication could harm the safety or interests of the UK</li>
				<li>publication could harm the commercial interests of any individual or entity in this activity</li>
			</ul>

			<p>At the 'Check and submit your registration' stage, you can tell us if any of the registration information creates one or more of these risks and should stay private. If you do, you will have 5 days to submit your evidence.   </p>

			<p>Read the guidance on:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li><a href="#">what information appears on the public register</a></li>
				<li><a href="#">requesting information to remain private</a></li>
			</ul>

			{% from 'govuk/components/button/macro.njk' import govukButton %}
				
			<div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
				
				{{ govukButton({
					text: "Continue",
					href: "fp-c?arrangement-status=in-progress"
				}) }}

			</div>

	</div>

</div>




{% endblock %}