{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add an arrangement – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/fp-4' method='post'>

            {% set thisRegistrant %}
            {% if (data['reg-type'] == 'Individual') %}Do you {% else %} Does {{data['registrant-name']}}{% endif %}
            {% endset %}

                <span class='govuk-caption-l'>Add an arrangement</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'fp-4',
                    name: 'fp-4',
                    value: data['fp-4'],
                    fieldset: {
                        legend: {
                            text: thisRegistrant+' have an arrangement with any of the following foreign powers or foreign power-controlled entities from '+data['fp-3']+'?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '
                            <p>These foreign power and foreign power-controlled entities have been specified by the UK government.</p>
                            <p><strong>Foreign power</strong></p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Foreign power X</li>
                                <li>Foreign power Y</li>
                                <li>Foreign power Z</li>
                            </ul>
                            <p><strong>Foreign power-controlled entity</strong></p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Foreign power-controlled entity X</li>
                                <li>Foreign power-controlled entity Y</li>
                                <li>Foreign power-controlled entity Z</li>
                            </ul> '
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes'
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}