{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Adding a registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set registrant %}
{% if (data['acc-type'] == 'Organisation') %}{{data['accName']}} has{% else %}you have{% endif %}
{% endset -%}



{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>

        <form action="fp-8?arrangement-tier=political" method="post">						

        {% set thisRegistrant %}
            {% if (data['reg-type'] == 'Individual') %}you have {% else %} {{data['registrant-name]']}} has{% endif %}
        {% endset %}

        <span class="govuk-caption-l">Add an agreement</span>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Tell us about the foreign power with which {{thisRegistrant}} an arrangement
                    </h1>
                </legend>
                <div class="govuk-hint">
                    <p>You only need to register an arrangement with a foreign power if you are being directed to do, or organise for others to do, a political influence activity. An activity is considered a political influence activity if it meets the criteria set out in section 70 of the National Security Act 2023.</p>
                    <p>You do not need to register an arrangement with a foreign power-controlled entity that has not been specified by the UK government.</p>
                </div>
            {% from "govuk/components/select/macro.njk" import govukSelect %}

                {{ govukSelect({
                id: "fp-6-type",
                name: "fp-6-type",
                classes: "govuk-!-width-full",
                label: {
                    text: "Type of foreign power"
                },
                items: [
                {
                    value: "Select an option",
                    text: "Select an option"
                },
                {
                    value: "Sovereign or other head of a foreign state",
                    text: "Sovereign or other head of a foreign state"
                },
                {
                    value: "Foreign government, or part of a foreign government",
                    text: "Foreign government, or part of a foreign government"
                },
                {
                    value: "Agency or authority of a foreign government, or of part of a foreign government",
                    text: "Agency or authority of a foreign government, or of part of a foreign government"
                },
                {
                    value: "Authority responsible for administering the affairs of an area within a foreign country or territory",
                    text: "Authority responsible for administering the affairs of an area within a foreign country or territory"
                },
                {
                    value: "Political party which is a governing political party of a foreign government",
                    text: "Political party which is a governing political party of a foreign government"
                }

                ]
                }) }}

                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'fp-6-country',
                    name: 'fp-6-country',
                    value: data['fp-3'],
                    classes: 'hidden',
                    label: {
                        text: 'Country of foreign power',
                        classes: 'hidden',
                        isPageHeading: false
                    }
                }) }}
                
                <div class="govuk-form-group">
                    <label class="govuk-label" for="fp-6-country-display">
                      Country of foreign power
                    </label>
                  
                    <input class="govuk-input" id="fp-6-country-display" name="fp-6-country-display" type="text" value="{{data['fp-3']}}" disabled="">
                    <p><a href="fp-3" class="govuk-link">Change country of foreign power</a></p>
                  </div>


                <div class="govuk-form-group">
                    <label class="govuk-label" for="fp-6-name">
                        Name of foreign power
                    </label>
                    <input class="govuk-input govuk-!-width-full" id="fp-6-name" name="fp-6-name" type="text" autocomplete="organization" value="{{data['fp-6-name']}}">
                </div>
                
            </fieldset>


            {{ govukButton({
                text: 'Continue'
            }) }}
        </form>
    </div>
</div>
{% endblock %}