{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'account' %}
    
    {% block pageTitle %}
        Add an arrangement – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='fp-9' method='post'>
    
                <span class='govuk-caption-l'>Add an arrangement</span>
    
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukTextarea({
                name: 'moreDetail',
                    id: 'fp-8',
                    name: 'fp-8',
                    value: data['fp-8'],
                    label: {
                        text: 'What is the arrangement?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: "
                        <p>Briefly describe what has been agreed and how.</p>
                        <p>For example:</p>
                        <ul class='govuk-list govuk-list--bullet'>
                            <li>A consultancy contract set out in a formal agreement with payment of £50,000 from Country A's Ministry of Commerce.</li>
                            <li>An informal agreement documented in email exchanges with expenses to be reimbursed by Country B's embassy.</li>
                        </ul>"
                    }
                }) }} 
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '/route-v4/registration-overview',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}