{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Adding a registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>

        <form action="misrep-6?arrangement-tier=political" method="post">						

        {% set thisRegistrant %}
            {% if (data['reg-type'] == 'Individual') %}you have {% else %} {{data['registrant-name']}} has{% endif %}
        {% endset %}

        <span class="govuk-caption-l">Add a foreign power</span>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Tell us about the foreign power you work for
                    </h1>
                </legend>
                <div class="govuk-hint">
                    <p>You only need to register if, as part of your work, you are being directed to do, or organise for others to do, a political influence activity. An activity is considered a political influence activity if It meets the criteria set out in section 70 of the National Security Act 2023.</p>
                    <p>You do not need to register an arrangement with a foreign power-controlled entity that has not been specified by the UK government.</p>
                    <p>Read the <a href="#">guidance about who needs to register</a>.</p>
                </div>
            {% from "govuk/components/select/macro.njk" import govukSelect %}

                {{ govukSelect({
                id: "misrep-5-type",
                name: "misrep-5-type",
                classes: "govuk-!-width-full",
                label: {
                    text: "Type of foreign power"
                },
                items: [
                {
                    value: "Select an option",
                    text: "Select an option"
                },
                {
                    value: "Sovereign or other head of a foreign state",
                    text: "Sovereign or other head of a foreign state"
                },
                {
                    value: "Foreign government, or part of a foreign government",
                    text: "Foreign government, or part of a foreign government"
                },
                {
                    value: "Agency or authority of a foreign government, or of part of a foreign government",
                    text: "Agency or authority of a foreign government, or of part of a foreign government"
                },
                {
                    value: "Authority responsible for administering the affairs of an area within a foreign country or territory",
                    text: "Authority responsible for administering the affairs of an area within a foreign country or territory"
                },
                {
                    value: "Political party which is a governing political party of a foreign government",
                    text: "Political party which is a governing political party of a foreign government"
                }

                ]
                }) }}

                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'misrep-5-country',
                    name: 'misrep-5-country',
                    value: data['misrep-2'],
                    classes: 'hidden',
                    label: {
                        text: 'Country of foreign power',
                        classes: 'hidden',
                        isPageHeading: false
                    }
                }) }}
                
                <div class="govuk-form-group">
                    <label class="govuk-label" for="misrep-5-country-display">
                      Country of foreign power
                    </label>
                  
                    <input class="govuk-input" id="misrep-5-country-display" name="misrep-5-country-display" type="text" value="{{data['misrep-2']}}" disabled="">
                    <p><a href="misrep-2" class="govuk-link">Change country of foreign power</a></p>
                  </div>


                <div class="govuk-form-group">
                    <label class="govuk-label" for="misrep-5-name">
                        Name of foreign power
                    </label>
                    <input class="govuk-input govuk-!-width-full" id="misrep-5-name" name="misrep-5-name" type="text" autocomplete="organization" value="{{data['misrep-5-name']}}">
                </div>
                
            </fieldset>


            <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '/route-v4/registration-overview',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </div>
        </form>
    </div>
</div>
{% endblock %}