{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Adding a registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
    

{% set registrant %}
{% if (data['acc-type'] == 'Organisation') %}does {{data['accName']}}{% else %}do you{% endif %}
{% endset -%}


    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>

            {% if (data['return'] == 'check') %}
            <form action="r-check?return=complete" method="post">
            {% elseif (data['return'] == 'update') %}
            <form action="r-view?return=complete" method="post">
            {% else  %}
            <form action="/route-v4/r2" method="post">						
            {% endif %}

                <span class="govuk-caption-l">Add an agreement</span>

                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'r2',
                    name: 'r2',
                    value: data['r2'],
                    fieldset: {
                        legend: {
                            text: 'What organisation '+registrant+' have an agreement with?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                        value: 'Foreign power',
                        text: 'Foreign power',
                        hint: {
                            html: 'Any sovereign of other head of a foreign state; a foreign government, or part of a foreign government (for example, a ministry or department of a foreign government); an agency or authority of a foreign government, or of part of a foreign government; an authority responsible for administering the affairs of an area within a foreign country or territory (for example, a local government authority in a foreign country); or political party which is a governing political party of a foreign government.'
                        }
                    },
                    {
                        value: 'Foreign power-controlled organisation',
                        text: 'Foreign power-controlled organisation',
                        hint: {
                            text: 'An organisation, or part of an organisation, specifically designated under UK law as being controlled by a foreign power.'
                        }
                    }
                    ]
                }) }}
        
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}