{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{% set foreignPower %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-5']}}{% else %}{{data['fp-6-name']}}{% endif %}{% else %}{{data['fp-6-name']}}{% endif %}{% endset %}
{% set fpCountry %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-c']}}{% else %}{{data['fp-c']}} - {{data['fp-6-type']}}{% endif %}{% else %}{{data['fp-c']}} - {{data['fp-6-type']}}{% endif %}{% endset %}
{% set arrTier %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}enhanced{% else %}political{% endif %}{% else %}political{% endif %}{% endset %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">

		<h1 class="govuk-heading-l">Add a foreign power</h1>

		<p>To continue this registration, you must add a new foreign power or select an existing foreign power associated with the registrant.</p>


		{% from 'govuk/components/button/macro.njk' import govukButton %}
			
		<div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
			{{ govukButton({
				href: 'misrep-1',
				classes: '',
				text: 'Add a new foreign power'
			}) }}
	
		</div>

		<h2 class="govuk-heading-m">Select an arrangement</h2>

		{% if (data['arrangement-status'] == 'complete') %}



		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">

				<h2 class="govuk-summary-card__title">
					<span class="govuk-caption-m">Foreign power</span>
					{{foreignPower}} ({{fpCountry}})
				</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link " href="../activity/a-start?registration-tier={{arrTier}}&arrangement-name={{data['arrangement-name']}}&arrangement-progress=complete">Select foreign power<span class="govuk-visually-hidden"> {{data['registrant-name']}} </span></a>
					</li>
					<li class="govuk-summary-card__action">
						<a class="govuk-link show-collapsed-content" href="#"><span class="expand-collapse-label"></span><span class="govuk-visually-hidden"> Expand arrangement details</span></a>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content govuk-summary-card__content__collapsable">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% if (data['misrep-3'] == 'Yes') %}
								Foreign Power (Country)
							{% else %}
								Foreign Power (Country - type)
							{% endif %}

						</dt>
						<dd class="govuk-summary-list__value">
							{% if (data['misrep-3'] == 'Yes') %}
								{{data['misrep-4']}} ({{data['misrep-2']}})
							{% else %}
								{{data['misrep-5-name']}} ({{data['misrep-2']}} - {{data['misrep-5-type']}})
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="misrep-2">Change<span class="govuk-visually-hidden"> Foreign Power</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email
						</dt>
						<dd class="govuk-summary-list__value">
							{{data['misrep-6-email']}}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="fp-8">Change<span class="govuk-visually-hidden"> Email</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Telephone number
						</dt>
						<dd class="govuk-summary-list__value">
							{{data['misrep-6-telephone']}}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="fp-9">Change<span class="govuk-visually-hidden"> dTelephone number</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Address
						</dt>
						<dd class="govuk-summary-list__value">
							{{data['misrep-6-address']}}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="fp-9">Change<span class="govuk-visually-hidden"> Address</span></a>
						</dd>
					</div>
				</dl>
			</div>
		</div>

		{% else %}
			
		<p>You do not have any arrangements.</p>


		{% endif %}

		{% from 'govuk/components/button/macro.njk' import govukButton %}
			


</div>


<script type="text/javascript" src="/public/javascripts/manage-card.js"></script>


{% endblock %}