{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{% set foreignPower %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-5']}}{% else %}{{data['fp-6-name']}}{% endif %}{% else %}{{data['fp-7-name']}}{% endif %}{% endset %}
{% set fpCountry %}{% if (data['fp-2'] == 'Yes') %}{% if (data['fp-4'] == 'Yes') %}{{data['fp-3']}}{% else %}{{data['fp-6-country']}} - {{data['fp-6-type']}}{% endif %}{% else %}{{data['fp-7-country']}} - {{data['fp-7-type']}}{% endif %}{% endset %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">

		<h1 class="govuk-heading-l">Add an arrangement</h1>

		<p>You can add a new arrangement or select one previously added to a registration associated with the same registrant.


		<h2 class='govuk-heading-m'>Add a new arrangement</h2>

		<p>If registering as an individual or entity, you must provide your arrangement details.</p>

		{% from 'govuk/components/button/macro.njk' import govukButton %}
			
		<div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
			{{ govukButton({
				href: 'fp-1',
				classes: '',
				text: 'Add a new arrangement'
			}) }}
	
		</div>

		<h2 class="govuk-heading-m">Select an existing arrangement</h2>

		{% if (data['arrangement-progress'] == 'complete') %}



		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">
					<span class="govuk-caption-m">Arrangement </span>
					{{data['foreign-power-name']}} ({{fpCountry}})
					
				</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link show-collapsed-content" href="#">View details<span class="govuk-visually-hidden"> of University of
								Gloucestershire (University of Gloucestershire)</span></a>
					</li>
					<li class="govuk-summary-card__action">
						<a class="govuk-button " href="../activity/a-start?registration-tier=political&arrangement-name={{data['arrangement-name']}}&arrangement-progress=complete">Select<span class="govuk-visually-hidden"> of University of
								Gloucestershire (University of Gloucestershire)</span></a>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content govuk-summary-card__content__collapsable">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Foreign Power (Country)
						</dt>
						<dd class="govuk-summary-list__value">
							{% if (data['fp-2'] == 'Yes') %}
								{% if (data['fp-4'] == 'Yes') %}
									{{foreignPower}} ({{fpCountry}})
								{% else %}
									{{foreignPower}} ({{fpCountry}})
								{% endif %}
							{% else %}
								{{foreignPower}} ({{fpCountry}})
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="fp-2">Change<span class="govuk-visually-hidden"> Full name</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							What is in the arrangement?
						</dt>
						<dd class="govuk-summary-list__value">
							{{data['fp-8']}}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="fp-8">Change<span class="govuk-visually-hidden"> Other names</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							When was the arrangement made?
						</dt>
						<dd class="govuk-summary-list__value">
							{% if (data['fp-9-day']) %}{{data['fp-9-day']}} {{data['fp-9-month'] | monthName("truncate")}} {{data['fp-9-year']}} {% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="fp-9">Change<span class="govuk-visually-hidden"> date of
									birth</span></a>
						</dd>
					</div>
				</dl>
			</div>
		</div>

		{% else %}
			
		<p>You do not have any arrangements.</p>


		{% endif %}

		{% from 'govuk/components/button/macro.njk' import govukButton %}
			


</div>


<script type="text/javascript" src="/public/javascripts/manage-card.js"></script>


{% endblock %}