{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "account" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<!-- Enhanced tier answers:
UK elections or referendums;
Decisions of the government of the UK, Northern Ireland, Scotland or Wales;
UK political parties; or 
Members of the of either House of Parliament, the Northern Ireland Assembly, the Scottish Parliament or Senedd Cymru
None of these -->

<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v2/0-2" method="post">

			{% set dynamic1 %}
				{% if (data['v0-0'] == "individual") %}
				Are you
				{% elseif (data['v0-0'] == "organisation") %}
				Is your organisation
				{% elseif (data['v0-0'] == "another-individual") %}
				Is the individual
				{% else %}
				Is the organisation
				{% endif %}
			{% endset -%}

			{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
			
			{{ govukCheckboxes({
			  name: "v0-2",
			  id: "v0-2",
			  values: data['v0-2'],
			  fieldset: {
			    legend: {
		        text: dynamic1+" conducting or organising activities in the UK that are intended to influence any of these?",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--l"
			    }
			  },
			  hint: {
			    text: "Select any that apply."
			  },
			  items: [
			    {
			      value: "UK elections or referendums",
			      text: "UK elections or referendums"
			    },
			    {
			      value: " Decisions of the government of the UK, Northern Ireland, Scotland or Wales",
			      text: "Decisions of the government of the UK, Northern Ireland, Scotland or Wales"
			    },
			    {
			      value: " UK political parties",
			      text: "UK political parties"
			    },
			    {
			      value: " Members of the of either House of Parliament, the Northern Ireland Assembly, the Scottish Parliament or Senedd Cymru",
			      text: "Members of the of either House of Parliament, the Northern Ireland Assembly, the Scottish Parliament or Senedd Cymru"
			    },
			    {
			    	divider: "or"
			    },
			    {
			      value: "None of these",
			      text: "None of these",
			      behaviour: "exclusive"
			    }
			  ]
			}) }}
			
			<!-- 
			{{ govukRadios({
			  name: "v0-1",
			  id: "v0-1",
			  values: data['v0-1'],
			  fieldset: {
			    legend: {
			      text: "Are you intending to influence any of these?",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--l"
			    }
			  },
			  hint: {
			    html: "<ul>
			    	<li>UK elections or referendums</li>
			    	<li>Decisions of the government of the UK, Northern Ireland, Scotland or Wales</li>
			    	<li>UK political parties</li>
			    	<li>Members of either the House of Parliament, the Northern Ireland Assembly, the Scottish Parliament or Senedd Cymru</li>
			    </ul>"
			  },
			  items: [
			    {
			      value: "Yes;",
			      text: "Yes"
			    },
			    {
			      value: "No",
			      text: "No"
			    }
			  ]
			}) }} -->

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}