{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'account' %}
    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}

{% block content %}





<form action="exception-check" method="post">


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          
          {{ govukCheckboxes({
            name: "exception-reason",
            id: "exception-reason",
            values: data['exception-reason'],
            fieldset: {
              legend: {
                text: "Why do you want the information to remain private?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "Safety to the UK",
                text: "Safety to the UK",
                hint: {
                  text: "Where there is a risk publication would be prejudicial to the safety or interests of the UK."
                }
              },
              {
                value: "Safety to the individual",
                text: "Safety to the individual",
                hint: {
                  text: "Where there is a significant risk publication would put the safety of any individual in this activity at risk of serious harm."
                }
              },
              {
                value: "Prejudicial to criminal investigation",
                text: "Prejudicial to criminal investigation",
                hint: {
                  text: "Where there is a risk publication would be prejudicial to a criminal investigation or proceedings, or to the prevention or detection of crime."
                }
              },
              {
                value: "Commercially sensitive",
                text: "Commercially sensitive",
                hint: {
                  text: "Where there is a high likelihood to seriously prejudice the commercial interests of any individual or organisation in this activity."
                }
              }
            ]
          }) }}


          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
          
          {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            value: data['more-detail'],
            label: {
              text: "Tell us as much information as possible to support your request",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              html: "<p>Describe in detail why you want this information to remain private.</p>
              <p>Do not include personal or financial information, like your National Insurance number or credit card details.</p>"
            }
          }) }}

          {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
          <!-- https://design-patterns.service.justice.gov.uk/components/multi-file-upload/ -->
          <h3 class="govuk-heading-m">Upload supporting documents</h3>
          {{ govukFileUpload({
            id: "file-upload-1",
            name: "fileUpload1",
            label: {
              text: "Upload documents, such as police reports, NDAs, or contracts, to support your request."
            }
          }) }}



      </div>
    </div>


  {{ govukButton({
    text: "Continue"
  }) }}

  </form>

{% endblock %}