{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "activities" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Exceptions</h1>
    <div class="govuk-body">


      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/journey/v2/activity/activity-start?registrant-type=individual&tier=enhanced" aria-describedby="task-list-1-status">Activity Start (Individual, enhanced tier)</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/journey/v2/activity/activity-start?registrant-type=individual&tier=political" aria-describedby="task-list-1-status">Activity Start (Individual, political tier)</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/journey/v2/activity/activity-start?registrant-type=organisation&tier=enhanced" aria-describedby="task-list-1-status">Activity Start (Organisation, enhanced tier)</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/journey/v2/activity/activity-start?registrant-type=organisation&tier=political" aria-describedby="task-list-1-status">Activity Start (Organisation, political tier)</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>


        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/journey/v2/exception/exception-full?refer=yes" aria-describedby="task-list-1-status">One page exception</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>
      </ul>

    <!-- <p>
    {{ data['activityTypes'] }}
    </p> -->
</div>
</div>

{% endblock %}
