{% extends "layouts/main-w-nav.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">{{ activityStatus }}

      {% if (data['activity-stream'] == 'communication') %}
      <span class="govuk-caption-l">About the private communication</span>
      {% elseif (data['activity-stream'] == 'public') %}
      <span class="govuk-caption-l">About the public communication</span>
      {% elseif (data['activity-stream'] == 'disbursement') %}
      <span class="govuk-caption-l">About the distribution of money, goods, or services</span>
      {% else %}
      <span class="govuk-caption-l">About the activities</span>
      {% endif %}
      <h1 class="govuk-heading-l"><!-- public -->
        {% if (data['activityStarted-public'] == "yes") %}
        When did the activity start?
        {% else %}When will the activity start?{% endif %}

      </h1>

    <form action="activity-known" method="post">


      {{ govukDateInput({
        id: 'activityDate',
        namePrefix: "activityDate-" + data['activity-stream'],

        fieldset: {
          legend: {
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}
 


      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

{% endblock %}
