{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/a2-e' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
                {{ govukCheckboxes({
                    id: 'a2-e',
                    name: 'a2-e',
                    values: data['a2-e'],
                    fieldset: {
                        legend: {
                            text: 'What is the activity intended to influence?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Select all that apply.'
                    },
                    items: [
                    {
                       value: 'UK elections or referendums',
                        text: 'UK elections or referendums'
                    },
                    {
                        value: 'Decisions of the government of the UK, 
                        Northern Ireland, Scotland or Wales  ',
                         text: 'Decisions of the government of the UK, 
                         Northern Ireland, Scotland or Wales  '
                     },
                     {
                        value: 'UK political parties',
                         text: 'UK political parties'
                     },
                     {
                        value: 'Members of either of the Houses of 
                        Parliament, the Northern Ireland Assembly, 
                        the Scottish Parliament or Senedd Cymru  ',
                         text: 'Members of either of the Houses of 
                         Parliament, the Northern Ireland Assembly, 
                         the Scottish Parliament or Senedd Cymru  '
                     },
                     {
                        divider: 'or'
                     },
                     {
                        value: 'The activity has a non-political objective',
                         text: 'The activity has a non-political objective',
                         behaviour: 'exclusive'
                     }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}