{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/a3-e' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'a3-e',
                    name: 'a3-e',
                    value: data['a3-e'],
                    fieldset: {
                        legend: {
                            text: 'What type of activity do you want to register?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Select one activity type. You can add another activity after registering this activity.'
                    },
                    items: [
                    {
                        value: 'Private communication',
                         text: 'Private communication',
                         hint: {
                             text: 'For example, sending an email or a letter, 
                             or having a private conversation'
                         }
                     },
                     {
                        value: 'Public communication',
                         text: 'Public communication',
                         hint: {
                             text: 'For example, a social media post, leaflet, 
                             poster or newspaper article'
                         }
                     },
                     {
                        value: 'Offer of money, goods or services',
                         text: 'Offer of money, goods or services',
                         hint: {
                             text: 'For example, the disbursement of physical gifts, direct or indirect payments, travel and accommodation, or consultancy'
                         }
                     },
                     {
                        value: 'Other type of activity',
                         text: 'Other type of activity',
                         hint: {
                             text: 'For example, organising a protest or a demonstration, commissioning academic research, or conducting research with members of the public'
                         }
                     }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}