{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'account' %}
    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
{% set activityType %}
{% if (data['activity-type'] == 'public') %}public communication{% elseif (data['activity-type'] == 'private') %}private communication{% elseif (data['activity-type'] == 'money') %}offer{% else %}activity{% endif %}
{% endset -%}

    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a5-3' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>

                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}

                {% set otherPublic %}
                {{ govukInput({
                    id: 'a5-1-other',
                    name: 'a5-1-other',
                    classes: 'govuk-!-width-two-thirds',
                    label: {
                        classes: 'govuk-hint',
                        text: 'Describe the communication'
                    }
                }) }}
                {% endset -%} 

                {{ govukCheckboxes({
                    id: 'a5-1',
                    name: 'a5-1',
                    values: data['a5-1'],
                    fieldset: {
                        legend: {
                            text: 'How will the public communication be made?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Select all that apply.'
                    },
                    items: [
                    {
                       value: 'Newspaper or magazine publication',
                        text: 'Newspaper or magazine publication',
                        hint: {
                            text: 'Including online content'
                        }
                    },
                    {
                       value: 'Public speaking event',
                        text: 'Public speaking event',
                        hint: {
                            text: 'Including a conference, seminar or interview'
                        }
                    },
                    {
                       value: 'Radio',
                        text: 'Radio',
                        hint: {
                            text: 'Including an advertisement, programme or 
                            interview'
                        }
                    },
                    {
                       value: 'Social media post',
                        text: 'Social media post'
                    },
                    {
                       value: 'Television',
                        text: 'Television',
                        hint: {
                            text: 'Including an advertisement, programme or 
                            interview'
                        }
                    },
                    {
                        value: 'Website',
                         text: 'Website'
                     },
                     {
                       value: 'Other',
                        text: 'Other',
                        conditional: {
                            html: otherPublic
                        }
                    }
                    ]
                }) }}


    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}