{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}

    {% set activityDoer %}{% if (data['acc-type'] == 'Entity') %}is {{data['e1']}}{% else %}are you{% endif %}{% endset -%}
    {% set activityDoer2 %}{% if (data['acc-type'] == 'Entity') %}{{data['e1']}} is{% else %}I am{% endif %}{% endset -%}
    {% set activityDoer3 %}{% if (data['acc-type'] == 'Entity') %}itself{% else %}myself{% endif %}{% endset -%}
    
    {% set activityDoer4 %}
    {% if (data['acc-type'] == 'Entity') %}{{data['e1']}} is doing the public communication if they are 
    publishing, sharing or producing information, 
    documents or articles.{% else %}You are doing the public communication if you are
    publishing, sharing or producing information, 
    documents or articles.{% endif %}
    {% endset -%}
    

    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/a5-3' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'a5-3',
                    name: 'a5-3',
                    value: data['a5-3'],
                    fieldset: {
                        legend: {
                            text: 'How '+activityDoer+' involved in the public communication?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: activityDoer4
                    },
                    items: [
                    {
                       value: activityDoer2+' doing the public communication '+activityDoer3,
                        text: activityDoer2+' doing the public communication '+activityDoer3
                    },
                    {
                       value: activityDoer2+' organising for others to do the public communication',
                        text: activityDoer2+' organising for others to do the public communication'
                    },
                    {
                       value: activityDoer2+' both doing the public communication '+activityDoer3+' and organising for others to do it',
                        text: activityDoer2+' both doing the public communication '+activityDoer3+' and organising for others to do it'
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}