{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'account' %}
    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}

{% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a5-9' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}


                {{ govukRadios({
                    id: 'a5-8',
                    name: 'a5-8',
                    value: data['a5-8'],
                    fieldset: {
                        legend: {
                            text: 'How often will the public communication occur?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                       value: 'Once',
                        text: 'Once'
                    },
                    {
                       value: 'More than once',
                        text: 'More than once'
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}