{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'account' %}
    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
{% set activityType %}
{% if (data['activity-type'] == 'public') %}public communication{% elseif (data['activity-type'] == 'private') %}private communication{% elseif (data['activity-type'] == 'money') %}offer{% else %}activity{% endif %}
{% endset -%}

    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a6-2' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>

                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}


                {{ govukCheckboxes({
                    id: 'a6-1',
                    name: 'a6-1',
                    values: data['a6-1'],
                    fieldset: {
                        legend: {
                            text: 'What is the offer?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Select all that apply.'
                    },
                    items: [
                    {
                       value: 'Money',
                        text: 'Money'
                    },
                    {
                       value: 'Goods',
                        text: 'Goods',
                        hint: {
                            text: 'For example, a physical or digital item'
                        }
                    },
                    {
                       value: 'Service',
                        text: 'Service',
                        hint: {
                            text: 'For example, doing work for someone'
                        }
                    }
                    ]
                }) }}


    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}