{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    

    {% set activityDoer %}
    {% if (data['acc-type'] == 'Entity') %}is {{data['e1']}}{% else %}are you{% endif %}
    {% endset -%}
    {% set activityDoer2 %}
    {% if (data['acc-type'] == 'Entity') %}{{data['e1']}} is{% else %}I am{% endif %}
    {% endset -%}
    {% set activityDoer3 %}
    {% if (data['acc-type'] == 'Entity') %}itself{% else %}myself{% endif %}
    {% endset -%}

    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/a6-3' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'a6-3',
                    name: 'a6-3',
                    value: data['a6-3'],
                    fieldset: {
                        legend: {
                            text: 'How '+activityDoer+' involved in the offer?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                       value: activityDoer2+' making the offer '+activityDoer3,
                        text: activityDoer2+' making the offer '+activityDoer3
                    },
                    {
                       value: activityDoer2+' organising for others to make the offer',
                        text: activityDoer2+' organising for others to make the offer'
                    },
                    {
                       value: activityDoer2+' both making the offer '+activityDoer3+' and organising for others to do it',
                        text: activityDoer2+' both making the offer '+activityDoer3+' and organising for others to do it'
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}