{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/a6-3' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'a6-3',
                    name: 'a6-3',
                    value: data['a6-3'],
                    fieldset: {
                        legend: {
                            text: 'How are you involved in the offer?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                       value: 'I am making the offer myselff',
                        text: 'I am making the offer myself'
                    },
                    {
                       value: 'I am organising for others to make the offer',
                        text: 'I am organising for others to make the offer'
                    },
                    {
                       value: 'I am both making the offer myself and organising for other to do it',
                        text: 'I am both making the offer myself and organising for other to do it'
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}