{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/a7-2' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'a7-2',
                    name: 'a7-2',
                    value: data['a7-2'],
                    fieldset: {
                        legend: {
                            text: 'How are you involved in the activity?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                       value: 'I am doing the activity myself',
                        text: 'I am doing the activity myself'
                    },
                    {
                       value: 'I am organising for others to do the activity',
                        text: 'I am organising for others to do the activity'
                    },
                    {
                       value: 'I am both doing the activity myself and organising for other to do it',
                        text: 'I am both doing the activity myself and organising for other to do it'
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}