{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/a-2-e' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
                {{ govukCheckboxes({
                    id: 'a-2-e',
                    name: 'a-2-e',
                    values: data['a-2-e'],
                    fieldset: {
                        legend: {
                            text: 'What is the activity intended to influence?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Select all that apply.'
                    },
                    items: [
                    {
                        value: 'An election or referendum in the UK',
                         text: 'An election or referendum in the UK'
                     },
                     {
                         value: 'A decision of Minister or Government department in the UK, including Wales, Scotland and Northern Ireland',
                          text: 'A decision of Minister or Government department in the UK, including Wales, Scotland and Northern Ireland'
                      },
                      {
                         value: 'The proceedings of a UK registered political party',
                          text: 'The proceedings of a UK registered political party'
                      },
                      {
                         value: 'A Member of the House of Commons, House of Lords, Northern Ireland Assembly, Scottish Parliament or Senedd Cymru',
                          text: 'A Member of the House of Commons, House of Lords, Northern Ireland Assembly, Scottish Parliament or Senedd Cymru'
                      },
                      {
                        divider: 'or'
                     },
                     {
                        value: 'The activity does not intend to influence anything listed above',
                         text: 'The activity does not intend to influence anything listed above',
                         behaviour: 'exclusive'
                     }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}