{% extends "layouts/v4-header-1.html" %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a-4' method='post'>
    
                {% set thisRegistrant %}
                {% if (data['reg-type'] == 'Individual') %}are you {% else %} is {{data['registrant-name]']}}{% endif %}
            {% endset %}

                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
                {{ govukCheckboxes({
                    id: 'activity-types',
                    name: 'activity-types',
                    values: data['activity-types'],
                    fieldset: {
                        legend: {
                            text: 'What does the activity involve?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '
                        <p>Select all the actions that apply if they are involved in the same activity. </p>
                        <p>Add your activities separately if they do not relate to one another, or you are unsure.</p>
                        '
                    },
                    items: [
                    {
                        value: 'Private communication to a senior public official or politician in the UK',
                         text: 'Private communication to a senior public official or politician in the UK',
                         hint: {
                             text: 'For example, sending emails or letters, or having meetings'
                         }
                     },
                     {
                        value: 'Public communication in the UK',
                         text: 'Public communication in the UK',
                         hint: {
                             text: 'For example, social media posts, leaflets, posters or newspaper articles'
                         }
                     },
                     {
                        value: 'Supply of money, goods or services to an individual or entity in the UK',
                         text: 'Supply of money, goods or services to an individual or entity in the UK',
                         hint: {
                             text: 'For example, supplying physical gifts, direct or indirect payments, travel and accommodation, or consultancy'
                         }
                     }
                    ]
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
        
                    {{ govukButton({
                        href: '/route-v4/registration-overview',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>
            </form>
        </div>
    </div>
    {% endblock %}