{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    {% block footer %}
    {{ govukFooter({
    meta: {
    items: [
    {
    href: "/journey/v4/activity/a-8",
    text: "Skip"
    },
    {
    href: "/manage-prototype",
    text: "Manage your prototype"
    },
    {
    href: "/manage-prototype/clear-data",
    text: "Clear data"
    }
    ],
    visuallyHiddenTitle: "Footer links"
    }
    }) }}
    {% endblock %}
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a-5' method='post'>
    
                <span class='govuk-caption-l'>Add an activity </span>
    
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukTextarea({
                name: 'moreDetail',
                    id: 'a-4',
                    name: 'a-4',
                    value: data['a-4'],
                    label: {
                        text: 'What do you want the activity to achieve?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        text: 'Briefly describe the specific results or changes you want to see as a result of the activity'
                    }
                }) }} 
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}