{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set currentSub %}{{data['sub']}}{% endset -%}
{% set currentType %}{% if (data['a-sub-type'] == "Entity") %}entity{% else %}individual{% endif %} {% endset -%}




{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-full-width'>
        <form action='../registrations/r-check?activity-progress=complete' method='post'>

            <span class='govuk-caption-l'>Add an activity</span>

            <h1 class='govuk-heading-l'>Check your answers</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Targets of influence
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-2-p']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-2-p">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Actions involved
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['activity-types']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-3-p">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Goal
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-4']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-4">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Registrant involved
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-5'] == 'I am organising for others to do the activity') %}
                        No
                        {% else %}
                        Yes
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-5">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Others involved
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-5'] == 'I am doing the activity myself') %}
                        No
                        {% else %}
                        Yes
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-5">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% if (data['a-5'] != 'I am doing the activity myself') %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Names of others involved
                    </dt>
                    <dd class="govuk-summary-list__value">
                        
                        {% if (data['a-sub-1']) %}{{data['a-sub-fname-1']}} {{data['a-sub-lname-1']}}{{data['a-sub-orgname-1']}}{% endif %}{% if (data['a-sub-2']) %}, {{data['a-sub-fname-2']}} {{data['a-sub-lname-2']}}{{data['a-sub-orgname-2']}}{% endif %}
                        {% if (data['a-sub-3']) %}, {{data['a-sub-fname-3']}} {{data['a-sub-lname-3']}}{{data['a-sub-orgname-3']}}{% endif %}
                        {% if (data['a-sub-4']) %}, {{data['a-sub-fname-4']}} {{data['a-sub-lname-4']}}{{data['a-sub-orgname-4']}}{% endif %}
                        {% if (data['a-sub-5']) %}, {{data['a-sub-fname-5']}} {{data['a-sub-lname-5']}}{{data['a-sub-orgname-5']}}{% endif %}
                        
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-5">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Start date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-6'] == 'Yes') %}
                        {{data['a-6-date-day']}} {{data['a-6-date-month'] | monthName('truncate') }} {{data['a-6-date-year']}}
                        {% else %}
                        Not known
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-6">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        End date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-7'] == 'Yes') %}
                        {{data['a-7-date-day']}} {{data['a-7-date-month'] | monthName('truncate') }} {{data['a-7-date-year']}}
                        {% elseif (data['a-7'] == 'No') %}
                        Not known
                        {% else %}
                        The activity does not have an end date
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-7">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Frequency
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-8']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-6">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

            </dl>

            {% if (data['a-pri-1']) %}
            <h2 class='govuk-heading-m'>Private communication</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Types of communication
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-pri-1']}} {% if (data['a-pri-1-other']) %}({{data['a-pri-1-other']}}){% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pri-1">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

                {% if (data['a-pri-3--name-1']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Individual targets of communication
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-pri-3--name-1']) %}{{data['a-pri-3--name-1']}} ({{data['a-pri-3--type-1']}}){% endif %}
                        {% if (data['a-pri-3--name-2']) %}, {{data['a-pri-3--name-2']}} ({{data['a-pri-3--type-2']}}){% endif %}
                        {% if (data['a-pri-3--name-3']) %}, {{data['a-pri-3--name-3']}} ({{data['a-pri-3--type-3']}}){% endif %}
                        {% if (data['a-pri-3--name-4']) %}, {{data['a-pri-3--name-4']}} ({{data['a-pri-3--type-4']}}){% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pri-3">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-pri-4--type-1']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Groups targets of communication
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-pri-4--type-1']) %}{{data['a-pri-4--type-1']}}{% endif %}
                        {% if (data['a-pri-4--type-2']) %}<br>{{data['a-pri-4--type-2']}}{% endif %}
                        {% if (data['a-pri-4--type-3']) %}<br>{{data['a-pri-4--type-3']}}{% endif %}
                        {% if (data['a-pri-4--type-4']) %}<br>{{data['a-pri-4--type-4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pri-4">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

            </dl>     
            {% endif %}

            {% if (data['a-pub-1']) %}
            <h2 class='govuk-heading-m'>Public communication</h1>

            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Types of communication
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-pub-1']}} {% if (data['a-pub-1-other']) %}({{data['a-pub-1-other']}}){% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pub-1">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% if (data['a-pub-2']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Targets of communication
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-pub-2']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-pub-2">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

            </dl>     
            {% endif %}

            {% if (data['a-mon-1']) %}
            <h2 class='govuk-heading-m'>Supply of money, goods or services</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Types of supply
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-mon-1']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-mon-1">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total value 
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £{{data['a-mon-2']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-mon-2">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Targets of supply
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-mon-3--name-1']) %}{{data['a-mon-3--name-1']}} ({{data['a-mon-3--type-1']}}){% endif %}
                        {% if (data['a-mon-3--name-2']) %}, {{data['a-mon-3--name-2']}} ({{data['a-mon-3--type-2']}}){% endif %}
                        {% if (data['a-mon-3--name-3']) %}, {{data['a-mon-3--name-3']}} ({{data['a-mon-3--type-3']}}){% endif %}
                        {% if (data['a-mon-3--name-4']) %}, {{data['a-mon-3--name-4']}} ({{data['a-mon-3--type-4']}}){% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-mon-3">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

            </dl>     
            {% endif %}

            {% if (data['a-oth-1']) %}
            <h2 class='govuk-heading-m'>Other type of activity</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Activity outline
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-oth-1']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-oth-1">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>

            </dl>     
            {% endif %}


            {{ govukButton({
            text: 'Save and continue'
            }) }}

            {% from 'govuk/components/button/macro.njk' import govukButton %}

            {{ govukButton({
            href: '../registrations',
            classes: 'govuk-button--secondary',
            text: 'Save and exit'
            }) }}

        </form>
    </div>
</div>
{% endblock %}