{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a-mon-2' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
                {{ govukCheckboxes({
                    id: 'a-mon-1',
                    name: 'a-mon-1',
                    values: data['a-mon-1'],
                    fieldset: {
                        legend: {
                            text: 'What is being supplied?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Select all that apply'
                    },
                    items: [
                    {
                        value: 'Money',
                        text: 'Money'
                     },
                     {
                        value: 'Goods',
                        text: 'Goods',
                        hint: {
                            text: 'For example, a physical or digital item'
                        }
                    },
                    {
                    value: 'Services',
                        text: 'Services',
                        hint: {
                            text: 'For example, doing work for someone'
                        }
                    }
                    ]
                }) }}
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}