{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    {% set answer %}
        {% if (data['a-mon-1'] == 'Money') %}

        {% endif %}
    {% endset %}

    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a-mon-3' method='post'>


                {% set answer %}
                <span class="list-maker">
                    {% for item in data['a-mon-1'] %}<span>{{item  | lower}}</span>{% endfor %}
                </span>
                {% endset %}

                <span class='govuk-caption-l'>Add an activity </span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'a-mon-2',
                    name: 'a-mon-2',
                    value: data['a-mon-2'],
                    label: {
                        html: 'What is the total value of the '+answer+' being supplied?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    prefix: {
                        text: "£"
                    },
                    classes: "govuk-input--width-5",
                    hint: {
                        text: 'Convert any value in foreign currency to pounds sterling. Provide an estimate if you do not know the exact amount.'
                    }
                }) }}
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}
                {{ govukButton({
                    href: '/route-v4/registration-overview',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}