{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <span class="govuk-caption-l">Add an activity</span>

      <h1 class="govuk-heading-l">Who is intended to receive the private communication?</h1>
      <div class="govuk-hint"><p>If multiple specific individuals are being targeted, you can add more by selecting 'Add another'.</p></div>
      
      {% if (data['a-pri-2'] == 'Groups or categories of people') %}
      <form action="a-pri-4" method="post">
      {% else %}
      <form action="/route-v4/a-pri-3" method="post">                
      {% endif %}

        <div id="js-activity-wrapper">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {% call govukFieldset({
          classes: "person-module",
          legend: {
            text: "Recipient 1",
            classes: "hidden",
            isPageHeading: false
          }
        }) %}


          {{ govukSelect({
            id: "a-pri-3--type-1",
            name: "a-pri-3--type-1",
            classes: "govuk-!-width-full",
            label: {
              text: "Category"
            },
            items: [
              {
                value: "default",
                text: "Select"
              },
              {
                value: "Minister",
                text: "Minister"
              },
              {
                value: "Member of Parliament",
                text: "Member of Parliament"
              },
              {
                value: "Employee of Member of Parliament",
                text: "Employee of Member of Parliament"
              },
              {
                value: "Mayor of local government",
                text: "Mayor of local government"
              },
              {
                value: "Senior political party official",
                text: "Senior political party official"
              },
              {
                value: "Election candidate",
                text: "Election candidate"
              },
              {
                value: "Senior civil servant",
                text: "Senior civil servant"
              },
              {
                value: "Senior military officer or staff",
                text: "Senior military officer or staff"
              },
              {
                value: "Senior police officer or staff",
                text: "Senior police officer or staff"
              }
            ]
          }) }}

          {% from 'govuk/components/select/macro.njk' import govukSelect %}
            
          {{ govukSelect({
            id: 'a-pri-3--role-1',
            name: 'a-pri-3--role-1',
            classes: "govuk-!-width-full",
            label: {
                text: 'Role'
            },
            items: [
            {
              value: "default",
              text: "Select"
            },
            {
              value: "A Minister of the Crown",
              text: "	A Minister of the Crown"
            },
            {
              value: "A Northern Ireland Minister",
              text: "	A Northern Ireland Minister"
            },
            {
              value: "A Scottish Minister",
              text: "	A Scottish Minister"
            },
            {
              value: "A Welsh Minister",
              text: "	A Welsh Minister"
            },
            {
              value: "A Member of either House of Parliament.",
              text: "	A Member of either House of Parliament."
            },
            {
              value: "A Member of the Northern Ireland Assembly",
              text: "	A Member of the Northern Ireland Assembly"
            },
            {
              value: "A Member of the Scottish Parliament",
              text: "	A Member of the Scottish Parliament"
            },
            {
              value: "A Member of Senedd Cymru",
              text: "	A Member of Senedd Cymru"
            },
            {
              value: "An employee or other member of staff of a Member of either House of Parliament",
              text: "	An employee or other member of staff of a Member of either House of Parliament"
            },
            {
              value: "An employee or other member of staff of a Member of the Northern Ireland Assembly",
              text: "	An employee or other member of staff of a Member of the Northern Ireland Assembly"
            },
            {
              value: "An employee or other member of staff of a Member of the Scottish Parliament",
              text: "	An employee or other member of staff of a Member of the Scottish Parliament"
            },
            {
              value: "An employee or other member of staff of a Member of Senedd Cymru",
              text: "	An employee or other member of staff of a Member of Senedd Cymru"
            },
            {
              value: "The Mayor of London",
              text: "	The Mayor of London"
            },
            {
              value: "A Mayor for the area of a combined authority",
              text: "	A Mayor for the area of a combined authority"
            },
            {
              value: "An officer, trustee or agent of a UK registered political party",
              text: "	An officer, trustee or agent of a UK registered political party"
            },
            {
              value: "A Member of a UK registered political party who exercises executive functions on behalf of the party",
              text: "	A Member of a UK registered political party who exercises executive functions on behalf of the party"
            },
            {
              value: "A candidate at an election for a relevant elective office",
              text: "	A candidate at an election for a relevant elective office"
            },
            {
              value: "A candidate at an election for a relevant Scottish elective office",
              text: "	A candidate at an election for a relevant Scottish elective office"
            },
            {
              value: "A member of the Senior Civil Service (for example, a Permanent Secretary, Director General or Deputy Director of a UK government department)",
              text: "	A member of the Senior Civil Service (for example, a Permanent Secretary, Director General or Deputy Director of a UK government department)"
            },
            {
              value: "A member of the Northern Ireland Senior Civil Service",
              text: "	A member of the Northern Ireland Senior Civil Service"
            },
            {
              value: "A member of the Senior Management Structure of His Majesty’s Diplomatic Service",
              text: "	A member of the Senior Management Structure of His Majesty’s Diplomatic Service"
            },
            {
              value: "A special adviser within the UK Civil Service",
              text: "	A special adviser within the UK Civil Service"
            },
            {
              value: "A special adviser within the Northern Ireland Civil Service",
              text: "	A special adviser within the Northern Ireland Civil Service"
            },
            {
              value: "An armed forces officer who is of or above the rank of commodore, brigadier or air commodore",
              text: "	An armed forces officer who is of or above the rank of commodore, brigadier or air commodore"
            },
            {
              value: "An armed forces member of staff who is of or above the rank equivalent to commodore, brigadier or air commodore",
              text: "	An armed forces member of staff who is of or above the rank equivalent to commodore, brigadier or air commodore"
            },
            {
              value: "The chief constable or deputy chief constable of a police force",
              text: "	The chief constable or deputy chief constable of a police force"
            },
            {
              value: "A police and crime commissioner",
              text: "	A police and crime commissioner"
            },
            {
              value: "The Commissioner, Deputy Commissioner, Assistant Commissioner or Deputy Assistant Commission of Police of the Metropolis",
              text: "	The Commissioner, Deputy Commissioner, Assistant Commissioner or Deputy Assistant Commission of Police of the Metropolis"
            },
            {
              value: "The Commissioner or Assistant Commissioner of Police for the City of London",
              text: "	The Commissioner or Assistant Commissioner of Police for the City of London"
            },
            {
              value: "The chief constable or deputy chief constable of the Police Service of Northern Ireland",
              text: "	The chief constable or deputy chief constable of the Police Service of Northern Ireland"
            },
            {
              value: "The chief constable or a deputy chief constable of the Police Service of Scotland",
              text: "	The chief constable or a deputy chief constable of the Police Service of Scotland"
            },
            {
              value: "The chief constable or a deputy chief constable of the Ministry of Defence Police",
              text: "	The chief constable or a deputy chief constable of the Ministry of Defence Police"
            },
            {
              value: "The chief constable or deputy chief constable of the British Transport Police Force",
              text: "	The chief constable or deputy chief constable of the British Transport Police Force"
            },
            {
              value: "The chief constable or deputy chief constable of the Civil Nuclear Constabulary",
              text: "	The chief constable or deputy chief constable of the Civil Nuclear Constabulary"
            },
            {
              value: "A Director General, Director or Deputy Director of the National Crime Agency",
              text: "	A Director General, Director or Deputy Director of the National Crime Agency"
            },
            {
              value: "Other",
              text: "	Other"
            }
          ]
          }) }}

          {{ govukInput({
            label: {
              text: "Name"
            },
            classes: "name-field",
            id: "a-pri-3--name-1",
            name: "a-pri-3--name-1"
          }) }}



            <div class="govuk-heading-m update-button-group update-button-group--hidden">
                <div class="person-texts">
                </div>
                <div class="person-actions  govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"><a href="#" class="govuk-link button--save">Save  <span class="govuk-visually-hidden"> this person or organisation, and minimise this panel </span></a></li>
                    <li class="govuk-summary-card__action"><a href="#"  class="govuk-link button--delete">Remove <span class="govuk-visually-hidden"> this person or organisation - you can undo this action if required</span></a></li>
                </div>
            </div>

            <div class="govuk-heading-m min-label">
                <div class="person-texts">
                    <div class="govuk-caption-m">Person or Organisation 1</div>
                    <div class="govuk-heading-m min-label__name"></div>
                </div>
                <div class="person-actions  govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"><a href="#" class="govuk-link button--update">Edit <span class="govuk-visually-hidden"> this person or organisation</span></a></li>
                    <li class="govuk-summary-card__action"><a href="#"  class="govuk-link button--delete">Remove <span class="govuk-visually-hidden"> this person or organisation - you can undo this action if required</span></a></li>
                </div>
                <div class="person-actions  govuk-summary-card__actions govuk-summary-card__actions--undo">
                    <li class="govuk-summary-card__action govuk-summary-card__action--confirm"><a href="#"  class="govuk-link button--confirm">Confirm <span class="govuk-visually-hidden"> the removal of this person or organisation - this action is irreversible</span></a></li>
                    <li class="govuk-summary-card__action govuk-summary-card__action--undo"><a href="#"  class="govuk-link button--undo">Cancel <span class="govuk-visually-hidden"> the removal of this person or organisation</span></a></li>
                </div>
            </div>

        {% endcall %}

      </div>

        <div id="add-another-button"  class="govuk-!-padding-top-5">
          <a href="#" class="govuk-button govuk-button--secondary"  id="add-another-button">Add another</a>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

{% from "govuk/components/details/macro.njk" import govukDetails %}

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Roles within each category
    </span>
  </summary>
  <div class="govuk-details__text">
      <p>Civil servant</p>
      <ul>
        <li>A member of the Senior Civil Service (for example, a Permanent Secretary, Director General or Deputy Director of a UK government department)</li>
        <li>A member of the Northern Ireland Senior Civil Service</li>
        <li>A member of the Senior Management Structure of His Majesty's Diplomatic Service</li>
        <li>A special adviser within the UK Civil Service</li>
        <li>A special adviser within the Northern Ireland Civil Service</li>
      </ul>

      <p>Election candidate</p>
      <ul>
        <li>A candidate at an election for a relevant elective office</li>
        <li>A candidate at an election for a relevant Scottish elective office</li>
      </ul>

      <p>Government Minister</p>
      <ul>
        <li>A Minister of the Crown</li>
        <li>A Northern Ireland Minister</li>
        <li>A Scottish Minister</li>
        <li>A Welsh Minister</li>
      </ul>


      <p>Mayor of local government</p>
      <ul>
        <li>The Mayor of London</li>
        <li>A Mayor for the area of a combined authority</li>
      </ul>

      <p>Member of Parliament or 
        employee of</p>
      <ul>
        <li>A Member of either House of Parliament</li>
        <li>A Member of the Northern Ireland Assembly</li>
        <li>A Member of the Scottish Parliament</li>
        <li>A Member of Senedd Cymru</li>
        <li>An employee or other member of staff of any of the above individuals</li>
      </ul>
      <p>Political party leadership</p>
      <ul>
        <li>An officer, trustee, or agent of a UK registered political party</li>
        <li>A Member of such a political party who exercises executive functions on behalf of the party</li>
      </ul>

      <p>Senior military officer</p>
      <ul>
        <li>An armed forces officer who is of, or above, the rank of commodore, brigadier, or air commodore</li>
      </ul>

      <p>Senior police officer</p>
      <ul>
        <li>The chief constable or deputy chief constable of a police force</li>
        <li>A police and crime commissioner. The Commissioner, Deputy Commissioner, Assistant Commissioner or Deputy Assistant Commission of Police of the Metropolis</li>
        <li>The Commissioner or Assistant Commissioner of Police for the City of London</li>
        <li>The chief constable or deputy chief constable of the Police Service of Northern Ireland </li>
        <li>The chief constable or a deputy chief constable of the Police Service of Scotland</li>
        <li>The chief constable or a deputy chief constable of the Ministry of Defence Police</li>
        <li>The chief constable or deputy chief constable of the British Transport Police Force</li>
        <li>The chief constable or deputy chief constable of the Civil Nuclear Constabulary</li>
        <li>A Director General, Director or Deputy Director of the National Crime Agency</li>
      </ul>

    </div>
</details>





    </div>
  </div>



<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>

function dynamicTitle () {
    $('#js-activity-wrapper').on("keyup", ".name-field", function( event ) {
      let thisName = $(this).val();
      $(this).closest(".person-module").find(".min-label__name").html(thisName);
    })
}

function addNew() {

    var newNameId = 2;
    var addAnotherButton = document.getElementById('add-another-button');
    var names = document.getElementById('js-activity-wrapper');

    var stringToHTML = function (str) {
      var parser = new DOMParser();
      var doc = parser.parseFromString(str, 'text/html');
      return doc.body.firstChild;
    };

    addAnotherButton.onclick = function () {

      $('.person-module').addClass('person-module--hidden');

      var s = stringToHTML(`
      
        {% call govukFieldset({
          classes: "person-module",
          legend: {
            text: "Recipient ${newNameId}",
            classes: "hidden",
            isPageHeading: true
          }
        }) %}


          {{ govukSelect({
            id: "a-pri-3--type-${newNameId}",
            name: "a-pri-3--type-${newNameId}",
            label: {
              text: "Category"
            },
            items: [
              {
                value: "default",
                text: "Select"
              },
              {
                value: "Civil servants",
                text: "Civil servants"
              },
              {
                value: "Election candidates",
                text: "Election candidates"
              },
              {
                value: "Local government",
                text: "Local government"
              },
              {
                value: "Ministers of Parliament or their employees",
                text: "Ministers of Parliament or their employees"
              },
              {
                value: "Ministers",
                text: "Ministers"
              },
              {
                value: "Military personnel",
                text: "Military personnel"
              },
              {
                value: "Police",
                text: "Police"
              },
              {
                value: "Political parties",
                text: "Political parties"
              }
            ]
          }) }}

          {% from 'govuk/components/select/macro.njk' import govukSelect %}
            
          {{ govukSelect({
            id: 'a-pri-3--role-${newNameId}',
            name: 'a-pri-3--role-${newNameId}',
            classes: "govuk-!-width-full",
            label: {
                text: 'Role'
            },
            items: [
              {
                value: "default",
                text: "Select"
              },
              {
                value: "A Minister of the Crown",
                text: "	A Minister of the Crown"
              },
              {
                value: "A Northern Ireland Minister",
                text: "	A Northern Ireland Minister"
              },
              {
                value: "A Scottish Minister",
                text: "	A Scottish Minister"
              },
              {
                value: "A Welsh Minister",
                text: "	A Welsh Minister"
              },
              {
                value: "A Member of either House of Parliament.",
                text: "	A Member of either House of Parliament."
              },
              {
                value: "A Member of the Northern Ireland Assembly",
                text: "	A Member of the Northern Ireland Assembly"
              },
              {
                value: "A Member of the Scottish Parliament",
                text: "	A Member of the Scottish Parliament"
              },
              {
                value: "A Member of Senedd Cymru",
                text: "	A Member of Senedd Cymru"
              },
              {
                value: "An employee or other member of staff of a Member of either House of Parliament",
                text: "	An employee or other member of staff of a Member of either House of Parliament"
              },
              {
                value: "An employee or other member of staff of a Member of the Northern Ireland Assembly",
                text: "	An employee or other member of staff of a Member of the Northern Ireland Assembly"
              },
              {
                value: "An employee or other member of staff of a Member of the Scottish Parliament",
                text: "	An employee or other member of staff of a Member of the Scottish Parliament"
              },
              {
                value: "An employee or other member of staff of a Member of Senedd Cymru",
                text: "	An employee or other member of staff of a Member of Senedd Cymru"
              },
              {
                value: "The Mayor of London",
                text: "	The Mayor of London"
              },
              {
                value: "A Mayor for the area of a combined authority",
                text: "	A Mayor for the area of a combined authority"
              },
              {
                value: "An officer, trustee or agent of a UK registered political party",
                text: "	An officer, trustee or agent of a UK registered political party"
              },
              {
                value: "A Member of a UK registered political party who exercises executive functions on behalf of the party",
                text: "	A Member of a UK registered political party who exercises executive functions on behalf of the party"
              },
              {
                value: "A candidate at an election for a relevant elective office",
                text: "	A candidate at an election for a relevant elective office"
              },
              {
                value: "A candidate at an election for a relevant Scottish elective office",
                text: "	A candidate at an election for a relevant Scottish elective office"
              },
              {
                value: "A member of the Senior Civil Service (for example, a Permanent Secretary, Director General or Deputy Director of a UK government department)",
                text: "	A member of the Senior Civil Service (for example, a Permanent Secretary, Director General or Deputy Director of a UK government department)"
              },
              {
                value: "A member of the Northern Ireland Senior Civil Service",
                text: "	A member of the Northern Ireland Senior Civil Service"
              },
              {
                value: "A member of the Senior Management Structure of His Majesty’s Diplomatic Service",
                text: "	A member of the Senior Management Structure of His Majesty’s Diplomatic Service"
              },
              {
                value: "A special adviser within the UK Civil Service",
                text: "	A special adviser within the UK Civil Service"
              },
              {
                value: "A special adviser within the Northern Ireland Civil Service",
                text: "	A special adviser within the Northern Ireland Civil Service"
              },
              {
                value: "An armed forces officer who is of or above the rank of commodore, brigadier or air commodore",
                text: "	An armed forces officer who is of or above the rank of commodore, brigadier or air commodore"
              },
              {
                value: "An armed forces member of staff who is of or above the rank equivalent to commodore, brigadier or air commodore",
                text: "	An armed forces member of staff who is of or above the rank equivalent to commodore, brigadier or air commodore"
              },
              {
                value: "The chief constable or deputy chief constable of a police force",
                text: "	The chief constable or deputy chief constable of a police force"
              },
              {
                value: "A police and crime commissioner",
                text: "	A police and crime commissioner"
              },
              {
                value: "The Commissioner, Deputy Commissioner, Assistant Commissioner or Deputy Assistant Commission of Police of the Metropolis",
                text: "	The Commissioner, Deputy Commissioner, Assistant Commissioner or Deputy Assistant Commission of Police of the Metropolis"
              },
              {
                value: "The Commissioner or Assistant Commissioner of Police for the City of London",
                text: "	The Commissioner or Assistant Commissioner of Police for the City of London"
              },
              {
                value: "The chief constable or deputy chief constable of the Police Service of Northern Ireland",
                text: "	The chief constable or deputy chief constable of the Police Service of Northern Ireland"
              },
              {
                value: "The chief constable or a deputy chief constable of the Police Service of Scotland",
                text: "	The chief constable or a deputy chief constable of the Police Service of Scotland"
              },
              {
                value: "The chief constable or a deputy chief constable of the Ministry of Defence Police",
                text: "	The chief constable or a deputy chief constable of the Ministry of Defence Police"
              },
              {
                value: "The chief constable or deputy chief constable of the British Transport Police Force",
                text: "	The chief constable or deputy chief constable of the British Transport Police Force"
              },
              {
                value: "The chief constable or deputy chief constable of the Civil Nuclear Constabulary",
                text: "	The chief constable or deputy chief constable of the Civil Nuclear Constabulary"
              },
              {
                value: "A Director General, Director or Deputy Director of the National Crime Agency",
                text: "	A Director General, Director or Deputy Director of the National Crime Agency"
              },
              {
                value: "Other",
                text: "	Other"
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              text: "Name"
            },
            classes: "name-field",
            id: "a-pri-3--name-${newNameId}",
            name: "a-pri-3--name-${newNameId}"
          }) }}


            <div class="govuk-heading-m update-button-group update-button-group--hidden">
                <div class="person-texts">
                </div>
                <div class="person-actions  govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"><a href="#" class="govuk-link button--save">Save  <span class="govuk-visually-hidden"> this person or organisation, and minimise this panel </span></a></li>
                    <li class="govuk-summary-card__action"><a href="#"  class="govuk-link button--delete">Remove <span class="govuk-visually-hidden"> this person or organisation - you can undo this action if required</span></a></li>
                </div>
            </div>

            <div class="govuk-heading-m min-label">
                <div class="person-texts">
                    <div class="govuk-caption-m">Person or Organisation 1</div>
                    <div class="govuk-heading-m min-label__name"></div>
                </div>
                <div class="person-actions  govuk-summary-card__actions">
                    <li class="govuk-summary-card__action"><a href="#" class="govuk-link button--update">Edit <span class="govuk-visually-hidden"> this person or organisation</span></a></li>
                    <li class="govuk-summary-card__action"><a href="#"  class="govuk-link button--delete">Remove <span class="govuk-visually-hidden"> this person or organisation - you can undo this action if required</span></a></li>
                </div>
                <div class="person-actions  govuk-summary-card__actions govuk-summary-card__actions--undo">
                    <li class="govuk-summary-card__action govuk-summary-card__action--confirm"><a href="#"  class="govuk-link button--confirm">Confirm <span class="govuk-visually-hidden"> the removal of this person or organisation - this action is irreversible</span></a></li>
                    <li class="govuk-summary-card__action govuk-summary-card__action--undo"><a href="#"  class="govuk-link button--undo">Cancel <span class="govuk-visually-hidden"> the removal of this person or organisation</span></a></li>
                </div>
            </div>

        {% endcall %}
      `);


    $('.button--update').on('click', function() {
        $(this).closest(".person-module").removeClass('person-module--hidden');
        $(this).closest(".person-module").find(".update-button-group").removeClass('update-button-group--hidden');
        return false;
    })
    $('.button--save').on('click', function() {
        $(this).closest(".person-module").addClass('person-module--hidden');
        $(this).closest(".person-module").find(".update-button-group").addClass('update-button-group--hidden');
        return false;
    })
    $('.button--delete').on('click', function() {
        $(this).closest(".person-module").addClass('person-module--hidden');
        $(this).closest(".person-module").find(".update-button-group").addClass('update-button-group--hidden');
        $(this).closest(".person-module").addClass('person-module--delete')
        return false;
    })
    $('.button--undo').on('click', function() {
        $(this).closest(".person-module").removeClass('person-module--delete')
        return false;
    })
    $('.button--confirm').on('click', function() {
        $(this).closest(".person-module").addClass('person-module--deleted')
        return false;
    })



      names.appendChild(s);
      // document.getElementById("industry"+newNameId).focus();
      newNameId++;
      return false;
      console.log(newNameId);
    };
    
};


window.onload = function() {
    dynamicTitle();
    addNew();
};

</script>

{% endblock %}



