{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v4/activity-router-3' method='post'>
    
                <span class='govuk-caption-l'>Add an activity</span>
    
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukTextarea({
                name: 'moreDetail',
                    id: 'a-pub-2',
                    name: 'a-pub-2',
                    value: data['a-pub-2'],
                    label: {
                        text: 'Tell us about the intended audience of the public communication',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '<p>Describe the groups in as much detail as you can, such as specific entities, demographics, or the general public.</p>'
                    }
                }) }} 
    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                            
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '../registrations/registration-task-list',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}

                </div>

            </form>
        </div>
    </div>
    {% endblock %}