{% extends 'layouts/v3-header-one-1.html' %}
{% set activeLinkId = 'registrations' %}

    {% block pageTitle %}
        Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}


{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">


			<span class="govuk-caption-l">Add an activity</span>
			<h1 class="govuk-heading-l">What you need to complete this section</h1>

			{% from "govuk/components/details/macro.njk" import govukDetails %}

			{{ govukDetails({
				summaryText: "What is an activity?",
				text: "An activity is any action that works towards the desired outcome of an 
				agreement, or any action taken under a direction from a foreign power or 
				foreign power-controlled organisation. "
				}) }}

				{{ govukDetails({
					summaryText: "What is an agreement?",
					text: "An agreement is an understanding between two or more parties to conduct  
					activities. The agreement can be anything from a legally enforceable contract to 
					an informal, but clear, written or verbal understanding."
				}) }}
							
				{{ govukDetails({
					summaryText: "What is a foreign power?",
					html: "
					<p>A foreign power is:</p>
					<ul class='govuk-list govuk-list--bullet'>
						<li>the sovereign of other head of a foreign state,</li>
						<li>a foreign government, or part of a foreign government (for example, a ministry or department of a foreign government)</li>
						<li>an agency or authority of a foreign government, or of part of a foreign government</li>
						<li>an authority responsible for administering the affairs of an area within a foreign country or territory (for example, a local government authority in a foreign country)</li>
						<li>a political party which is a governing political party of a foreign government</li>
					</ul>"
				}) }}
	
				{{ govukDetails({
					summaryText: "What is a foreign power-controlled organisation?",
					text: "A list of organisations defined by the government in legislation."
				}) }}

							
			<p>You need to know:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>The type of activity</li>
				<li>The names of people, or the names of the groups, conducting the activity</li>
				<li>The frequency of the activity</li>
				<li>The intended outcome of the activity</li>
			</ul>


			<p>You must register activities one at a time. </p>
			<p>You can register or amend an activity at any time, but you must comply with the <a href="#">timescales set out in the Foreign Influence Registration Scheme legislation</a>.</p>

			{{ govukInsetText({
				html: "<p>Some of the information you provide may appear on the Foreign Influence Registration Scheme public register if you register any activities that are considered political in nature. </p>
				<p>You can make a request for any information that would appear on the public register to remain private.</p>
				<p>You can request for the information to remain private when you register your activity.</p>"
				}) }}


			{% if (data['tier'] == 'political') %}
			{{ govukButton({
				text: "Continue",
                href: "a2-p?activity-progress=in-progress"
			}) }}
			{% else  %}
			{{ govukButton({
				text: "Continue",
                href: "a2-e?activity-progress=in-progress"
			}) }}								
			{% endif %}


	</div>

</div>




{% endblock %}