{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'account' %}

{% block pageTitle %}
Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>

        {% if (data['arrangement-tier'] == 'enhanced' or data['tier'] == 'enhanced') %}
        <form action='a-2-e?activity-status=in-progress' method='post'>
        {% else %}
        <form action='a-2-p?activity-status=in-progress' method='post'>
        {% endif %}

            <h1 class='govuk-heading-l'>Add an activity</h1>

            <p>You must provide details of a registrable activity.</p>

            <h2 class='govuk-heading-m'>What you need to complete this section     </h2> 

            <p>You need to know: </p>
            <ul class='govuk-list govuk-list--bullet'>
                <li>what the activity is intended to influence</li>
                <li>the actions involved in the activity</li>
                <li>how often the activity happens</li>
                <li>what you want the activity to achieve</li>
                <li>who is involved in the activity </li>
            </ul>

            <p>You must submit a new registration if there are other activities in this arrangement that do not relate to this one.</p>

            <h2 class='govuk-heading-m'>The public register</h2> 

            <p>If you add a political influencing activity, some of the information related to this registration will appear on the Foreign Influence Registration Scheme (FIRS) public register. </p>

            <p>Information set to appear on the public register may remain private if:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li>publication could cause serious harm to any individual involved in this activity</li>
                <li>publication could harm a criminal investigation or proceedings, or prevent the detection of crime</li>
                <li>publication could harm the safety or interests of the UK</li>
                <li>publication could harm the commercial interests of any individual or entity in this activity</li>
            </ul>

            <p>At the 'Check and submit your registration' stage, you can tell us if any of the registration information creates one or more of these risks and should stay private. If you do, you will have 5 days to submit your evidence.</p>

            <p>Read the guidance on:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">what information appears on the public register</a></li>
                <li><a href="#">requesting information to remain private</a></li>
            </ul>


            {% from 'govuk/components/button/macro.njk' import govukButton %}
                
            <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    
                {{ govukButton({
                text: 'Save and continue'
                }) }}

                {{ govukButton({
                href: '/registrations/registration-task-list',
                classes: 'govuk-button--secondary',
                text: 'Save and exit'
                }) }}

            </div>

        </form>
    </div>
</div>
{% endblock %}
