{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'account' %}

{% block pageTitle %}
Add an activity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>

        {% if (data['arrangement-tier'] == 'enhanced') %}
        <form action='a-2-e?activity-progress=in-progress' method='post'>
        {% else %}
        <form action='a-2-p?activity-progress=in-progress' method='post'>
        {% endif %}

                <h1 class='govuk-heading-l'>Add an activity</h1>

                <p>We need the details of all the activities in the arrangement. You must add the activities individually. </p>

                <h2 class='govuk-heading-m'>What you need to complete this section</h2>

                <p>In this section, we are asking for information about a single activity that happens as a direct result of the arrangement.</p>

                <p>You need to know:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>what the activity is intended to influence</li>
                    <li>the actions involved in the activity</li>
                    <li>how often the activity happens</li>
                    <li>what you want the activity to achieve</li>
                    <li>who is involved in the activity </li>
                </ul>

                <h2 class='govuk-heading-m'>The public register</h2>
                <p>If you add a political influencing activity, some of the information related to this registration will appear on the Foreign Influence Registration Scheme public register.</p>
                <p>Parts of the registration information may stay private and not appear on the public register if they meet any of these criteria:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>there is a significant risk that publication would put any individual’s safety at risk.</li>
                    <li>publication would involve the disclosure of commercially sensitive information.</li>
                    <li>where there is a risk publication would be prejudicial to a criminal investigation or proceedings, or to the prevention or detection of crime.</li>
                    <li>there is a risk that publication would prejudice the national security of the UK.</li>
                </ul>
                <p>At the check and submit stage, you can tell us if any of the registration information meets one or more of the criteria and should stay private. If you do, you will have 5 days to provide your evidence.</p>

                <p>Read the:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="#">guidance on what information appears on the public register</a></li>
                    <li><a href="#">guidance on requesting information to remain private</a></li>
                </ul>

                {{ govukButton({
                text: 'Save and continue'
                }) }}

                {{ govukButton({
                href: '/route-v4/registration-overview',
                classes: 'govuk-button--secondary',
                text: 'Save and exit'
                }) }}
            </form>
    </div>
</div>
{% endblock %}
