{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add your details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}

    {% set currentReg %}{% if (data['reg-type'] == "Entity") %}{{data['registrant-name']}} has{% else %}you have{% endif %} {% endset -%}
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a-sub-1?sub=1' method='post'>
    
                <h1 class='govuk-heading-l'>Tell us about who is doing the activity</h1> 
                
                <div class="govuk-hint">
                    <p>Only add individuals or entities who are directly involved in the activity that {{ currentReg }} been directed to do by a foreign power or foreign power-controlled entity.</p>
                    <p>If the activity involves different actions, such as a private communication and a public communication, you should tell us which actions each individual or entity is involved in.</p>
                </div>
    
                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    
                    {{ govukButton({
                        text: 'Continue'
                    }) }}

                    {% from 'govuk/components/button/macro.njk' import govukButton %}
                        
                    {{ govukButton({
                        href: '../registrations/new',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>

            </form>
        </div>
    </div>
    {% endblock %}




    