{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
Add your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set currentSub %}{{data['sub']}}{% endset -%}
{% set currentType %}{% if (data['a-sub-type'] == "Entity") %}entity{% else %}individual{% endif %} {% endset -%}
{% set currentReg %}{% if (data['reg-type'] == "Entity") %}{{data['registrant-name']}} has{% else %}you have{% endif %} {% endset -%}




{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>
        <form action='/route-v4/a-restart-sub' method='post'>

            <span class='govuk-caption-l'>Individual or entity involved | Add an activity</span>
            <h1 class='govuk-heading-l'>Tell us about who is involved in doing the activity</h1> 
            
            <div class="govuk-body">
                <p>Only add individuals or entities who are directly involved in the activity that {{ currentReg }} been directed to do by a foreign power or foreign power-controlled entity.</p>
                <p>If the activity involves different actions, such as a private communication and a public communication, you should tell us which actions each individual or entity is involved in.</p>
            </div>

            {% if (data['a-sub-type-1']) %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        {{data['subcontractor-name-1']}}
                        
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link show-collapsed-content" href="#"><span class="expand-collapse-label"></span><span class="govuk-visually-hidden"> Expand or collapse card</span></a>
                        </li>
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link js-remove-card" href="../activity/a-start?registration-tier=political&arrangement-name={{data['arrangement-name']}}&arrangement-progress=complete">Remove<span class="govuk-visually-hidden"> of University of
                                Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content govuk-summary-card__content__collapsable">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['subcontractor-name-1']}}
                                    
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-email-1'] == 'Yes') %}{{data['a-sub-email-1-email-address']}} {% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-2">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Telephone Number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-tel-1'] == 'Yes') %}{{data['a-sub-tel-1-telephone']}} {% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-address-1'] == 'Yes') %}{{data['a-sub-address-1--line-1']}}, {{data['a-sub-address-1--town']}}, {{data['a-sub-address-1--postcode']}}{% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-4">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Relationship with registrant
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-sub-relationship-1']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role in the activity
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-sub-role-1']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
        
                    </dl>
                </div>
            </div>
            {% endif %}

            {% if (data['a-sub-type-2']) %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        {{data['subcontractor-name-2']}}
                        
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link show-collapsed-content" href="#"><span class="expand-collapse-label"></span><span class="govuk-visually-hidden"> Expand or collapse card</span></a>
                        </li>
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link js-remove-card" href="../activity/a-start?registration-tier=political&arrangement-name={{data['arrangement-name']}}&arrangement-progress=complete">Remove<span class="govuk-visually-hidden"> of University of
                                Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content govuk-summary-card__content__collapsable">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['subcontractor-name-2']}}
                                    
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-email-2'] == 'Yes') %}{{data['a-sub-email-2-email-address']}} {% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-2">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Telephone Number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-tel-2'] == 'Yes') %}{{data['a-sub-tel-2-telephone']}} {% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-address-2'] == 'Yes') %}{{data['a-sub-address-2--line-1']}}, {{data['a-sub-address-2--town']}}, {{data['a-sub-address-2--postcode']}}{% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-4">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Relationship with registrant
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-sub-relationship-2']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role in the activity
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-sub-role-2']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
        
                    </dl>
                </div>
            </div>
            {% endif %}

            {% if (data['a-sub-type-3']) %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        {{data['subcontractor-name-3']}}
                        
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link show-collapsed-content" href="#"><span class="expand-collapse-label"></span><span class="govuk-visually-hidden"> Expand or collapse card</span></a>
                        </li>
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link js-remove-card" href="../activity/a-start?registration-tier=political&arrangement-name={{data['arrangement-name']}}&arrangement-progress=complete">Remove<span class="govuk-visually-hidden"> of University of
                                Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content govuk-summary-card__content__collapsable">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['subcontractor-name-3']}}
                                    
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-email-3'] == 'Yes') %}{{data['a-sub-email-3-email-address']}} {% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-2">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Telephone Number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-tel-3'] == 'Yes') %}{{data['a-sub-tel-3-telephone']}} {% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-address-3'] == 'Yes') %}{{data['a-sub-address-3--line-1']}}, {{data['a-sub-address-3--town']}}, {{data['a-sub-address-3--postcode']}}{% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-4">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Relationship with registrant
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-sub-relationship-3']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role in the activity
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-sub-role-3']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
        
                    </dl>
                </div>
            </div>
            {% endif %}


            {% if (data['a-sub-type-4']) %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        {{data['subcontractor-name-4']}}
                        
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link show-collapsed-content" href="#"><span class="expand-collapse-label"></span><span class="govuk-visually-hidden"> Expand or collapse card</span></a>
                        </li>
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link js-remove-card" href="../activity/a-start?registration-tier=political&arrangement-name={{data['arrangement-name']}}&arrangement-progress=complete">Remove<span class="govuk-visually-hidden"> of University of
                                    Gloucestershire (University of Gloucestershire)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content govuk-summary-card__content__collapsable">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['subcontractor-name-4']}}
                                    
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-email-4'] == 'Yes') %}{{data['a-sub-email-4-email-address']}} {% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-2">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Telephone Number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-tel-4'] == 'Yes') %}{{data['a-sub-tel-4-telephone']}} {% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if (data['a-sub-address-4'] == 'Yes') %}{{data['a-sub-address-4--line-1']}}, {{data['a-sub-address-4--town']}}, {{data['a-sub-address-4--postcode']}}{% else %}Not known {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-4">Change<span class="govuk-visually-hidden"> address</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Relationship with registrant
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-sub-relationship-4']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role in the activity
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['a-sub-role-4']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                        birth</span></a>
                            </dd>
                        </div>
        
                    </dl>
                </div>
            </div>
            {% endif %}

<!--
            <dl class="govuk-summary-list">
                {% if (data['a-sub-1']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-1'] == 'Entity')%}
                        {{data['a-sub-orgname-1']}}
                        {% else %}
                        {{data['a-sub-fname-1']}} {{data['a-sub-lname-1']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-1']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-2']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-2'] == 'Entity')%}
                        {{data['a-sub-orgname-2']}}
                        {% else %}
                        {{data['a-sub-fname-2']}} {{data['a-sub-lname-2']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-2']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-3']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-3'] == 'Entity')%}
                        {{data['a-sub-orgname-3']}}
                        {% else %}
                        {{data['a-sub-fname-3']}} {{data['a-sub-lname-3']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-3']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-4']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-4'] == 'Entity')%}
                        {{data['a-sub-orgname-4']}}
                        {% else %}
                        {{data['a-sub-fname-4']}} {{data['a-sub-lname-4']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-4']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-5']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-5'] == 'Entity')%}
                        {{data['a-sub-orgname-5']}}
                        {% else %}
                        {{data['a-sub-fname-5']}} {{data['a-sub-lname-5']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-5']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-6']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-6'] == 'Entity')%}
                        {{data['a-sub-orgname-6']}}
                        {% else %}
                        {{data['a-sub-fname-6']}} {{data['a-sub-lname-6']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-6']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

            </dl>

        -->

            {{ govukButton({
            text: 'Add another',
            classes: 'govuk-button--secondary'
            }) }}

            <br>

            {% from 'govuk/components/button/macro.njk' import govukButton %}

            {{ govukButton({
                href: 'a-6',
                classes: 'govuk-button',
                text: 'Save and continue'
            }) }}
            {{ govukButton({
                href: '../registrations/new',
                classes: 'govuk-button--secondary',
                text: 'Save and exit'
            }) }}
            
        </form>
    </div>
</div>



<script type="text/javascript" src="/public/javascripts/manage-card.js"></script>



{% endblock %}