{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'account' %}

{% block pageTitle %}
Add your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set currentSub %}{{data['sub']}}{% endset -%}
{% set currentType %}{% if (data['a-sub-type'] == "Entity") %}entity{% else %}individual{% endif %} {% endset -%}




{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>
        <form action='a-sub-all?a-sub-{{data["sub"]}}=complete' method='post'>

            <span class='govuk-caption-l'>Register an activity - sub {{currentSub}}</span>

            <h1 class='govuk-heading-l'>Check your answers</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['a-sub-type'] == 'Entity')%}
                        {% if (data['sub'] == 1)%}{{data['a-sub-orgname-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-orgname-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-orgname-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-orgname-4']}}{% endif %}
                        {% else %}
                        {% if (data['sub'] == 1)%}{{data['a-sub-fname-1']}} {{data['a-sub-lname-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-fname-1']}} {{data['a-sub-lname-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-fname-1']}} {{data['a-sub-lname-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-fname-1']}} {{data['a-sub-lname-4']}}{% endif %}
                        {% endif %}
                            
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{{data['a-sub-email-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-email-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-email-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-email-4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-2">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone Number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{{data['a-sub-tel-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-tel-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-tel-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-tel-4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{{data['a-sub-address-1--line-1']}}, {{data['a-sub-address-1--town']}}, {{data['a-sub-address-1--postcode']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-address-2--line-1']}}, {{data['a-sub-address-2--town']}}, {{data['a-sub-address-2--postcode']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-address-3--line-1']}}, {{data['a-sub-address-3--town']}}, {{data['a-sub-address-3--postcode']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-address-4--line-1']}}, {{data['a-sub-address-4--town']}}, {{data['a-sub-address-4--postcode']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-4">Change<span class="govuk-visually-hidden"> address</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Relationship with registrant
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{{data['a-sub-relationship-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-relationship-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-relationship-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-relationship-4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Role in the activity
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{{data['a-sub-role-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-role-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-role-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-role-4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>

            </dl>

            {{ govukButton({
            text: 'Save and continue'
            }) }}

            {% from 'govuk/components/button/macro.njk' import govukButton %}

            {{ govukButton({
            href: '../registrations/new',
            classes: 'govuk-button--secondary',
            text: 'Save and exit'
            }) }}

        </form>
    </div>
</div>
{% endblock %}