{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
Add your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set currentSub %}{{data['sub']}}{% endset -%}
{% set currentType %}{% if (data['a-sub-type'] == "Entity") %}entity{% else %}individual{% endif %} {% endset -%}




{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>
        <form action='a-sub-all?a-sub-{{data["sub"]}}=complete' method='post'>

            <span class='govuk-caption-l'>Individual or entity involved | Add an activity</span>

            <h1 class='govuk-heading-l'>Check your answers</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{{data['a-sub-type-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-type-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-type-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-type-4']}}{% endif %}
                            
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        
                        {% if (data['sub'] == 1)%}{{data['subcontractor-name-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['subcontractor-name-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['subcontractor-name-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['subcontractor-name-4']}}{% endif %}
                        <!-- {% if (data['a-sub-type'] == 'Entity')%}
                        {% if (data['sub'] == 1)%}{{data['a-sub-orgname-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-orgname-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-orgname-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-orgname-4']}}{% endif %}
                        {% else %}
                        {% if (data['sub'] == 1)%}{{data['a-sub-name-1']}} {% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-name-1']}} {% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-name-1']}} {% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-name-1']}} {% endif %}
                        {% endif %} -->
                            
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Relationship to registrant
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{{data['a-sub-relationship-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-relationship-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-relationship-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-relationship-4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Role in  activity
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{{data['a-sub-role-1']}}{% endif %}
                        {% if (data['sub'] == 2)%}{{data['a-sub-role-2']}}{% endif %}
                        {% if (data['sub'] == 3)%}{{data['a-sub-role-3']}}{% endif %}
                        {% if (data['sub'] == 4)%}{{data['a-sub-role-4']}}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-3">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{% if (data['a-sub-email-1'] == 'Yes') %}{{data['a-sub-email-1-email-address']}} {% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 2)%}{% if (data['a-sub-email-2'] == 'Yes') %}{{data['a-sub-email-2-email-address']}} {% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 3)%}{% if (data['a-sub-email-3'] == 'Yes') %}{{data['a-sub-email-3-email-address']}} {% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 4)%}{% if (data['a-sub-email-4'] == 'Yes') %}{{data['a-sub-email-4-email-address']}} {% else %}Not known {% endif %}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-4">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{% if (data['a-sub-tel-1'] == 'Yes') %}{{data['a-sub-tel-1-telephone']}} {% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 2)%}{% if (data['a-sub-tel-2'] == 'Yes') %}{{data['a-sub-tel-2-telephone']}} {% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 3)%}{% if (data['a-sub-tel-3'] == 'Yes') %}{{data['a-sub-tel-3-telephone']}} {% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 4)%}{% if (data['a-sub-tel-4'] == 'Yes') %}{{data['a-sub-tel-4-telephone']}} {% else %}Not known {% endif %}{% endif %}

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-5">Change<span class="govuk-visually-hidden"> date of
                                birth</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if (data['sub'] == 1)%}{% if (data['a-sub-address-1'] == 'Yes') %}{{data['a-sub-address-1-address']}}{% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 2)%}{% if (data['a-sub-address-2'] == 'Yes') %}{{data['a-sub-address-2-address']}}{% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 3)%}{% if (data['a-sub-address-3'] == 'Yes') %}{{data['a-sub-address-3-address']}}{% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 4)%}{% if (data['a-sub-address-4'] == 'Yes') %}{{data['a-sub-address-4-address']}}{% else %}Not known {% endif %}{% endif %}


                        <!-- {% if (data['sub'] == 1)%}{% if (data['a-sub-address-1'] == 'Yes') %}{{data['a-sub-address-1--line-1']}}, {{data['a-sub-address-1--town']}}, {{data['a-sub-address-1--postcode']}}{% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 2)%}{% if (data['a-sub-address-2'] == 'Yes') %}{{data['a-sub-address-2--line-1']}}, {{data['a-sub-address-2--town']}}, {{data['a-sub-address-2--postcode']}}{% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 3)%}{% if (data['a-sub-address-3'] == 'Yes') %}{{data['a-sub-address-3--line-1']}}, {{data['a-sub-address-3--town']}}, {{data['a-sub-address-3--postcode']}}{% else %}Not known {% endif %}{% endif %}
                        {% if (data['sub'] == 4)%}{% if (data['a-sub-address-4'] == 'Yes') %}{{data['a-sub-address-4--line-1']}}, {{data['a-sub-address-4--town']}}, {{data['a-sub-address-4--postcode']}}{% else %}Not known {% endif %}{% endif %} -->
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-6">Change<span class="govuk-visually-hidden"> address</span></a>
                    </dd>
                </div>

            </dl>

            {{ govukButton({
            text: 'Save and continue'
            }) }}

            {% from 'govuk/components/button/macro.njk' import govukButton %}

            {{ govukButton({
            href: '../registrations/new',
            classes: 'govuk-button--secondary',
            text: 'Save and exit'
            }) }}

        </form>
    </div>
</div>
{% endblock %}