{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add your details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}

    {% set currentSub %}a-sub-email-{{data['sub']}}{% endset -%}
    {% set currentType %}{% if (data['a-sub-type'] == "Entity") %}entity{% else %}individual{% endif %} {% endset -%}
    {% set subcontractor %}subcontractor-name-{{data['sub']}}{% endset -%}

    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a-sub-5' method='post'>
    
                <span class='govuk-caption-l'>Individual or entity involved | Add an activity</span>
    
                {% set subcontractorEmail %}
                    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: currentSub+'-email-address',
                    name: currentSub+'-email-address',
                    value: data[currentSub+'-email-address'],
                    label: {
                        text: 'Email address',
                        classes: 'govuk-label',
                        isPageHeading: false
                    }
                }) }}
                {% endset %}

                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: currentSub,
                    name: currentSub,
                    value: data[currentSub],
                    fieldset: {
                        legend: {
                            text: 'Do you know the email address of '+data[subcontractor]+'?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'This information may be used to contact '+data[subcontractor]+', and verify their identity'
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes',
                        conditional: {
                            html: subcontractorEmail
                        }
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}

                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                {{ govukButton({
                    href: '../registrations/new',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}

            </form>
        </div>
    </div>
    {% endblock %}