{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}

{% block pageTitle %}
Add your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set currentSub %}{{data['sub']}}{% endset -%}
{% set currentType %}{% if (data['a-sub-type'] == "Entity") %}entity{% else %}individual{% endif %} {% endset -%}




{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>
        <form action='/route-v4/a-restart-sub' method='post'>

            <span class='govuk-caption-l'>Register an activity</span>
            <h1 class='govuk-heading-l'>Tell us about who is involved in doing the activity</h1> 
            
            <div class="govuk-body">
                <p>Add any individual or entity that is doing the activity that has been directed as part of the agreement with the foreign power or foreign power-controlled entity.</p>
            </div>

            <dl class="govuk-summary-list">
                {% if (data['a-sub-1']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-1'] == 'Entity')%}
                        {{data['a-sub-orgname-1']}}
                        {% else %}
                        {{data['a-sub-fname-1']}} {{data['a-sub-lname-1']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-1']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-2']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-2'] == 'Entity')%}
                        {{data['a-sub-orgname-2']}}
                        {% else %}
                        {{data['a-sub-fname-2']}} {{data['a-sub-lname-2']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-2']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-3']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-3'] == 'Entity')%}
                        {{data['a-sub-orgname-3']}}
                        {% else %}
                        {{data['a-sub-fname-3']}} {{data['a-sub-lname-3']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-3']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-4']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-4'] == 'Entity')%}
                        {{data['a-sub-orgname-4']}}
                        {% else %}
                        {{data['a-sub-fname-4']}} {{data['a-sub-lname-4']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-4']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-5']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-5'] == 'Entity')%}
                        {{data['a-sub-orgname-5']}}
                        {% else %}
                        {{data['a-sub-fname-5']}} {{data['a-sub-lname-5']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-5']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

                {% if (data['a-sub-6']) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data['a-sub-type-6'] == 'Entity')%}
                        {{data['a-sub-orgname-6']}}
                        {% else %}
                        {{data['a-sub-fname-6']}} {{data['a-sub-lname-6']}}
                        {% endif %}                            
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['a-sub-relationship-6']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="a-sub-individual">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}

            </dl>

            {{ govukButton({
            text: 'Add another',
            classes: 'govuk-button--secondary'
            }) }}

            <br>

            {% from 'govuk/components/button/macro.njk' import govukButton %}

            {{ govukButton({
                href: '../registrations/new',
                classes: 'govuk-button',
                text: 'Save and continue'
            }) }}
            {{ govukButton({
                href: '../registrations/new',
                classes: 'govuk-button--secondary',
                text: 'Save and exit'
            }) }}
            
        </form>
    </div>
</div>
{% endblock %}