{% extends 'layouts/v4-header-1.html' %}
{% set activeLinkId = 'registrations' %}
    
    {% block pageTitle %}
        Add your details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}

    {% set currentSub %}a-sub-relationship-{{data['sub']}}{% endset -%}
    {% set currentType %}{% if (data['a-sub-type'] == "Entity") %}entity{% else %}individual{% endif %} {% endset -%}
    
    {% set indName %}a-sub-name-{{data['sub']}}{% endset -%}

    {% set reg %}{% if (data['reg-type'] == 'Individual') %}you{% else %}{{data['registrant-name']}}{% endif %}{% endset %}

    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='a-sub-3?subcontractor-name-{{data["sub"]}}={{data[indName]}}' method='post'>
    
                <span class='govuk-caption-l'>Individual or entity involved | Add an activity</span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: currentSub,
                    name: currentSub,
                    value: data[currentSub],
                    label: {
                        text: 'What is the relationship between '+data[indName]+' and '+reg+'?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        text: 'For example, business partner, contractor, or friend'
                    }
                }) }}
    
                {{ govukButton({
                    text: 'Save and continue'
                }) }}

                {% from 'govuk/components/button/macro.njk' import govukButton %}
                    
                {{ govukButton({
                    href: '../registrations/new',
                    classes: 'govuk-button--secondary',
                    text: 'Save and exit'
                }) }}

            </form>
        </div>
    </div>
    {% endblock %}