{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register/your-registrations-add" method="post">

    
        <div class="govuk-form-group">
          {{ govukButton({
            text: "Return to 'your registrations' screen"
          }) }}
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="event-name">
              Questions related to the arrangement
            </label>
          </h1>
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><p class="govuk-body-l">Description of the nature and form of the arrangement</p></li>
        <li><p class="govuk-body-l">Name of the foreign power</p></li>
      <li><p class="govuk-body-l">Date the direction was given</p></li>
    <li><p class="govuk-body-l">The names of the individuals to carry out the activities (or a description of the persons to carry out the activities) and their relationship to the specified person</p></li>
  <li><p class="govuk-body-l">Date(s) on which political influence activities occurred or will commence</p></li>
  <li><p class="govuk-body-l">Frequency of political influence activities</p></li>
  <li><p class="govuk-body-l">Estimated end date of political influence activities (or a statement stating that the activities will continue indefinitely or their end date is unknown)</p></li>
  <li><p class="govuk-body-l">The field to which the political influence activities relate</p></li>
  <li><p class="govuk-body-l">The category of person to whom the communication will be made</p></li>
  <li><p class="govuk-body-l">Role of the person to whom communication is made (or a description of the types of persons to whom communication is made)</p></li>
  <li><p class="govuk-body-l">Name of the person to whom communication is made</p></li>
  <li><p class="govuk-body-l">Nature of the communication</p></li>
  <li><p class="govuk-body-l">Purpose of the communication</p></li>
  <li><p class="govuk-body-l">Sought outcome of the communication</p></li>
  <li><p class="govuk-body-l">Intended audience of the communication</p></li>
  <li><p class="govuk-body-l">Whether the activities involve publication or production</p></li>
  <li><p class="govuk-body-l">Nature of goods or services to be distributed</p></li>
  <li><p class="govuk-body-l">Value of goods or services to be distributed</p></li>
  <li><p class="govuk-body-l">Name of the person receiving the goods or services (where made to an identifiable person)</p></li>
  <li><p class="govuk-body-l">Role or capacity of the person in which the person receiving the goods or services is acting (or a description of the persons receiving them)</p></li>
  <li><p class="govuk-body-l">Correspondence address, email address & telephone number of the person receiving the goods or services (where made to an identifiable person)</p></li>
  <li><p class="govuk-body-l">Purpose of the disbursement</p></li>
  <li><p class="govuk-body-l">Sought outcome of the disbursement</p></li>
          <ul>
        </div>

     

        {{ govukButton({
          text: "Return to 'your registrations' screen"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
