{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/check-identity-document-answer" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios",
  name: "checkDoc",
  fieldset: {
    legend: {
      text: "How can we check your identity document?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  
  items: [
    {
      value: "idCheck",
      text: "Use the 'GOV.UK ID Check' iPhone app or Android app"
    },
    {
      value: "onlinePost",
      text: "Enter my document details online and send my identity document by post"
    }
  ]
}) }}
          <div class="govuk-!-padding-bottom-5"></div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
