{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a live service and is for testing only.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-text-align-centre">
        [User completes ID verification using app]
      </h1>

      <form class="form" action="/register/identity-success" method="post">

        <p class="govuk-body govuk-!-text-align-centre">This will usually take around 10 minutes to complete. </p>

        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Skip to next stage
        </button>

      </form>

    </div>
  </div>

{% endblock %}
