{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
    homepageUrl: "#",
    serviceName: "FIRS Account",
    serviceUrl: "#",
    navigation: [
      {
        href: "your-registrations-add",
        text: "Your registrations"
      },
      {
        href: "#",
        text: "Profile",
        active: true
      },
      {
        href: "#",
        text: "Security"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
  {% endblock %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Your profile</h1>
    <h2 class="govuk-heading-m">Personal details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{ data['yourName'] }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Home address
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{ data['addressLine1'] }}<br>{{ data['addressLine2'] }}<br>{{ data['addressLine3'] }}<br>{{ data['addressTown'] }}<br>{{ data['country'] }}<br>{{ data['addressPostcode'] }}</.p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact email address
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{data['emailAddress']}}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{data['phoneNumber']}}</p>
       </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
        </dd>
      </div>
      
    </dl>
    
   
    <form action="/register/profile" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
  
    </form>
  </div>
</div>
{% endblock %}