{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a live service and is for testing only.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/register/specified-person-doc-type" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            What is their country of nationality?
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          Enter the nationality shown on your passport, your national identity card or your biometric residence card or permit.
          
         <br> <br>If you have EEA or Swiss nationality, use this. You can add another nationality later if you have more than one.
        </div>
        <input class="govuk-input" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
      </div>
      

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
