{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/register/specified-person-nino" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              {% if (data['myselfSomeone'] == "myself") %}
              <h1 class="govuk-fieldset__heading">
                Which number will you use as proof of your identity and right to work?
              </h1>
              {% else %}
              <h1 class="govuk-fieldset__heading">
                Which number will you use as proof of their identity and right to work?
              </h1>
              {% endif %}
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specifiedNumber" name="specifiedNumber" type="radio" value="nino">
                <label class="govuk-label govuk-radios__label" for="specifiedNumber">
                  UK national insurance number
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specifiedNumber-2" name="specifiedNumber" type="radio" value="socialSecurity">
                <label class="govuk-label govuk-radios__label" for="specifiedNumber-2">
                  Other Social Security Number
                </label>
              </div>
                  </fieldset>
        </div>
        <div class="govuk-!-padding-bottom-5"></div>

       
        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
