{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a not a live service and is for testing only.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/register/specified-person-passport" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              {% if (data['myselfSomeone'] == "myself") %}
              <h1 class="govuk-fieldset__heading">
                Which document will you use as proof of your identity and nationality?
              </h1>
              {% else %}
              <h1 class="govuk-fieldset__heading">
                Which document will you use as proof of their identity and nationality?
              </h1>
              {% endif %}
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specifiedPassport" name="specifiedPassport" type="radio" value="passport">
                <label class="govuk-label govuk-radios__label" for="specifiedPassport">
                  Passport
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specifiedPassport-2" name="specifiedPassport" type="radio" value="identityCard">
                <label class="govuk-label govuk-radios__label" for="specifiedPassport-2">
                  National identity card
                </label>
              </div>
                  </fieldset>
        </div>
        <div class="govuk-!-padding-bottom-5"></div>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            You'll need to upload a copy of the identity document as part of this registration.
          </strong>
        </div>
        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
