{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
    homepageUrl: "#",
    serviceName: "FIRS Account",
    serviceUrl: "#",
    navigation: [
      {
        href: "#",
        text: "Your registrations",
        active: true
      },
      {
        href: "profile",
        text: "Profile"
      },
      {
        href: "#",
        text: "Security"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
  {% endblock %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Your registrations
      </h1>

      

      <form action="/arrangement/describe-arrangement" method="post" novalidate>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Add new registration"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
          href: "/register/prove-yes-no",
          text: "Prove identity"
       
        }
      ]
    }
  }) }}
{% endblock %}