{% extends "layouts/main-w-nav.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before saving this activity
      </h1>
      <p>You will be able to amend this activity later</p>

      <h2 class="govuk-heading-m">Money, goods or services details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Has the activity already started?"
            },
            value: {
              text: data['activityStarted-disbursement']              
            },
            actions: {
              items: [
                {
                  href: "activity-start",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Activity start date"
            },
            value: {
              text: data['activityDate-disbursement-day'] +" "+ data['activityDate-disbursement-month'] | monthName('truncate') +" "+ data['activityDate-disbursement-year']              
            },
            actions: {
              items: [
                {
                  href: "activity-date",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Do you know when the activity will end?"
            },
            value: {
              text: data['activityKnown-disbursement']              
            },
            actions: {
              items: [
                {
                  href: "activity-known",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "When will the activity end?"
            },
            value: {
              text: data['activityEnd-disbursement-day']+" "+data['activityEnd-disbursement-month']|monthName('truncate')+" "+data['activityEnd-disbursement-year']
            },
            actions: {
              items: [
                {
                  href: "activity-end",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Frequency of actvities"
            },
            value: {
              text: data['often-disbursement']              
            },
            actions: {
              items: [
                {
                  href: "activity-frequency",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Will you be conducting the activity?"
            },
            value: {
              text: data['activityWho-disbursement']              
            },
            actions: {
              items: [
                {
                  href: "activity-who",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Will anyone else be involved in conducting the activity?"
            },
            value: {
              text: data['activityAnyoneElse-disbursement']              
            },
            actions: {
              items: [
                {
                  href: "activity-anyone-else",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Who will be involved in conducting the activity?"
            },
            value: {
              text: data['activityWhoElse-disbursement']              
            },
            actions: {
              items: [
                {
                  href: "activity-who-else",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What is the role of each person or entity involved in conducting the activity?"
            },
            value: {
              text: data['activityOtherPersonRole-disbursement']              
            },
            actions: {
              items: [
                {
                  href: "activity-other-person-role",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What is the relationship with any person or entity involved in conducting the activity?"
            },
            value: {
              text: data['activityOtherPersonRelationship-disbursement']              
            },
            actions: {
              items: [
                {
                  href: "activity-other-person-relationship",
                  text: "Change",
                  visuallyHiddenText: "Name of recipient"
                }
              ]
            }
          }
          ,          {
            key: {
              text: "Type of money, goods or services"
            },
            value: {
              text: data['disbursementNature'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-nature",
                  text: "Change",
                  visuallyHiddenText: "Type of money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Total value"
            },
            value: {
              text: '£' + data['disbursementValue']              
            },
            actions: {
              items: [
                {
                  href: "disbursement-value",
                  text: "Change",
                  visuallyHiddenText: "Total value of money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Name of recipient"
            },
            value: {
              text: data['disbursementName'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-name",
                  text: "Change",
                  visuallyHiddenText: "Name of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Role or job title"
            },
            value: {
              text: data['disbursementRole'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-role",
                  text: "Change",
                  visuallyHiddenText: "Role or job title of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['disbursementEmail'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-email",
                  text: "Change",
                  visuallyHiddenText: "Email address of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: data['disbursementPhone'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Telephone number of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: data['disbursementAddress'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-address",
                  text: "Change",
                  visuallyHiddenText: "Address of person receiving money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Purpose of offer"
            },
            value: {
              text: data['disbursementPurpose'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-purpose",
                  text: "Change",
                  visuallyHiddenText: "Purpose of offering money, goods or services"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Outcome of offer"
            },
            value: {
              text: data['disbursementOutcome'] 
            },
            actions: {
              items: [
                {
                  href: "disbursement-outcome",
                  text: "Change",
                  visuallyHiddenText: "Expected outcome of the offer of money, goods or services"
                }
              ]
            }
          }
        ,
        {
          key: {
            text: "Industry"
          },
          value: {
            text: data['industry-disbursement']              
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Industry the activities relate to"
              }
            ]
          }
        }
        ,  
        {
          key: {
            text: "Name of those carrying out activities"
          },
          value: {
            text: data['activitiesName-disbursement']              
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Name of those carrying out the activities"
              }
            ]
          }
        }
               
        ]
      }) }}

  
      <div class="govuk-button-group">

        <a href="/beta/arrangement/arrangement-overview?has-money-activity=yes" class="govuk-button ">Save and continue</a>

        <a href="/beta/activities/new" class="govuk-button govuk-button--secondary">Add another activity</a>

      </div>

     
    </div>
  </div>
{% endblock %}
