{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Declaration
      </h1>

      <form class="form" action="/confirmation" method="post">

        <p>
          I confirm that:
        </p>
        <ul class="govuk-list govuk-list--bullet" data-module="edge">
          <li>I have read , understaood and accept the <a href="#">terms and conditions</a> and the <a href="#">privacy policy</a></li>
          <li>I will tell the Home Office if my circumstances change</li>
          <li>the information I have provided is true and correct to the best of my knowledge</li>
        </ul>

        <p>
          I understand that:
        </p>
        <ul class="govuk-list govuk-list--bullet" data-module="edge">
          <li>the information I have provided will be published on the Public Register unless I have <a href="#">requested an exemption</a> and it is agreed by the Home Office</li>
          <li>the information I have provided might be shared with others to prevent and detect fraud</li>
          <li>other agencies may provide the Home Office with information about this registration </li>
          <li>I must provide additional information related to this arrangement if it is requsted by the Home Office</li>
        </ul>
        <div class="govuk-!-padding-bottom-5"></div>

        {{ govukCheckboxes({
          name: "declaration",
          items: [
            {
              value: "tick",
              text: "I understand and agree with the above statements"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Confirm"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
