{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/party-answer" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "party",
          value: data['party'],
          fieldset: {
            legend: {
              text: "Are the UK a party to the arrangement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        {% from "govuk/components/details/macro.njk" import govukDetails %}


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What does a party mean?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Arrangements do not need to be registered when the United Kingdom is a party to that arrangement. This includes arrangements where the UK Government, a department of the UK Government, a UK government official, or any person acting on behalf of the Crown is a party.</p>
    <p>For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Where an entity or individual who would otherwise be required to register has signed a contract with a UK government department, and the activities being carried out are related to that contract</li>
      <li>Where the UK Government has invited or authorised an individual or organisation, who would otherwise be required to register, to participate in certain activities</li>
      <li>Where an entity or individual carries out activities as part of a multi-lateral agreement to which the UK is a party</li>
    </ul>

  </div>
</details>


        </form>
    </div>
  </div>

{% endblock %}
