{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <form class="form" action="/direction-answer" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "direction",
          value: data['direction'],
          fieldset: {
            legend: {
              text: "Has the foreign government, local authority, Sovereign, or Head of State given you a specific direction as part of your arrangement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, you've been asked or instructed to carry out an activity on their behalf."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        {% from "govuk/components/details/macro.njk" import govukDetails %}

        </form>

    </div>
  </div>

{% endblock %}
