{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
      Research round 1
    </h2>
    <p> <strong>Research w/c 22 January 2024</strong></p>
  
    <p class="govuk-body">We are testing the eligibility journey for public registrants.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          More about this research
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#" class="govuk-link">Research plan</a></li>
          <li><a href="#" class="govuk-link">Discussion guide</a></li>
          <li><a href="#" class="govuk-link">Research analysis</a></li>
        </ul>
        <h3 class="govuk-heading-m">
          Research aims
        </h3>
        <ol class="govuk-list govuk-list--number">
          <li>What are users' needs, frustrations and concerns - do they align with our discovery personas?</li>
          <li>How will users become aware of FIRS without an information notice or personal search?</li>
          <li>Are users confident that the service is for them or not and how easy was it for them to know?</li>
          <li>Does the eligibility form give a clear answer on next steps and is the length of time it takes to complete acceptable?</li>
        </ol>
      </div>
    </details>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-prototype-kit-task-list__section">
        User journeys
    </h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="foreign-influence-registration-scheme" aria-describedby="task-list-1-status">Guidance page</a>
        </div>
        <div class="govuk-task-list__status" id="task-list-1-status">
          Tested
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="eligibility-start" aria-describedby="task-list-2-status">Eligibility form</a>
        </div>
        <div class="govuk-task-list__status" id="task-list-1-status">
          Tested
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-l">
      Research round 2
    </h2>
    <p> <strong>Research w/c 19 February 2024</strong></p>
  
    <p class="govuk-body">We are testing the start of the registration journey for public registrants. Specifically looking at how we triage different user groups into the service.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          More about this research
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#" class="govuk-link">Research plan</a></li>
          <li><a href="#" class="govuk-link">Discussion guide</a></li>
          <li><a href="#" class="govuk-link">Research analysis</a></li>
        </ul>
        <h3 class="govuk-heading-m">
          Research aims
        </h3>
        <ol class="govuk-list govuk-list--number">
          <li>Aim 1</li>
          <li>Aim 2</li>
          <li>Aim 3</li>
          <li>Aim 4</li>
        </ol>
      </div>
    </details>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-prototype-kit-task-list__section">
        User journeys
    </h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/register/register-start" aria-describedby="task-list-1-status">Start page</a>
        </div>
        <div class="govuk-task-list__status" id="task-list-1-status">
          Tested
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/register/register-who-are-you" aria-describedby="task-list-2-status">Create account</a>
        </div>
        <div class="govuk-task-list__status" id="task-list-1-status">
          Tested
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="/register/your-registrations-new" aria-describedby="task-list-2-status">New account</a>
        </div>
        <div class="govuk-task-list__status" id="task-list-1-status">
          Tested
        </div>
      </li>
    </ul>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Research round 3
    </h2>
    <p> <strong>Research w/c 25 March 2024</strong></p>

    <p class="govuk-body">We are testing the registration journey for public registrants. Specifically looking at questions about arrangements and activities.</p>

      <h2 class="govuk-prototype-kit-task-list__section">
        User journeys
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/arrangement/arrangement-start" aria-describedby="task-list-1-status">Start page</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/arrangement/describe-arrangement" aria-describedby="task-list-1-status">About the arrangement</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/activity/activity-type" aria-describedby="task-list-1-status">About the activities</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/communication/communication-name" aria-describedby="task-list-1-status">About the private communication</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/public/public-publication" aria-describedby="task-list-1-status">About the public communication</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/disbursement/disbursement-nature" aria-describedby="task-list-1-status">About the money, goods or services</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/declaration" aria-describedby="task-list-1-status">Declaration</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Tested
          </div>
        </li>
      </ul>

    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Design alternates
      </h2>
      <h2 class="govuk-prototype-kit-task-list__section"> <strong>For alpha assessment</strong></h2>

      <p class="govuk-body">These screens show different design approaches to solving a problem for users and how we have iterated designs based on user research.</p>

      <h2 class="govuk-prototype-kit-task-list__section">
      Design screens
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/alternates/foreign-power-A" aria-describedby="task-list-1-status">Asking users to tell us the name of the foreign power</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/alternates/disbursement-A" aria-describedby="task-list-1-status">Helping users to understand how much data to enter</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/alternates/activity-frequency-A" aria-describedby="task-list-1-status">How we ask users to input the frequency of their activities</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/alternates/access-A" aria-describedby="task-list-1-status">How we enable users to triage into the service</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>
      </ul>

      <h2 class="govuk-prototype-kit-task-list__section"><strong>For Beta assessment</strong></h2>

      <p class="govuk-body">These screens show different design approaches to solving a problem for users and how we have iterated designs based on user research.</p>

      <h3 class="govuk-prototype-kit-task-list__section">
      Design screens
      </h3>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/arrangement-alt-simple/arrangement-start" aria-describedby="task-list-1-status">Linking the 3 activity types into one path, to allow for multiple types of actvity being registered</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/arrangement-alt/arrangement-start" aria-describedby="task-list-1-status">'Add Another' pattern to allow multiple activities of the same activity type</a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Not tested
          </div>
        </li>

      </ul>

    </div>
  </div>    
  
    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
</div>

{% endblock %}
