{% extends "layouts/v3-min.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<h1 class="govuk-heading-l">Create your password</h1>

		<form action="l-4" method="post">

			{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
			
			<p><strong>Enter a password</strong><br>
			It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as 'password' or a sequence if numbers</p>

			{{ govukInput({
				classes: "govuk-input--width-10",
				id: "v-l-3",
				name: "v-l-3",
				type: "password",
				label: {
					text: "Weight, in kilograms",
					classes: "hidden"
				},
				suffix: {
					text: "Show"
				}
			}) }}	

			{{ govukInput({
				classes: "govuk-input--width-10",
				id: "v-l-3a",
				name: "v-l-3a",
				type: "password",
				label: {
					text: "Re-type your password",
					classes: ""
				},
				suffix: {
					text: "Show"
				}
			}) }}	


			{{ govukButton({
				text: "Continue"
			}) }}

			{% from "govuk/components/details/macro.njk" import govukDetails %}
			
			{{ govukDetails({
			  summaryText: "how to create a secure password",
			  text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			  proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			}) }}

		</form>

	</div>

</div>




{% endblock %}