{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		{% if (data['type'] == 'registrant') %}

		<form action="3-2-3" method="post">

		{% else %}

		{% if (data['reg-type'] == 'corp') %}
		<form action="3-2a-5" method="post">
		{% endif %}
		{% if (data['reg-type'] == 'assoc') %}
		<form action="3-2b-5" method="post">
		{% endif %}

		{% endif %}

			{% from "govuk/components/input/macro.njk" import govukInput %}
			
			{{ govukInput({
				id: "v3-2-2",
				name: "v3-2-2",
				value: data['v3-2-2'],
				label: {
					text: "What other names does "+data['v2-7']+" use?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}