{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
            Check your answers before saving this registration
        </h1>
        <p>You will be able to amend this activity later.</p>


        <h2 class="govuk-heading-m">Registration details</h2>

        <dl class="govuk-summary-list">


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Name
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v2-7']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Your Name</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Organisation type
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-1']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-1">Change<span class="govuk-visually-hidden"> Organisation type</span></a>
                </dd>
            </div>

            {% if (data['reg-type'] == "corp") %}
            <!-- CORP specific details -->
            {% if (data['v3-2a-1'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Other names
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-2">Change<span class="govuk-visually-hidden"> Other names</span></a>
                </dd>
            </div>
            {% endif %}

            {% if (data['type'] == "registrant") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Country or territory of incorporation
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-3']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-3">Change<span class="govuk-visually-hidden"> Country or territory of incorporation</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Date of incorporation
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-4-day']}}/{{data['v3-2-4-month']}}/{{data['v3-2-4-year']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-4">Change<span class="govuk-visually-hidden"> Date of incorporation</span></a>
                </dd>
            </div>
            {% endif %}

            {% if (data['v3-2a-5'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Registered address
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v3-2-7-line-1']) %}{{data['v3-2-7-line-1']}}{% endif %}{% if (data['v3-2-7-line-2']) %}, {{data['v3-2-7-line-2']}}{% endif %}{% if (data['v3-2-7-town']) %}, {{data['v3-2-7-town']}}{% endif %}{% if (data['v3-2-7-postcode']) %}, {{data['v3-2-7-postcode']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2a-5">Change<span class="govuk-visually-hidden"> Registered Address</span></a>
                </dd>
            </div>
            {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Primary address
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v3-2-8-line-1']) %}{{data['v3-2-8-line-1']}}{% endif %}{% if (data['v3-2-8-line-2']) %}, {{data['v3-2-8-line-2']}}{% endif %}{% if (data['v3-2-8-town']) %}, {{data['v3-2-8-town']}}{% endif %}{% if (data['v3-2-8-postcode']) %}, {{data['v3-2-8-postcode']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2a-5">Change<span class="govuk-visually-hidden"> Primary address</span></a>
                </dd>
            </div>
            {% endif %}

            {% if (data['v3-2-9'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Correspondence address
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v3-2-10-line-1']) %}{{data['v3-2-10-line-1']}}{% endif %}{% if (data['v3-2-10-line-2']) %}, {{data['v3-2-10-line-2']}}{% endif %}{% if (data['v3-2-10-town']) %}, {{data['v3-2-10-town']}}{% endif %}{% if (data['v3-2-10-postcode']) %}, {{data['v3-2-10-postcode']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-9">Change<span class="govuk-visually-hidden"> Correspondence Address</span></a>
                </dd>
            </div>
            {% endif %}

            {% endif %}

            {% if (data['reg-type'] == "assoc") %}
            <!-- ASSOCIATION specific details -->
            {% if (data['v3-2b-1'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Other names
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-2']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-2">Change<span class="govuk-visually-hidden"> Other names</span></a>
                </dd>
            </div>
            {% endif %}

            {% if (data['type'] == "registrant") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Country or territory of incorporation
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-3']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-3">Change<span class="govuk-visually-hidden"> Country or territory of incorporation</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Date of incorporation
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-4-day']}}/{{data['v3-2-4-month']}}/{{data['v3-2-4-year']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-4">Change<span class="govuk-visually-hidden"> Date of incorporation</span></a>
                </dd>
            </div>
            {% endif %}


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Primary address
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v3-2-8-line-1']) %}{{data['v3-2-8-line-1']}}{% endif %}{% if (data['v3-2-8-line-2']) %}, {{data['v3-2-8-line-2']}}{% endif %}{% if (data['v3-2-8-town']) %}, {{data['v3-2-8-town']}}{% endif %}{% if (data['v3-2-8-postcode']) %}, {{data['v3-2-8-postcode']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-8">Change<span class="govuk-visually-hidden"> Residential Address</span></a>
                </dd>
            </div>

            {% if (data['v3-2-9'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Correspondence address
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v3-2-10-line-1']) %}{{data['v3-2-10-line-1']}}{% endif %}{% if (data['v3-2-10-line-2']) %}, {{data['v3-2-10-line-2']}}{% endif %}{% if (data['v3-2-10-town']) %}, {{data['v3-2-10-town']}}{% endif %}{% if (data['v3-2-10-postcode']) %}, {{data['v3-2-10-postcode']}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-10">Change<span class="govuk-visually-hidden"> Correspondence Address</span></a>
                </dd>
            </div>
            {% endif %}

            {% endif %}


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Telephone Number
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-11']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-11">Change<span class="govuk-visually-hidden"> Telephone Number</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Email address
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-12']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-12">Change<span class="govuk-visually-hidden"> Email address</span></a>
                </dd>
            </div>

            {% if (data['type'] == "registrant") %}

            {% if (data['v3-2-13'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Public register
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-14']}} (Ref no: {{data['v3-2-15']}})
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-13">Change<span class="govuk-visually-hidden"> Public register</span></a>
                </dd>
            </div>
            {% endif %}

            {% if (data['reg-type'] == "corp") %}

            {% if (data['v3-2-16'] == "Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Revenue / tax authority
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v3-2-17']}} (Ref no: {{data['v3-2-18']}})
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="3-2-16">Change<span class="govuk-visually-hidden"> Revenue / tax authority</span></a>
                </dd>
            </div>
            {% endif %}

            {% endif %}

            {% endif %}



         <!--    <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Intended audience
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-3-1']) %}{{data['v4-3-1']}}
                {% else %}
                None Stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-2-1">Change<span class="govuk-visually-hidden"> Intended audience</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Activity start date
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-G2-1--t5']) == "yes" %}
                {{data['v4-G2-1--t5-day']}}/{{data['v4-G2-1--t5-month']}}/{{data['v4-G2-1--t5-year']}}
                {% else %}
                None stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Activity start date</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Activity end date
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['v4-G2-2--t5']) == "yes" %}
                {{data['v4-G2-2--t5-day']}}/{{data['v4-G2-2--t5-month']}}/{{data['v4-G2-2--t5-year']}}
                {% else %}
                None stated
                {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Activity end date</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Frequency of activity
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-G2-3--t5']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-G1-2">Change<span class="govuk-visually-hidden"> Frequency of activity</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Expected outcome
                </dt>
                <dd class="govuk-summary-list__value">
                {{data['v4-5-1']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="4-5-1">Change<span class="govuk-visually-hidden"> Expected outcome</span></a>
                </dd>
            </div>

            -->


        </dl>

<!-- 
        
        <form action="/route-v2/exception-check" method="post">
            
            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
            
            {{ govukCheckboxes({
              name: "exception-request",
              id: "exception-request",
              fieldset: {
                legend: {
                  text: "Do you want to request that the information remains private?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                classes: "govuk-hint",
                html: "<p>Some of the information about this activity will appear on a public register. You can make a request for this information to remain private if you have a legitimate reason.</p>"
              },
              items: [
                {
                  value: "Yes",
                  text: "I would like to request that the information remains private."
                }
              ]
            }) }}



            {{ govukButton({
              text: "Submit activity"
            }) }}


            
        </form>
 -->

            {{ govukButton({
              text: "Submit registration"
            }) }}

	</div>

</div>




{% endblock %}