{% extends "layouts/main-v2.html" %}
{% set bodyClasses = "registration" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="3-2-8" method="post">

			
			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "v3-2b-5",
			    id: "v3-2b-5",
			    value: data['v3-2b-5'],
			    fieldset: {
			    legend: {
			        text: "Is the primary address of "+data['v2-7']+" in the UK?",
			        isPageHeading: true,
			        classes: "govuk-fieldset__legend--l"
			    }
			    },
			    items: [
			    {
			        value: "Yes",
			        text: "Yes"
			    },
			    {
			        value: "No",
			        text: "No"
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}