{% if (data['setup'] == 'incomplete') %}
{% extends "layouts/v3-header-one-0.html" %}
{% else %}
{% extends "layouts/v3-header-one-1.html" %}
{% endif %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
Account - Contact Details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		{% if (data['return'] == 'update') %}
		<form action="contact-details?return=complete" method="post">
		{% else %}
		<form action="3-1-6" method="post">
		{% endif %}

			{% from "govuk/components/input/macro.njk" import govukInput %}
			
			{% if (data['mode'] == 'self') %}
			{{ govukInput({
				id: "v3-1-5",
				name: "v3-1-5",
				value: data['v3-1-5'],
				label: {
					text: "What is your nationality?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}
			{% else %}
			{{ govukInput({
				id: "v3-1-5",
				name: "v3-1-5",
				value: data['v3-1-5'],
				label: {
					text: "What is the nationality of "+data['accName']+"?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}

			{% endif %}




			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}