{% if (data['setup'] == 'incomplete') %}
{% extends "layouts/v3-header-one-0.html" %}
{% else %}
{% extends "layouts/v3-header-one-1.html" %}
{% endif %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
Account - Contact Details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<form action="/route-v3/3-1-2" method="post">

			
		{% from "govuk/components/radios/macro.njk" import govukRadios %}
			

		{{ govukRadios({
		    name: "v3-1-2",
		    id: "v3-1-2",
		    value: data['v3-1-2'],
		    fieldset: {
		    legend: {
		        text: "Do you have any former names?",
		        isPageHeading: true,
		        classes: "govuk-fieldset__legend--l"
		    }
		    },
		    items: [
		    {
		        value: "Yes",
		        text: "Yes"
		    },
		    {
		        value: "No",
		        text: "No"
		    }
		    ]
		}) }}


			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}