{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
  Request an exception – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

	    {% if (data['misrep'] == 'true') %}
		<form action="3-1-m1" method="post">
	    {% else %}
		<form action="3-1-check" method="post">
    	{% endif %}

		<form action="3-1-check" method="post">

			{% from "govuk/components/input/macro.njk" import govukInput %}

			{% if (data['mode'] == 'self') %}
			{{ govukInput({
				id: "v3-1-10",
				name: "v3-1-10",
				value: data['v3-1-10'],
				type: "email",
				label: {
					text: "What is your email address?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}
			{% else %}
			{{ govukInput({
				id: "v3-1-10",
				name: "v3-1-10",
				value: data['v3-1-10'],
				type: "email",
				label: {
					text: "What is the email address of "+data['v2-4']+"?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}
			{% endif %}

			


			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}