{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "registrations" %}

{% block pageTitle %}
Account - Contact Details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		{% if (data['return'] == 'update') %}
		<form action="contact-details?return=complete" method="post">
		{% elseif (data['return'] == 'check') %}
		<form action="3-1-check?return=complete" method="post">
		{% else %}
		<form action="3-1-6-a" method="post">						
		{% endif %}

		<!-- text: "What is your nationality or nationalities?", -->

		<span class="govuk-caption-l">Add your personal details</span>

			{% from "govuk/components/input/macro.njk" import govukInput %}
			

				<fieldset class="govuk-fieldset">
					{% if (data['mode'] == 'rep') %}
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">
							What is the nationality of [NAME]?
						</h1>
					</legend>
					<div id="v3-1-5-hint--1" class="govuk-hint">
						If [NAME] has multiple nationalities, add each.
					</div>
					{% else %}
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">
							What is your nationality?
						</h1>
					</legend>
					<div id="v3-1-5-hint--1" class="govuk-hint">
						If you have multiple nationalities, add each on a new row.
					</div>
					{% endif %}

					<div id="js-activity-wrapper">

						<div class="govuk-form-group govuk-form-group--add-another-block">
							<label class="govuk-label hidden" for="v3-1-5--1">
								Nationality 1
							</label>
							 <!-- id="v3-1-5--1" name="v3-1-5--1" -->

							<div class="govuk-form-group--add-another-block__fields">

								<div class="govuk-form-group--add-another-block__fields__col1 autocomplete-wrapper" id="v3-1-5--1"></div>

								<div class="govuk-form-group--add-another-block__fields__col2 govuk-body">
									<a class="govuk-link row-remove hidden" data-row="v3-1-5--1">Remove</a>
								</div>

							</div>

						</div>
						
					</div>

				</fieldset>



			<div id="add-another-button"  class="govuk-!-padding-top-5">
				<a href="#" class="govuk-button govuk-button--secondary"  id="add-another-button">Add another</a>
			</div>
	  

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>





<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>



<script type="text/javascript">
	var nationalities = [
	  'Afghan',
	  'Albanian',
	  'Algerian',
	  'American',
	  'Andorran',
	  'Angolan',
	  'Anguillan',
	  'Citizen of Antigua and Barbuda',
	  'Argentine',
	  'Armenian',
	  'Australian',
	  'Austrian',
	  'Azerbaijani',
	  'Bahamian',
	  'Bahraini',
	  'Bangladeshi',
	  'Barbadian',
	  'Belarusian',
	  'Belgian',
	  'Belizean',
	  'Beninese',
	  'Bermudian',
	  'Bhutanese',
	  'Bolivian',
	  'Citizen of Bosnia and Herzegovina',
	  'Botswanan',
	  'Brazilian',
	  'British',
	  'British Virgin Islander',
	  'Bruneian',
	  'Bulgarian',
	  'Burkinan',
	  'Burmese',
	  'Burundian',
	  'Cambodian',
	  'Cameroonian',
	  'Canadian',
	  'Cape Verdean',
	  'Cayman Islander',
	  'Central African',
	  'Chadian',
	  'Chilean',
	  'Chinese',
	  'Colombian',
	  'Comoran',
	  'Congolese (Congo)',
	  'Congolese (DRC)',
	  'Cook Islander',
	  'Costa Rican',
	  'Croatian',
	  'Cuban',
	  'Cymraes',
	  'Cymro',
	  'Cypriot',
	  'Czech',
	  'Danish',
	  'Djiboutian',
	  'Dominican',
	  'Citizen of the Dominican Republic',
	  'Dutch',
	  'East Timorese',
	  'Ecuadorean',
	  'Egyptian',
	  'Emirati',
	  'English',
	  'Equatorial Guinean',
	  'Eritrean',
	  'Estonian',
	  'Ethiopian',
	  'Faroese',
	  'Fijian',
	  'Filipino',
	  'Finnish',
	  'French',
	  'Gabonese',
	  'Gambian',
	  'Georgian',
	  'German',
	  'Ghanaian',
	  'Gibraltarian',
	  'Greek',
	  'Greenlandic',
	  'Grenadian',
	  'Guamanian',
	  'Guatemalan',
	  'Citizen of Guinea-Bissau',
	  'Guinean',
	  'Guyanese',
	  'Haitian',
	  'Honduran',
	  'Hong Konger',
	  'Hungarian',
	  'Icelandic',
	  'Indian',
	  'Indonesian',
	  'Iranian',
	  'Iraqi',
	  'Irish',
	  'Israeli',
	  'Italian',
	  'Ivorian',
	  'Jamaican',
	  'Japanese',
	  'Jordanian',
	  'Kazakh',
	  'Kenyan',
	  'Kittitian',
	  'Citizen of Kiribati',
	  'Kosovan',
	  'Kuwaiti',
	  'Kyrgyz',
	  'Lao',
	  'Latvian',
	  'Lebanese',
	  'Liberian',
	  'Libyan',
	  'Liechtenstein citizen',
	  'Lithuanian',
	  'Luxembourger',
	  'Macanese',
	  'Macedonian',
	  'Malagasy',
	  'Malawian',
	  'Malaysian',
	  'Maldivian',
	  'Malian',
	  'Maltese',
	  'Marshallese',
	  'Martiniquais',
	  'Mauritanian',
	  'Mauritian',
	  'Mexican',
	  'Micronesian',
	  'Moldovan',
	  'Monegasque',
	  'Mongolian',
	  'Montenegrin',
	  'Montserratian',
	  'Moroccan',
	  'Mosotho',
	  'Mozambican',
	  'Namibian',
	  'Nauruan',
	  'Nepalese',
	  'New Zealander',
	  'Nicaraguan',
	  'Nigerian',
	  'Nigerien',
	  'Niuean',
	  'North Korean',
	  'Northern Irish',
	  'Norwegian',
	  'Omani',
	  'Pakistani',
	  'Palauan',
	  'Palestinian',
	  'Panamanian',
	  'Papua New Guinean',
	  'Paraguayan',
	  'Peruvian',
	  'Pitcairn Islander',
	  'Polish',
	  'Portuguese',
	  'Prydeinig',
	  'Puerto Rican',
	  'Qatari',
	  'Romanian',
	  'Russian',
	  'Rwandan',
	  'Salvadorean',
	  'Sammarinese',
	  'Samoan',
	  'Sao Tomean',
	  'Saudi Arabian',
	  'Scottish',
	  'Senegalese',
	  'Serbian',
	  'Citizen of Seychelles',
	  'Sierra Leonean',
	  'Singaporean',
	  'Slovak',
	  'Slovenian',
	  'Solomon Islander',
	  'Somali',
	  'South African',
	  'South Korean',
	  'South Sudanese',
	  'Spanish',
	  'Sri Lankan',
	  'St Helenian',
	  'St Lucian',
	  'Stateless',
	  'Sudanese',
	  'Surinamese',
	  'Swazi',
	  'Swedish',
	  'Swiss',
	  'Syrian',
	  'Taiwanese',
	  'Tajik',
	  'Tanzanian',
	  'Thai',
	  'Togolese',
	  'Tongan',
	  'Trinidadian',
	  'Tristanian',
	  'Tunisian',
	  'Turkish',
	  'Turkmen',
	  'Turks and Caicos Islander',
	  'Tuvaluan',
	  'Ugandan',
	  'Ukrainian',
	  'Uruguayan',
	  'Uzbek',
	  'Vatican citizen',
	  'Citizen of Vanuatu',
	  'Venezuelan',
	  'Vietnamese',
	  'Vincentian',
	  'Wallisian',
	  'Welsh',
	  'Yemeni',
	  'Zambian',
	  'Zimbabwean'
	]
</script>


<script type="text/javascript">
    var element = document.querySelector('#v3-1-5--1')
    var id = 'v3-1-5--1'
    accessibleAutocomplete({
      element: element,
      id: id,
	  name: id,
      source: nationalities
    })
</script>

<script>

function dynamicTitle () {
    $('#js-activity-wrapper').on("keyup", ".name-field", function( event ) {
      let thisName = $(this).val();
      $(this).closest(".person-module").find(".min-label__name").html(thisName);
    })
}

function manageRows () {

$('.row-remove').on('click', function() {
	// console.log('CLICK');
	var thisRow = $(this).data('row');
	console.log(thisRow);
	$(this).closest(".govuk-form-group--add-another-block").addClass('delete-row');
	$('input#'+thisRow).val('');
	// $(this).closest(".person-module").find(".update-button-group").removeClass('update-button-group--hidden');
	return false;
})

}

function addNew() {

    var newNameId = 2;
    var addAnotherButton = document.getElementById('add-another-button');
    var names = document.getElementById('js-activity-wrapper');

    var stringToHTML = function (str) {
      var parser = new DOMParser();
      var doc = parser.parseFromString(str, 'text/html');
      return doc.body.firstChild;
    };

    addAnotherButton.onclick = function () {

      $('.person-module').addClass('person-module--hidden');

      var s = stringToHTML(`
      
		<div class="govuk-form-group govuk-form-group--add-another-block">
			<label class="govuk-label hidden" for="v3-1-5--${newNameId}">
				Nationality ${newNameId}
			</label>
			<div class="govuk-form-group--add-another-block__fields">

				<div class="govuk-form-group--add-another-block__fields__col1 autocomplete-wrapper" id="v3-1-5--${newNameId}"></div>

				<div class="govuk-form-group--add-another-block__fields__col2 govuk-body">
					<a class="govuk-link row-remove" data-row="v3-1-5--${newNameId}">Remove</a>
				</div>

			</div>

		</div>


      `);




    names.appendChild(s);


	var element = document.querySelector('#v3-1-5--'+newNameId);
	var id = 'v3-1-5--'+newNameId;
	accessibleAutocomplete({
		element: element,
		id: id,
		name: id,
		source: nationalities
	});
	// document.getElementById("industry"+newNameId).focus();
	manageRows();

	newNameId++;
    return false;
    console.log(newNameId);
    
	};
    
};




window.onload = function() {
    dynamicTitle();
    addNew();
	manageRows();
};

</script>



{% endblock %}


