{% if (data['setup'] == 'incomplete') %}
{% extends "layouts/v3-header-one-0.html" %}
{% else %}
{% extends "layouts/v3-header-one-1.html" %}
{% endif %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
Account - Contact Details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">
		
		<span class="govuk-caption-l">Personal details</span>
		<!-- hint: {
			text: 'This is based on the name you told us earlier on. You can update it here.'
		} -->

		{% if (data['return'] == 'update') %}
		<form action="contact-details?return=complete" method="post">
			{% from "govuk/components/input/macro.njk" import govukInput %}
			
			{{ govukInput({
				id: "v3-1-1",
				name: "v3-1-1",
				value: data['v3-1-1'],
				label: {
					text: "What is your name?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>
		{% elseif (data['return'] == 'check') %}
		<form action="3-1-check?return=complete" method="post">
			{% from "govuk/components/input/macro.njk" import govukInput %}
			
			{{ govukInput({
				id: "v3-1-1",
				name: "v3-1-1",
				value: data['v3-1-1'],
				label: {
					text: "What is your name?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>
		{% else %}

		{% if (data['acc-type'] == 'Organisation') %}

		<form action="3-1-2" method="post">
			{% from "govuk/components/input/macro.njk" import govukInput %}
			
			{{ govukInput({
				id: "v3-1-1",
				name: "v3-1-1",
				value: data['v3-1-1'],
				label: {
					text: "What is your name?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

		{% else %}

		<form action="3-1-2" method="post">
			{% from "govuk/components/input/macro.njk" import govukInput %}
			
			{{ govukInput({
				id: "v3-1-1",
				name: "v3-1-1",
				value: data['accName'],
				label: {
					text: "What is your name?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

		{% endif %}

		{% endif %}


	</div>

</div>




{% endblock %}