{% if (data['setup'] == 'incomplete') %}
{% extends "layouts/v3-header-one-0.html" %}
{% else %}
{% extends "layouts/v3-header-one-1.html" %}
{% endif %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
Account - Contact Details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		<!-- <form action="3-1-m1" method="post"> -->

	    {% if (data['misrep'] == 'true') %}
			{% if (data['return'] == 'update') %}
			<form action="contact-details?return=complete" method="post"><!-- update to misrep questions, if w add these here -->
			{% else %}
			<form action="3-1-check" method="post">
			{% endif %}
	    {% else %}
			{% if (data['return'] == 'update') %}
			<form action="contact-details?return=complete" method="post">
			{% elseif (data['return'] == 'check') %}
			<form action="3-1-check?return=complete" method="post">
			{% else %}
			<form action="3-1-check" method="post">						
			{% endif %}
    	{% endif %}

			<span class="govuk-caption-l">Add your personal details</span>


			{% from "govuk/components/input/macro.njk" import govukInput %}

			{% if (data['mode'] == 'rep') %}
			{{ govukInput({
				id: "v3-1-10",
				name: "v3-1-10",
				value: data['v3-1-10'],
				type: "email",
				label: {
					text: "What is your email address?",
					classes: "govuk-label--l",
					isPageHeading: true
				}
			}) }}
			{% else %}
			{{ govukInput({
				id: "v3-1-10",
				name: "v3-1-10",
				value: data['v3-1-10'],
				type: "email",
				label: {
					text: "What is your contact email address?",
					classes: "govuk-label--l",
					isPageHeading: true
				},
				hint: {
					text: "This is the email address we will use to send a notification each time there is an update or action on your account."
				}
			}) }}
			{% endif %}

			


			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}