{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
Account - Contact Details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		{% if (data['return'] == 'update') %}
		<form action="contact-details?return=complete" method="post">
		{% elseif (data['return'] == 'check') %}
		<form action="3-1-check?return=complete" method="post">
		{% else %}
		<form action="3-1-2?accName={{data['v3-1-1']}}" method="post">
		{% endif %}

			{% from "govuk/components/input/macro.njk" import govukInput %}
			
			{{ govukInput({
				id: "v3-1-1",
				name: "v3-1-1",
				value: data['accName'],
				label: {
					text: "What is your name?",
					classes: "govuk-label--l",
					isPageHeading: true
				},
				hint: {
					text: 'This is based on the name you told us earlier on. You can update it here.'
				}
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}