{% if (data['setup'] == 'incomplete') %}
{% extends "layouts/v3-header-one-0.html" %}
{% else %}
{% extends "layouts/v3-header-one-1.html" %}
{% endif %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
Account - Contact Details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		{% if (data['return'] == 'update') %}
		<form action="contact-details?return=complete" method="post">
		{% elseif (data['return'] == 'check') %}
		<form action="3-1-check?return=complete" method="post">
		{% else %}
		<form action="3-1-3" method="post">						
		{% endif %}

		<span class="govuk-caption-l">Personal details</span>

		{% from "govuk/components/radios/macro.njk" import govukRadios %}
			

		{{ govukRadios({
		    name: "v3-1-2",
		    id: "v3-1-2",
		    value: data['v3-1-2'],
		    fieldset: {
		    legend: {
		        text: "Do you have any former names?",
		        isPageHeading: true,
		        classes: "govuk-fieldset__legend--l"
		    }
		    },
		    items: [
		    {
		        value: "Yes",
		        text: "Yes"
		    },
		    {
		        value: "No",
		        text: "No"
		    }
		    ]
		}) }}


			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}