{% if (data['setup'] == 'incomplete') %}
{% extends 'layouts/v3-header-one-0.html' %}
{% else %}
{% extends 'layouts/v3-header-one-1.html' %}
{% endif %}
{% set activeLinkId = 'account' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
        Add your contact details – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='../account' method='post'>
    
                <span class='govuk-caption-l'>Add your contact details</span>
    
                <h1 class="govuk-heading-l">Setting up your account</h1>

                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Your name
                        </dt>
                        <dd class="govuk-summary-list__value">
                        {{data['v3-1-1']}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="a2-e">Change<span class="govuk-visually-hidden"> activity intended to influence</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Your email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data['v3-1-10']}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="a2-e">Change<span class="govuk-visually-hidden"> activity intended to influence</span></a>
                        </dd>
                    </div>
        
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Your telephone number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data['v3-1-9']}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="a2-e">Change<span class="govuk-visually-hidden"> activity intended to influence</span></a>
                        </dd>
                    </div>
    
    
                </dl>
        
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}