{% if (data['setup'] == 'incomplete') %}
{% extends "layouts/v3-header-one-0.html" %}
{% else %}
{% extends "layouts/v3-header-one-1.html" %}
{% endif %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
Account - Contact Details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds-from-desktop">

		{% if (data['return'] == 'update') %}
		<form action="../account?return=complete" method="post">
		{% else %}
			{% if (data['setup'] == 'incomplete') %}
			<form action="../account/setup" method="post">
			{% else %}
			<form action="../account" method="post">
			{% endif %}
		{% endif %}


			
			{% from "govuk/components/radios/macro.njk" import govukRadios %}
			
			{{ govukRadios({
			    name: "identity-verification",
			    id: "identity-verification",
			    value: data['identity-verification'],
			    fieldset: {
			    legend: {
			        text: "Set IDV status",
			        isPageHeading: true,
			        classes: "govuk-fieldset__legend--l"
			    }
			    },
			    hint: {
			    	text: "Shortcuts to set diff statuses"
			    },
			    items: [
			    {
			        value: "Completed",
			        text: "Completed"
			    },
			    {
			        value: "Pending",
			        text: "Pending"
			    },
			    {
			        value: "Rejected",
			        text: "Rejected"
			    },
			    {
			        value: "Incomplete",
			        text: "Incomplete"
			    }
			    ]
			}) }}

			{{ govukButton({
				text: "Continue"
			}) }}

		</form>

	</div>

</div>




{% endblock %}