{% extends "layouts/v3-header-one-1.html" %}
{% set activeLinkId = "account" %}

{% block pageTitle %}
Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block footer %}
{{ govukFooter({
meta: {
items: [
{
href: "account/index-alt",
text: "Alternate account home"
},
{
href: "/manage-prototype",
text: "Manage your prototype"
},
{
href: "/manage-prototype/clear-data",
text: "Clear data"
}
],
visuallyHiddenTitle: "Footer links"
}
}) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">

        {% if (data['setup'] != 'complete') %}
            
            <div class="govuk-notification-banner govuk-notification-banner--success-" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title govuk-heading-l" id="govuk-notification-banner-title">
                    New account created
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-body-m">If you need to create a FIRS registration for yourself or your organisation, click  <a class="govuk-notification-banner__link" href="/journey/v3/onboard/on-1">Add a registrant</a>.</p>
                    <p class="govuk-body-m">If you have a share code to link a registrant to your account, click <a class="govuk-notification-banner__link" href="#">Link a registrant</a>.</p>
                </div>
            </div>
        {% endif %}




		{% if (data['acc-type'] == "Individual") %}

		<span class="govuk-caption-l">Account home</span>
		<h1 class="govuk-heading-l">
			{% if (data['v3-1-1']) %}{{data['v3-1-1']}}{% elseif (data['userName']) %}{{data['accName']}}{% else %}Registrant Name{% endif %}

        </h1>

        
        
		{% elseif (data['acc-type'] == "Entity") %}

		<span class="govuk-caption-l">Account home</span>
		<h1 class="govuk-heading-l">
			{% if (data['e1']) %}{{data['e1']}}{% elseif (data['orgName']) %}{{data['orgName']}}{% else	%}Entity Name{% endif %}
		</h1>

        {% else %}
			
		<span class="govuk-caption-l">Account home</span>
		<h1 class="govuk-heading-l">
			{% if (data['v3-1-1']) %}{{data['v3-1-1']}}{% elseif (data['accName']) %}{{data['accName']}}{% else	%}Registrant Name{% endif %}
        </h1>

        {% if (data['v3-1-1']) %}
        {% else %}
        <a href="/journey/v3/account/contact-start" class="govuk-button">Quick setup - start here</a>            
        {% endif %}
		
        {% endif %}


		<p>This is your account home for the Foreign Influence Regsitration Scheme (FIRS).<br> You can return to this
			account <strong>Home</strong> page at any time to find common actions and account wide statuses.</p>



		{% if (data['acc-type'] == "Individual") %}

		{% elseif (data['acc-type'] == "Entity") %}

		{% else  %}

		{% endif %}

		<div class="firs-home-containers">


            <div class="firs-home-containers__panel">
				<a href="onboard/on-0">
					<h3 class="govuk-heading-m">Create a registrant</h3>
					<p>The registrant can be you or an organisation you work for.</p>
						<!-- <br><a href="account/contact-details" class="govuk-link">Transfer ownership</a></p> -->
				</a>
			</div>


            <div class="firs-home-containers__panel">
				<a href="account/link-registrant">
					<h3 class="govuk-heading-m">Link to a registrant</h3>
					<p>Use a 16-digit code to link your FIRS account to a registrant.</p>
						<!-- <br><a href="account/contact-details" class="govuk-link">Transfer ownership</a></p> -->
				</a>
			</div>

            <div class="firs-home-containers__panel">
				<a href="registrations">
					<h3 class="govuk-heading-m">Registrants</h3>
					<p>View, manage, and add new agreements and activities.</p>
				</a>
			</div>

			<div class="firs-home-containers__panel">
				<a href="#">
					<h3 class="govuk-heading-m">Tasks / messages</h3>
					<p>View and complete outstanding tasks.</p>
					<!-- <p>You currently have <strong>2</strong> tasks.</p> -->
				</a>
			</div>

            <div class="firs-home-containers__panel">
				<a href="#">
					<h3 class="govuk-heading-m">Guidance</h3>
					<p>Useful links to help you find the information you need.</p>
				</a>
			</div>


            <div class="firs-home-containers__panel">
				<a href="account/contact-details">
					<h3 class="govuk-heading-m">Your FIRS account</h3>
					<p>Update your FIRS account details and verify your identity.</p>
						<!-- <br><a href="account/contact-details" class="govuk-link">Transfer ownership</a></p> -->
				</a>
			</div>





		<!-- 
		{{ govukSummaryList({
		  card: {
		    title: {
		      text: "Registrations"
		    }
		  },
		  rows: [
		    {
		      key: {
		        text: "None"
		      },
		      value: {
		        html: "Complete Account information first"
		      },
		      actions: {
		        items: [
		          {
		            href: "#",
		            text: "Update",
		            visuallyHiddenText: "age"
		          }
		        ]
		      }
		    }
		  ]
		}) }} -->

	</div>

</div>




{% endblock %}