{% if (data['setup'] == 'incomplete') %}
{% extends 'layouts/v3-header-one-0.html' %}
{% else %}
{% extends 'layouts/v3-header-one-1.html' %}
{% endif %}
{% set activeLinkId = 'account' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
    Link registrant – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='link-registrant-1' method='post'>
    
                <span class='govuk-caption-l'>Link registrant</span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'link-reg-firs-code',
                    name: 'link-reg-firs-code',
                    value: data['link-reg-firs-code'],
                    label: {
                        text: 'Enter the 16 digit FIRS Code you have recieved',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        text: 'This will be in the format of XXXX-XXXX-XXXX-XXXX. You do not need to add the hyphens.'
                    }
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}