{% if (data['setup'] == 'incomplete') %}
{% extends 'layouts/v3-header-one-0.html' %}
{% else %}
{% extends 'layouts/v3-header-one-1.html' %}
{% endif %}
{% set activeLinkId = 'account' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
    Link registrant – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v3/link-registrant' method='post'>
    


                <span class='govuk-caption-l'>Connect to a registrant</span>
    
                <h1 class="govuk-heading-l">Connection declined</h1>

                <p> You have declined to be connected to {{data['orgName']}}.</p>

    
                {{ govukButton({
                    text: 'Continue',
                    href: "/journey/v3/account/index"
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}