{% if (data['setup'] == 'incomplete') %}
{% extends 'layouts/v3-header-one-0.html' %}
{% else %}
{% extends 'layouts/v3-header-one-1.html' %}
{% endif %}
{% set activeLinkId = 'account' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
    Add a representative – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='rep-4' method='post'>
    
                <span class='govuk-caption-l'>Add a user</span>
    
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'rep-email',
                    name: 'rep-email',
                    value: data['rep-email'],
                    label: {
                        text: 'What is the email address of the user you want to add?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        text: 'We will send a FIRS code to this user, which will give them to access your account.'
                    }
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}