{% if (data['setup'] == 'incomplete') %}
{% extends 'layouts/v3-header-one-0.html' %}
{% else %}
{% extends 'layouts/v3-header-one-1.html' %}
{% endif %}
{% set activeLinkId = 'account' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
    Add a representative – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='rep-2' method='post'>
    
                <span class='govuk-caption-l'>Add a user</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'rep-account',
                    name: 'rep-account',
                    value: data['rep-account'],
                    fieldset: {
                        legend: {
                            text: 'What type of user do 
                            you want to add?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                       value: 'Standard',
                        text: 'Standard',
                        hint: {
                            text: 'A Standard user can add and submit agreements 
                            and activities, and request exceptions. They 
                            cannot add other users.'
                        }
                    },
                    {
                       value: 'Administrator ',
                        text: 'Administrator ',
                        hint: {
                            text: 'An Administrator user can add and submit 
                            agreements and activities, and request exceptions. 
                            Administrator users can also add and remove other 
                            users, including Administrator users, and update the 
                            details of the Registrant.'
                        }
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}