{% if (data['setup'] == 'incomplete') %}
{% extends 'layouts/v3-header-one-0.html' %}
{% else %}
{% extends 'layouts/v3-header-one-1.html' %}
{% endif %}
{% set activeLinkId = 'account' %}
    
    {% set registrant %}{{data['orgName']}}{% endset -%} <!-- '+registrant+' -->
    
    {% block pageTitle %}
    Add a representative – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='rep-2' method='post'>
    
                <span class='govuk-caption-l'>Add a representative</span>
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'rep-account',
                    name: 'rep-account',
                    value: data['rep-account'],
                    fieldset: {
                        legend: {
                            text: 'What type of user do 
                            you want to add?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias voluptates, ipsam tenetur animi culpa vero, voluptas natus at itaque error sapiente minus cum quo veritatis modi reiciendis suscipit deserunt fugiat'
                    },
                    items: [
                    {
                       value: 'User',
                        text: 'User',
                        hint: {
                            text: 'A user can add agreements, activities 
                            and exceptions to the registrant'
                        }
                    },
                    {
                       value: 'Admin',
                        text: 'Admin',
                        hint: {
                            text: 'In addition to all "User" permissions, an 
                            Admin can manage other users added 
                            to this regsitration. They can also 
                            request an update to the registrant 
                            details.'
                        }
                    }
                    ]
                }) }}
    
                {{ govukButton({
                    text: 'Continue'
                }) }}
            </form>
        </div>
    </div>
    {% endblock %}